<div class="flow-chips">
  @for (
    step of processSteps();
    track step.PROCESS_FLOW;
    let i = $index;
    let last = $last
  ) {
    <div class="flow-chip">
      <span class="flow-chip__name">{{ formatLabel(step.PROCESS_FLOW) }}</span>
      <span class="flow-chip__divider"></span>
      <span class="flow-chip__amount">
        @if (step.TYPE === "Value") {
          {{ formatAmount(step.AMOUNT) }}
        } @else {
          {{ step.AMOUNT }}
        }
      </span>
    </div>
    @if (!last) {
      <span class="flow-connector">
        <span class="flow-connector__dot"></span>
        <span class="flow-connector__line"></span>
        <span class="flow-connector__dot"></span>
      </span>
    }
  }
</div>
