LLM_CLIENT_ID=0oasjwtn017EStcqS5d7
LLM_CLIENT_SECRET=5NGgIdi7zrmFqE97RJ5lpI1wYR0qSzO3XEulk-ezkbZLTgtGzWYd5IUeoeFdTS6w
LLM_APP_KEY=egai-prd-operations-020071239-other-1768925063475
ORACLE_API_URL=https://subscription-ai-spring-api.cisco.com

WEBEX_TEAMS_ACCESS_TOKEN=OTViNjIyODItNmFlMS00ODMzLWEwNDctNTkwMjE2Nzg3OWIzYjdlNjc5MmItNmYw_PF84_1eb65fdf-9643-417f-9974-ad72cae0e10f
# CONTROL_TOWER_API_BASE_URL=https://operations-control-tower-api.cisco.com
