<br />
<div>
  <div>
    <div>
      <h4>
        <label>Quarter:</label> &nbsp;&nbsp; {{ midcloseQuarter }} &nbsp;&nbsp;
        | &nbsp;&nbsp; <label>Period:</label> &nbsp;&nbsp; {{ midclosePeriod }}
      </h4>
      <br />
      <p><label>Start:</label> &nbsp;&nbsp; {{ midCloseStartTime }}</p>
      <p><label>End:</label> &nbsp;&nbsp;&nbsp;&nbsp; {{ midCloseEndTime }}</p>
      <p>
        <label>Expected Close Time:</label> &nbsp;&nbsp; {{ midCloseEndTime }}
      </p>
      <br /><br />
      <div>
        <h2>Entity View</h2>
        <span style="display: flex; align-items: center">
          <div>
            <mat-form-field appearance="standard" a>
              <mat-label>Select Entites</mat-label>
              <mat-select
                [formControl]="midcloseEntities"
                id="entity"
                name="entity"
                multiple
              >
                <mat-option
                  *ngFor="let entity of entityList"
                  [value]="entity"
                  (onSelectionChange)="entityChange('MIDCLOSE')"
                  [disabled]="entity !== 'All' && midcloseAllEntitiesSelected"
                  >{{ entity }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          &nbsp;&nbsp;
          <div *ngIf="showmidStatusFilter">
            <mat-form-field appearance="standard" a>
              <mat-label>Select Statuses</mat-label>
              <mat-select
                [formControl]="midcloseStatuses"
                id="status"
                name="status"
                multiple
              >
                <mat-option
                  *ngFor="let status of statusList"
                  [value]="status"
                  (onSelectionChange)="statusChange('MIDCLOSE')"
                  [disabled]="status !== 'All' && midcloseAllStatusSelected"
                  >{{ status }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            &nbsp; &nbsp; &nbsp; &nbsp; Legend: &nbsp; &nbsp; ✓ Completed &nbsp;
            &nbsp; ⏳ In progress &nbsp; &nbsp; ⚠️ Delayed &nbsp; &nbsp; 🛑
            Stopped &nbsp; &nbsp; ⏸️ Yet to start
          </div>
        </span>
      </div>
    </div>

    <table mat-table class="table table-responsive equal-width">
      <thead>
        <tr>
          <th *ngFor="let col of meStatusColumns">{{ col }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngIf="
            midcloseSelectedEntities && midcloseSelectedEntities.length > 0
          "
        >
          <td></td>
          <td
            *ngFor="
              let category of templateObject.keys(mCloseProgBarStatusMapping)
            "
          >
            <p>
              <circle-progress
                [percent]="mCloseProgBarStatusMapping[category]['value']"
                [outerStrokeColor]="
                  getCircleColor(
                    category,
                    mcloseSelectedMonthEndStatusTableData
                  )
                "
              ></circle-progress>
            </p>
          </td>
        </tr>
        <tr
          *ngIf="
            midcloseSelectedEntities && midcloseSelectedEntities.length > 0
          "
        >
          <td *ngFor="let row of mcloseExecutionWindow">{{ row }}</td>
        </tr>
        <tr *ngFor="let row of mcloseSelectedMonthEndStatusTableData">
          <td *ngFor="let category of templateObject.keys(row)">
            <span *ngIf="row[category].toLowerCase() === 'completed'">✓</span>
            <span *ngIf="row[category].toLowerCase() === 'na'">N/A</span>
            <span *ngIf="row[category].toLowerCase() === 'in progress'"
              >⏳</span
            >
            <span *ngIf="row[category].toLowerCase() === 'yet to start'"
              >⏸️</span
            >
            <span
              matTooltipPosition="right"
              matTooltip="Refer to comments below"
              *ngIf="row[category].toLowerCase() === 'delayed'"
              >⚠️</span
            >
            <span
              matTooltipPosition="right"
              matTooltip="Refer to comments below"
              *ngIf="row[category].toLowerCase() === 'stopped'"
              >🛑</span
            >
            <span
              *ngIf="
                [
                  'completed',
                  'na',
                  'in progress',
                  'yet to start',
                  'delayed',
                  'stopped'
                ].indexOf(row[category].toLowerCase()) === -1
              "
              >{{ row[category] }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br />
    <h2>Interface Load</h2>
    <div class="header-container">
      <p>Legend: &nbsp;&nbsp; Number of lines</p>
      <button
        mat-stroked-button
        (click)="
          exportTableToExcel(
            midcloseInterfaceLoadTableData,
            'Midclose Interface Load',
            'mcloseInterfaceLoadTableData'
          )
        "
      >
        Download
      </button>
    </div>
    <table class="table table-responsive table-bordered table-striped">
      <thead>
        <tr>
          <th *ngFor="let col of mcloseInterfaceLoadColumns">{{ col }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of midcloseInterfaceLoadTableData">
          <ng-container
            *ngFor="let key of templateObject.keys(row); let i = index"
          >
            <td *ngIf="i < templateObject.keys(row).length - 2">
              {{ row[key] }}
            </td>
            <td *ngIf="i >= templateObject.keys(row).length - 2">
              <span *ngIf="row[key].slice(0, -1) > 0">⬆ {{ row[key] }}</span>
              <span *ngIf="row[key].slice(0, -1) < 0"
                >⬇ {{ getAbsoluteValue(row[key].slice(0, -1)) }}%</span
              >
              <span *ngIf="row[key].slice(0, -1) == 0">0%</span>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <br /><br />
    <div class="header-container">
      <h2>Invoices Generated</h2>
      <button
        mat-stroked-button
        (click)="
          exportTableToExcel(
            midCloseProgramTableData,
            'Midclose Invoices Generated',
            'mcloseInvoicesGeneratedTableData'
          )
        "
      >
        Download
      </button>
    </div>
    <cui-table
      *ngIf="midCloseProgramTableData.length"
      [options]="programTableOptions"
      [data]="midCloseProgramTableData"
      class="cuiAlign"
    ></cui-table>

    <br /><br />
    <div class="header-container">
      <h2 id="tableHeading" *ngIf="qeCashCollectedData.length">Cash Posted</h2>
      <button
        mat-stroked-button
        (click)="
          exportTableToExcel(
            qeCashCollectedData,
            'Midclose Quarter End Cash Posted',
            'mcloseQECashCollectedTableData'
          )
        "
      >
        Download
      </button>
    </div>
    <cui-table
      *ngIf="qeCashCollectedData.length"
      [options]="qeCashCollectedTableOptions"
      [data]="qeCashCollectedData"
      class="cuiAlign"
    ></cui-table>
    <br />
    <div>
      <h3>Comments</h3>
      <form>
        <input
          name="comments"
          class="form-control form-control-sm"
          type="text"
          placeholder="Add a comment"
          [(ngModel)]="updatedComments"
          (focus)="showCommentSave = true"
          style="width: 40%; height: 60px"
        />
        <br />
        <span *ngIf="showCommentSave">
          <button
            mat-raised-button
            (click)="updateComments()"
            style="background-color: #049fd9; color: white"
          >
            Save</button
          >&nbsp;
          <button
            mat-raised-button
            (click)="showCommentSave = false"
            style="color: #049fd9"
          >
            Cancel
          </button>
          <br /><br />
        </span>
      </form>
      <div>
        <div *ngFor="let comment of dashComments">
          <ul *ngIf="comment.CLOSE_TYPE === 'MIDCLOSE'">
            <li>
              <p style="margin-bottom: 10px">
                <b>Admin</b> &nbsp;
                <span style="color: #6b6a6a">{{ comment.CREATION_DATE }}</span>
              </p>
              <p>{{ comment.PERIOD_NAME }}: {{ comment.COMMENTS }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <br />
    <br />
  </div>
</div>
