<br />
<div>
  <div>
    <div>
      <h4>
        <label>Quarter:</label> &nbsp;&nbsp; {{ quarter }} &nbsp;&nbsp; |
        &nbsp;&nbsp; <label>Period:</label> &nbsp;&nbsp; {{ period }}
      </h4>
      <br />
      <p><label>Start:</label> &nbsp;&nbsp; {{ midCloseStartTime }}</p>
      <p><label>End:</label> &nbsp;&nbsp;&nbsp;&nbsp; {{ midCloseEndTime }}</p>
      <p>
        <label>Expected Close Time:</label> &nbsp;&nbsp; {{ midCloseEndTime }}
        <!-- <span *ngIf="!closeTimeEdit">
          {{ midCloseEndTime }}
          <i
            id="editCloseTime"
            class="fa fa-edit"
            (click)="editContent($event)"
          ></i>
        </span>
        <span *ngIf="closeTimeEdit">
          <input type="date" id="closeTime" name="closeTime" />&nbsp;
          <input
            id="updateCloseTime"
            type="submit"
            value="Update"
            (click)="updateContent($event)"
          />
        </span> -->
      </p>
      <br /><br />
      <div>
        <h2>Entity View</h2>
        <span style="display: flex; align-items: center">
          <div>
            <mat-form-field appearance="standard" a>
              <mat-label>Select Entites</mat-label>
              <mat-select
                id="entity"
                name="entity"
                [(ngModel)]="selectedEntities"
                (ngModelChange)="selectedEntity(selectedEntities)"
                multiple
              >
                <mat-option
                  *ngFor="let entity of entityList"
                  [value]="entity"
                  >{{ entity }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="standard" a>
              <mat-label>Select Statuses</mat-label>
              <mat-select
                [formControl]="statuses"
                id="status"
                name="status"
                [(ngModel)]="selectedStatuses"
                (ngModelChange)="selectedStatus()"
                multiple
              >
                <mat-option
                  *ngFor="let status of statusList"
                  [value]="status"
                  >{{ status }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            &nbsp; &nbsp; &nbsp; &nbsp; Legend: &nbsp; &nbsp; ✓ Completed &nbsp;
            &nbsp; ⏳ In progress &nbsp; &nbsp; ⚠️ Delayed &nbsp; &nbsp; 🛑
            Stopped &nbsp; &nbsp; ⏸️ Yet to start
          </div>
        </span>
      </div>
    </div>
    <!-- <div class="col-lg-4" style="float: right;">
    <div>
      <label>Volume</label>
    </div>
    <div>
      <label>Product:</label>
      <span>&nbsp;{{productVolume}} &nbsp;</span>
      <span class="legendIcon">
        <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div>
      <label>Service:</label>
      <span>&nbsp;{{serviceVolume}} &nbsp;</span>
      <i class="fa fa-info-circle legendIcon"></i>
    </div>
  </div> -->
    <table mat-table class="table table-responsive equal-width">
      <thead>
        <tr>
          <th *ngFor="let col of meStatusColumns">{{ col }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="selectedEntities && selectedEntities.length > 0">
          <td></td>
          <td
            *ngFor="
              let category of templateObject.keys(mCloseProgBarStatusMapping)
            "
          >
            <p>
              <circle-progress
                [percent]="mCloseProgBarStatusMapping[category]['value']"
                [outerStrokeColor]="
                  getCircleColor(
                    category,
                    mcloseSelectedMonthEndStatusTableData
                  )
                "
              ></circle-progress>
            </p>
          </td>
        </tr>
        <tr *ngIf="selectedEntities && selectedEntities.length > 0">
          <td *ngFor="let row of mcloseExecutionWindow">{{ row }}</td>
        </tr>
        <tr *ngFor="let row of mcloseSelectedMonthEndStatusTableData">
          <td *ngFor="let category of templateObject.keys(row)">
            <span *ngIf="row[category].toLowerCase() === 'completed'">✓</span>
            <span *ngIf="row[category].toLowerCase() === 'na'">N/A</span>
            <span *ngIf="row[category].toLowerCase() === 'in progress'"
              >⏳</span
            >
            <span *ngIf="row[category].toLowerCase() === 'yet to start'"
              >⏸️</span
            >
            <span *ngIf="row[category].toLowerCase() === 'delayed'">⚠️</span>
            <span
              matTooltip="Refer to comments below"
              *ngIf="row[category].toLowerCase() === 'stopped'"
              >🛑</span
            >
            <span
              *ngIf="
                [
                  'completed',
                  'na',
                  'in progress',
                  'yet to start',
                  'delayed',
                  'stopped'
                ].indexOf(row[category].toLowerCase()) === -1
              "
              >{{ row[category] }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br />
    <h2>Interface Load</h2>
    <div class="header-container">
      <p>Legend: &nbsp;&nbsp; Number of lines</p>
      <button
        mat-stroked-button
        (click)="
          exportTableToCSV(
            midcloseInterfaceLoadData,
            mcloseInterfaceLoadColumns
          )
        "
      >
        Download
      </button>
    </div>
    <table class="table table-responsive table-bordered table-striped">
      <thead>
        <tr>
          <th *ngFor="let col of mcloseInterfaceLoadColumns">{{ col }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of midcloseInterfaceLoadTableData">
          <ng-container *ngFor="let cell of row; let i = index">
            <td *ngIf="i < row.length - 2">{{ cell }}</td>
            <td *ngIf="i >= row.length - 2">
              <span *ngIf="cell.slice(0, -1) > 0">⬆ {{ cell }}</span>
              <span *ngIf="cell.slice(0, -1) < 0"
                >⬇ {{ getAbsoluteValue(cell.slice(0, -1)) }}%</span
              >
              <span *ngIf="cell.slice(0, -1) == 0">0%</span>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <br /><br />
    <h2>Invoices Generated</h2>
    <br />
    <cui-table
      *ngIf="midCloseProgramTableData.length"
      [options]="programTableOptions"
      [data]="midCloseProgramTableData"
      class="cuiAlign"
    ></cui-table>

    <br /><br />
    <h2 id="tableHeading" *ngIf="qeCashCollectedData.length">
      Cash posted in last week of Quarter Ends
    </h2>
    <br />
    <cui-table
      *ngIf="qeCashCollectedData.length"
      [options]="qeCashCollectedTableOptions"
      [data]="qeCashCollectedData"
      class="cuiAlign"
    ></cui-table>

    <br />
    <br />
    <!-- <div class="col-sm-6" style="float: left;">
    <div>
      <label>Comments: &nbsp;</label>
      <div *ngIf="!editComments">
        <ul>
          <li *ngFor="let comment of comments">{{comment}}</li>
        </ul>
        <br>
        <input id="editComments" type="submit" value="Edit" (click)="editContent($event)">
      </div>
      <div *ngIf="editComments">
        <textarea></textarea>
        <br>
        <input id="updateComments" type="submit" value="Update" (click)="updateContent($event)">
      </div>
    </div>
  </div> -->
  </div>
</div>
