.table-responsive {
  overflow: auto;
}

.mat-header-cell {
  font-size: 12px;
  /* white-space: normal !important; */
  justify-content: center !important;
}

.mat-cell {
  font-size: 12px;
  /* white-space: normal !important; */
}

th.mat-header-cell {
  padding-bottom: unset !important;
  padding-top: unset !important;
  padding-left: 15px !important;
}

td {
  text-align: center !important;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boldrow {
  font-weight: bold !important;
}

/* .total-row-separator {
  border-bottom: 2px solid black !important;
}

table.mat-table tr.mat-row.total-row-separator td {
  border-bottom: 2px solid black !important;
} */

td.mat-cell tr.mat-row.total-row-separator {
  border-bottom: 1px solid black;
}
