<div
  style="
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1.2rem;
  "
  class="grid-2"
>
  <div style="width: 50%" class="card">
    <ng-container *ngIf="barChartLoading">
      <div style="text-align: center">
        <app-loading-symbol></app-loading-symbol>
      </div>
    </ng-container>
    <canvas id="barChartCanvasId"></canvas>
    <p class="chart-description">
      Product and service lines by fiscal quarter.
    </p>
  </div>

  <div style="width: 50%" class="card">
    <ng-container *ngIf="loading">
      <div style="text-align: center">
        <app-loading-symbol></app-loading-symbol>
        <div class="chart-description">
          The DB queries behind this chart may take 30+ seconds to run. Thank
          you for your patience.
        </div>
      </div>
    </ng-container>
    <ng-container>
      <canvas id="lineChartCanvas"></canvas>
    </ng-container>
    <p class="chart-description">
      ML-predicted upper & lower bounds execution window based for historical
      data.
    </p>
  </div>

  <br />
</div>

<div class="container grid-1" style="max-width: 100%; padding-top: 0px">
  <div class="row">
    <div class="col-sm-4">
      <p style="padding-top: 14px" class="page-title">&nbsp;All Entities</p>
    </div>
    <div
      class="col-sm-5 justify-content-center align-items-center"
      style="display: flex; align-items: center; padding-top: 16px"
    >
      <p>Legend: Number of Lines. Data refreshed every 5 minutes.</p>
    </div>
    <div
      class="col-sm-3 justify-content-end align-items-center"
      style="display: flex"
    >
      <i
        class="fa fa-download"
        style="font-size: 20px; color: gray; cursor: pointer"
        aria-hidden="true"
        (click)="
          refreshExportData();
          exportTableToExcel(
            exportData,
            'HistoricalData',
            'HistoricalDataReport'
          )
        "
      ></i
      >&nbsp;&nbsp;&nbsp;
    </div>
  </div>

  <div class="sortArrow" style="overflow: auto; max-width: unset">
    <table
      mat-table
      [dataSource]="dataSource"
      class="table table-responsive table-striped"
      aria-label="WD+0 Mid Close Volumes Table"
    >
      <ng-container
        *ngFor="let column of displayedColumns; let i = index"
        [matColumnDef]="column"
      >
        <th mat-header-cell *matHeaderCellDef>
          <ng-container *ngIf="column === 'trend'; else otherHeader">
            QoQ Trend
          </ng-container>
          <ng-template #otherHeader>
            {{ formatColumnHeader(column) | uppercase }}
          </ng-template>
        </th>

        <td
          mat-cell
          *matCellDef="let row; let rowIndex = index"
          [ngStyle]="
            isProductTotalRow(row)
              ? { 'border-bottom': '2px solid rgb(0, 158, 220)' }
              : {}
          "
        >
          <ng-container *ngIf="column !== 'trend'; else trendContent">
            <span *ngIf="column === 'ENTITY' || column === 'LINE_TYPE'"
              ><b> {{ row[column] }}</b></span
            >
            <span *ngIf="column !== 'ENTITY' && column !== 'LINE_TYPE'">
              {{ row[column] | formatNumber }}
            </span>
          </ng-container>
          <ng-template #trendContent>
            <span
              *ngIf="
                getTrend(row, displayedColumns[i - 2], displayedColumns[i - 1])
                  .trend === 'up'
              "
            >
              ⬆
              {{
                getTrend(row, displayedColumns[i - 2], displayedColumns[i - 1])
                  .change === "—"
                  ? "—"
                  : (getTrend(
                      row,
                      displayedColumns[i - 2],
                      displayedColumns[i - 1]
                    ).change | number : "1.0-0") + "%"
              }}
            </span>
            <span
              *ngIf="
                getTrend(row, displayedColumns[i - 2], displayedColumns[i - 1])
                  .trend === 'down'
              "
            >
              ⬇
              {{
                getTrend(row, displayedColumns[i - 2], displayedColumns[i - 1])
                  .change === "—"
                  ? "—"
                  : (getTrend(
                      row,
                      displayedColumns[i - 2],
                      displayedColumns[i - 1]
                    ).change | number : "1.0-0") + "%"
              }}
            </span>
            <span
              *ngIf="
                getTrend(row, displayedColumns[i - 2], displayedColumns[i - 1])
                  .trend === 'same'
              "
            >
              —
            </span>
          </ng-template>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [ngStyle]="
          isProductTotalRow(row)
            ? { 'total-row-separator': 'total-row-separator' }
            : {}
        "
      ></tr>
    </table>
  </div>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!dataSource?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>
</div>

<br /><br /><br />
