<br />
<h1>Mid Close Volumes</h1>

<div style="display: flex; align-items: flex-end">
  <div style="width: 48vw; padding-left: 1vw">
    <canvas id="barChartCanvasId"></canvas>
  </div>

  <div style="width: 48vw; padding-left: 1vw">
    <canvas id="lineChartCanvas"></canvas>
  </div>

  <br />

  <!-- <div class="slider-container">
    <div class="slider-title">Estimated Mid Close Runtime</div>
    <div class="slider">
      <div class="time">{{ lowerCI | number : "1.2-2" }} hrs</div>
      <div class="slider-bar">
        <span class="slider-circle start-circle"> </span>
      </div>
      <div class="time">{{ upperCI | number : "1.2-2" }} hrs</div>
    </div>
  </div> -->
</div>

<div class="row">
  <div class="col-sm-4">
    <h4 style="padding-top: 14px">&nbsp;All Entities</h4>
  </div>
  <div
    class="col-sm-5 justify-content-center align-items-center"
    style="display: flex; align-items: center; padding-top: 16px"
  >
    <p>Legend: Number of Lines</p>
  </div>
  <div
    class="col-sm-3 justify-content-end align-items-center"
    style="display: flex"
  >
    <i
      class="fa fa-download"
      style="font-size: 20px; color: gray; cursor: pointer"
      aria-hidden="true"
      (click)="
        exportTableToExcel(
          historicalData,
          'HistoricalData',
          'HistoricalDataReport'
        )
      "
    ></i
    >&nbsp;&nbsp;&nbsp;
  </div>
</div>

<div class="periodclosetbale sortArrow" style="overflow: auto; max-width: 100%">
  <table
    mat-table
    [dataSource]="dataSource"
    class="table table-responsive table-striped"
    aria-label="Mid Close Volumes Table"
  >
    <ng-container
      *ngFor="let column of displayedColumns; let i = index"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ formatColumnHeader(column) | uppercase }}
      </th>
      <td
        mat-cell
        *matCellDef="let row; let rowIndex = index"
        [ngStyle]="
          isProductTotalRow(row)
            ? { 'border-bottom': '2px solid rgb(0, 158, 220)' }
            : {}
        "
      >
        <ng-container
          *ngIf="i >= displayedColumns.length - 1; else defaultContent"
        >
          <span
            *ngIf="
              getTrend(row, displayedColumns[i - 1], column).trend === 'up'
            "
          >
            {{
              getTrend(row, displayedColumns[i - 1], column).change.toFixed(0)
            }}% ⬆ {{ row[column] }}
          </span>
          <span
            *ngIf="
              getTrend(row, displayedColumns[i - 1], column).trend === 'down'
            "
          >
            {{
              getTrend(row, displayedColumns[i - 1], column).change.toFixed(0)
            }}% ⬇ {{ row[column] }}
          </span>
          <span
            *ngIf="
              getTrend(row, displayedColumns[i - 1], column).trend === 'same'
            "
          >
            {{ row[column] }}
          </span>
        </ng-container>

        <ng-template #defaultContent>
          <span *ngIf="column == 'ENTITY' || column == 'LINE_TYPE'"
            ><b> {{ row[column] }}</b></span
          >
          <span *ngIf="column != 'ENTITY' && column != 'LINE_TYPE'">
            {{ row[column] | formatNumber }}
          </span>
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngStyle]="
        isProductTotalRow(row)
          ? { 'total-row-separator': 'total-row-separator' }
          : {}
      "
    ></tr>
  </table>
</div>

<div style="display: flex; justify-content: center">
  <ng-container *ngIf="!dataSource?.data?.length">
    <tr>
      <td colspan="100%" style="text-align: center">
        <app-loading-symbol></app-loading-symbol>
      </td>
    </tr>
  </ng-container>
</div>
