<div
  style="
    margin: -24px -24px 0 -24px; /* Removes default padding */
    background-color: #08ace4;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  "
>
  <!-- Title on the left -->
  <h5 style="margin: 0; font-weight: 450">File Upload</h5>

  <!-- Icons on the right (Download and Close) -->
  <a style="text-decoration: none; cursor: pointer">
    <i
      class="fa fa-close"
      style="font-size: 16px; color: white"
      (click)="closeDialog('closed')"
    ></i>
  </a>
</div>

<br />
<!-- <div style="display: flex; justify-content: flex-end; align-items: center">
  <a href="../../assets/Large Order Upload Sample.csv" download
    ><i class="svg-icon download-icon" aria-hidden="true"></i>
    <span>&nbsp;Download Sample Template</span>
  </a>
</div> -->
<br />
<div
  class="file-drop-zone"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  cdkDropList
>
  <i style="color: gray" class="fa fa-2x fa-cloud-upload"></i>
  <p>Drag and drop your file here</p>
  <p>or</p>
  <button mat-raised-button (click)="fileInput.click()">Select File</button>
  <input
    [multiple]="false"
    style="display: none"
    (change)="onFileSelected($event)"
    #fileInput
    type="file"
    accept=".xlsx, .xls, .csv"
  />
  <br />
  <br />
  <span *ngIf="selectedFile">
    <i class="fa fa-close" style="color: gray" (click)="removeFile()"></i>
    File selected:
    <a
      ><b style="font-weight: 500">{{ selectedFile.name }}</b></a
    >
    &nbsp;<i class="fa fa-check-circle" style="color: #32a50f"></i>
  </span>
</div>
<br />
<div style="text-align: center" *ngIf="fileSelected">
  <button
    class="btn btn-primary"
    mat-stroked-button
    style="color: white"
    (click)="uploadDealsFile()"
  >
    Upload
  </button>
</div>
