
<div class="row dbl-padding-bottom">
    <div class="col-lg-6 col-xl-4 base-padding-bottom">
        <nav class="sidebar" role="navigation">
            <div class="sidebar__header">
                <div class="sidebar__header-title text-center">
                    <p><span class="icon-cisco icon-size-48"></span></p>
                    <h4>Accruals Dashboard</h4>
                </div>
            </div>
            <ul>
                <li class="sidebar__item" [routerLinkActive]="['sidebar__item--selected']">
                    <a [routerLink]="['/dashboard']">Dashboard</a>
                </li>
                <li class="sidebar__item" [routerLinkActive]="['sidebar__item--selected']">
                    <a [routerLink]="['/contract-asset-balance']">Contract Asset Balance</a>
                </li>
                <li class="sidebar__item" [routerLinkActive]="['sidebar__item--selected']">
                    <a [routerLink]="['/exception-report']">Exception Report</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="container content">
    <router-outlet></router-outlet>
</div>