<div class="modal-overlay" (click)="closeDialog('cancel')">
  <div class="modal-content container" (click)="$event.stopPropagation()">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #00bceb;
        margin: -20px -20px 0 -20px;
        padding: 15px;
      "
    >
      <h5
        class="section-title"
        style="margin: 0; font-weight: lighter; color: white"
      >
        Assign User
      </h5>
      <i
        class="svg-icon close-icon-white"
        (click)="closeDialog('cancel')"
        style="cursor: pointer; font-size: 16px; color: white"
      ></i>
    </div>

    <div class="modal-body">
      @if (formReady()) {
        <form [formGroup]="updateForm" class="form-stack">
          @for (field of fieldConfig(); track field.controlName) {
            <div class="input-stack">
              <label>{{ field.label }}</label>
              @if (field.controlName === "assignedTo") {
                <select [formControlName]="field.controlName" required>
                  <option value="" disabled>Select User</option>
                  @for (
                    data of getAssignmentUsersForTemplate();
                    track data.NAME
                  ) {
                    <option [value]="data.NAME">
                      {{ data.NAME }}
                    </option>
                  }
                </select>
              } @else {
                @if (field.options?.length) {
                  <select [formControlName]="field.controlName">
                    <option value="" disabled>Select {{ field.label }}</option>
                    @for (option of field.options; track option.value) {
                      <option [value]="option.value">
                        {{ option.label }}
                      </option>
                    }
                  </select>
                } @else {
                  <input
                    type="text"
                    [formControlName]="field.controlName"
                    [placeholder]="'Enter ' + field.label"
                  />
                }
              }
            </div>
          }
        </form>
      }
    </div>

    <div class="modal-footer">
      <button class="custom-button-tertiary" (click)="closeDialog('cancel')">
        Cancel
      </button>
      <button
        class="custom-button-primary"
        [disabled]="!formReady() || updateForm.invalid"
        (click)="submitData()"
      >
        Save
      </button>
    </div>
  </div>
</div>
