<div class="givemespace"><h4>Program Run Details</h4>
    <div>
        RevenueAccrualsAM : Sat-Fri (5am,3pm)<br />
        RevenueAccrualsPM : Sun-Fri (Daily AI)
    </div>
</div>
<br />
<div class="givemespace">
    <h4>Last Program Run</h4>
    <cui-table *ngIf="programTableData.length" [options]="programTableOptions" [data]="programTableData"></cui-table>
</div>

<ng-template #dateCell let-row="celldata" let-column="celltemplate">
    <span>{{transformDate(row, column)}}</span></ng-template>