<div
  style="display: flex; flex-direction: row; flex-wrap: wrap; max-height: 30vh"
>
  <a [routerLink]="['/detail-view']">
    <div class="callout-box">
      <div class="box-header">⬇ Top $ Error</div>
      <div class="box-body">$1234</div>
    </div>
  </a>

  <a [routerLink]="['/detail-view']">
    <div class="callout-box">
      <div class="box-header">Top Source</div>
      <div class="box-body">$12343</div>
    </div>
  </a>

  <a [routerLink]="['/detail-view']">
    <div class="callout-box">
      <div class="box-header">Most Expensive</div>
      <div class="box-body">$12345</div>
    </div>
  </a>

  <a [routerLink]="['/detail-view']">
    <div class="callout-box">
      <div class="box-header">⬆ Top $ Error</div>
      <div class="box-body">$1235</div>
    </div>
  </a>

  <a [routerLink]="['/detail-view']">
    <div class="callout-box">
      <div class="box-header">Most Records</div>
      <div class="box-body">$1235</div>
    </div>
  </a>
</div>
