<div class="top-right">
  <button
    class="export-button"
    (click)="
      exportTableToExcel(
        unpostedSummaryData,
        'Unposted Summary Data',
        'Unposted Summary Data'
      );
      exportTableToExcel(
        receiptErrorSummaryData,
        'Receipt Error Summary Data',
        'Receipt Error Summary Data'
      )
    "
  >
    <i class="fa fa-download"></i>
    Export
  </button>
</div>

<div
  style="display: flex; flex-direction: row; flex-wrap: wrap; max-height: 30vh"
>
  <a [routerLink]="['/detail-view']">
    <div class="callout-box">
      <div class="box-body">3</div>

      <div class="box-header">Interface Errors in last 48 hours</div>
    </div>
  </a>
  <a [routerLink]="['/detail-view']">
    <div class="callout-box">
      <div class="box-body">2</div>

      <div class="box-header">Extracts Errors in last 7 days</div>
    </div>
  </a>
  <a [routerLink]="['/detail-view']">
    <div class="callout-box">
      <div class="box-body">3</div>

      <div class="box-header">Interface Errors in last 48 hours</div>
    </div>
  </a>

  <div class="slider-container">
    <div class="slider-title">Application Status</div>
    <div class="slider">
      <div class="slider-bar">
        <span
          class="slider-circle circle-1"
          customToolTip
          [contentTemplate]="ctmTooltip"
        >
          <p class="circle-caption" style="left: -0.6vh">Control-M</p>
        </span>

        <ng-template #ctmTooltip>
          <table>
            <thead>
              <tr>
                <th>Extract Name</th>
                <th>Status</th>
                <th>Last Update</th>
                <th>Color</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of ctmDetails">
                <td>{{ detail.EXTRACT_NAME }}</td>
                <td>{{ detail.STATUS }}</td>
                <td>{{ detail.LAST_UPDATE_DATE | date : "short" }}</td>
                <td>{{ detail.COLOR_CODE }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
        <span
          class="slider-circle circle-2"
          customToolTip
          [contentTemplate]="boomiTooltip"
        >
          <p class="circle-caption">Boomi</p>
        </span>

        <ng-template #boomiTooltip>
          <table>
            <thead>
              <tr>
                <th>Extract Name</th>
                <th>Status</th>
                <th>Last Update</th>
                <th>Color</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of boomiDetails">
                <td>{{ detail.EXTRACT_NAME }}</td>
                <td>{{ detail.STATUS }}</td>
                <td>{{ detail.LAST_UPDATE_DATE | date : "short" }}</td>
                <td>{{ detail.COLOR_CODE }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>

        <span class="slider-circle circle-3">
          <p class="circle-caption" style="left: -1.1vh">High Radius</p>
        </span>
      </div>
    </div>
  </div>
</div>

<hr />

<h4 style="font-weight: 600">Unposted Summary Table</h4>
<div class="arclosetable">
  <table class="table table-responsive equal-width styled-table">
    <thead>
      <tr>
        <th>Organization ID</th>
        <th>Number of Payments</th>
        <th>Remittance Amount (USD)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of unpostedSummaryData">
        <td>{{ item.ORG_ID }}</td>
        <td>{{ item.NO_OF_PAYMENTS }}</td>
        <td>{{ item.REMITTANCE_AMOUNT_USD | number : "1.2-2" }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="display: flex; justify-content: center">
  <ng-container *ngIf="!unpostedSummaryData?.length">
    <tr>
      <td colspan="100%" style="text-align: center">
        <app-loading-symbol></app-loading-symbol>
      </td>
    </tr>
  </ng-container>
</div>

<br />

<h4 style="font-weight: 600">Receipt Error Summary Table</h4>

<div class="arclosetable">
  <table class="table table-responsive equal-width styled-table">
    <thead>
      <tr>
        <th>Operating Unit</th>
        <th>Number of Payments</th>
        <th>Unapplied Amount (USD)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of receiptErrorSummaryData">
        <td>{{ item.OPERATING_UNIT }}</td>
        <td>{{ item.NO_OF_PAYMENTS }}</td>
        <td>{{ item.UNAPPLIED_AMOUNT_USD | number : "1.2-2" }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="display: flex; justify-content: center">
  <ng-container *ngIf="!receiptErrorSummaryData?.length">
    <tr>
      <td colspan="100%" style="text-align: center">
        <app-loading-symbol></app-loading-symbol>
      </td>
    </tr>
  </ng-container>
</div>
<br />

<br /><br />
