a {
  text-decoration: none !important;
}

.callout-box {
  margin: 1vw;
  display: flex;
  min-width: 9vw;
  width: fit-content;
  min-height: 5vw;
  flex-direction: column;
  padding: 0.5vh 1vw;
  gap: 8px;
  word-wrap: break-word;
  background-color: #f2f2f2;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  align-items: center;
  height: fit-content;
}

.callout-box.callout-box-table {
  padding: 0.5vh 0vw;
  /* width: 47vw; */
}

.box-header {
  color: var(--light-base-chart-subtitle, rgba(0, 0, 0, 0.6));
  font-size: calc(8px + 0.2vw);
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  letter-spacing: 0.25px;
}

.box-body {
  color: var(--light-base-chart-title, #000);
  font-size: calc(12px + 1.5vw);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.mat-header-row {
  background-color: #049fd9 !important;
}

.mat-header-cell {
  color: rgb(255, 255, 255) !important;
  text-align: center !important;
  border-bottom: 0px !important;
  font-size: 12px !important;
  padding: 1vh !important;
}

/* Styling for table rows */
.mat-row:nth-child(odd) {
  background-color: #f2f2f2 !important;
}

.mat-row:nth-child(even) {
  background-color: #ffffff !important;
}

.mat-cell {
  text-align: center !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  padding: 0.4vh !important;
  border: 0px !important;
}

tr.mat-row {
  height: 30px;
  border-bottom: 0px;
}

td {
  font-size: 11px;
}

th {
  text-align: center !important;
  border-bottom: 0px !important;
  font-size: 12px;
  padding: 0.5vh !important ;
}

td {
  text-align: center !important;
  font-size: 11px;
  padding: 0.4vh !important ;
  border: 0px !important;
}

tr.mat-header-row {
  height: 28px;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  align-items: center;
  justify-content: center !important;
}

::ng-deep .mat-sort-header-arrow {
  color: #ffffff; /* Change to your desired color */
}

.flowchart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 90px;
}

.slider-container {
  font-family: Roboto, sans-serif;
  margin: 20px;
  padding: 6px;
  border-radius: 8px;
}

.slider-title {
  color: #333;
  font-size: 16px;
  margin-bottom: 32px;
  text-align: center;
}

.slider {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.slider-bar {
  height: 10px;
  background: linear-gradient(to right, #16371e43, #112a2c29);
  position: relative;
  margin: 0 10px;
  border-radius: 16px;
  width: 287px;
}

.slider-bar-lower {
  top: -60px;
  left: 140px;
  height: 10px;
  background: linear-gradient(to right, #16371e43, #112a2c29);
  position: relative;
  margin: 0 10px;
  border-radius: 16px;
  width: 287px;
  z-index: -1;
}

.slider-circle {
  position: absolute;
  top: -14px;
  width: 36px;
  height: 36px;
  border-radius: 32px;
  background: #049fd9;
  transition: opacity 1.4s ease-in-out;
}

.slider-circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #4db8ff00, #68e0e0c2);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 32px;
}

.slider-circle:hover:before {
  opacity: 1;
}

.circle-1 {
  left: 50px;
}

.circle-2 {
  left: 150px;
}

.circle-3 {
  left: 250px;
}

.circle-4 {
  left: 350px;
}

.lower-circle {
  top: 70px;
}

.circle-caption {
  font-size: 12px;
  color: #333;
  text-align: center;
  position: relative;
  top: 40px;
  width: max-content;
}

.circle-2-caption {
  left: 141px;
  top: 18px;
}

.circle-3-caption {
  left: 249px;
  top: -50px;
}

.lower-caption {
  top: 70px;
}

.lower-caption-3 {
  top: 2px;
}

.diagonal-bar {
  width: 100px; /* Adjust as needed */
  height: 10px;
  background: linear-gradient(to right, #16371e43, #112a2c29);
  position: absolute;
  top: 10px; /* Adjust to position correctly */
  left: 80px; /* Adjust to position correctly */
  transform: rotate(39deg);
  transform-origin: top left;
  z-index: -1;
}

.diagonal-bar-2 {
  width: 100px; /* Adjust as needed */
  height: 10px;
  background: linear-gradient(to right, #16371e43, #112a2c29);
  position: absolute;
  top: 11px; /* Adjust to position correctly */
  left: 285px; /* Adjust to position correctly */
  transform: rotate(39deg);
  transform-origin: top left;
  z-index: -1;
}

.top-right {
  position: absolute;
  top: 1.25vh;
  right: 1.25vh;
}

.export-button {
  background-color: #ffffff00;
  border: none;
  color: rgb(0, 0, 0);
  padding: 0.625vh 1.25vh; /* 10px / 16 * 1vh, 20px / 16 * 1vh */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 0.25vh 0.125vh;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
}

.export-button .fa {
  margin-right: 0.5vh;
}

.custom-tooltip {
  max-width: none;
}

.tooltip-table {
  background: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.tooltip-table table {
  width: 100%;
  border-collapse: collapse;
}

.tooltip-table th,
.tooltip-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.tooltip-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-circle {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  background: #049fd9;
}

.color-circle {
  margin-top: 2px;
  display: inline-block;
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
  border-radius: 50%;
}

.vertical-divider {
  width: 1px;
  background-color: #e0e0e0; /* Adjust the color as needed */
  min-height: 28vh; /* Adjust the height as needed */
  height: auto;
  margin: 1vw 1rem; /* Adjust the margin to add space around the divider */
}

.widget-tray {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 30vh;
}
