:host {
  display: block;
  /* Create a linear gradient background */
  background: linear-gradient(
    to right,
    white 0%,
    #f7f7f7 3.5%,
    #f7f7f7 50%,
    #f7f7f7 97.5%,
    white 100%
  );

  /* background: #f7f7f7; */
  min-height: 100vh; /* Ensure it covers the entire height of the viewport */
  padding: 1.2rem; /* Add padding to keep spacing from the edges */
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
}

.callout-box {
  /* margin: 1vw; */
  display: flex;
  /* min-height: 5vw; */
  flex-direction: column;
  padding: 0.5vh 1vw;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  outline: 2px solid #e1e4e8;
  border-radius: 8px;
  align-items: center;
  height: fit-content;
}

.callout-box.callout-box-table {
  width: auto;
  padding: 0.5vh 0vw;
  outline: 0px;
  border-radius: 12px;
  box-shadow: 0 3px 8px #00000014;

  flex: 1; /* Tables will fill 45% of the available space */
  min-width: 300px; /* Ensure they don’t get too small */
  max-width: 100%; /* Max width set to 100% to avoid overflow */
  box-sizing: border-box;
}

.callout-box.callout-box-widget {
  width: stretch;
}

.box-header {
  color: var(--light-base-chart-subtitle, rgba(0, 0, 0, 0.6));
  font-size: calc(7px + 0.2vw);
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  letter-spacing: 0.25px;
}

.box-body {
  color: var(--light-base-chart-title, #000);
  font-size: calc(10px + 1vw);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.mat-mdc-header-row {
  background-color: #ffffff !important;
  border-bottom: 2px solid #373c42 !important; /* Add a bar below the header row */
}

.mat-mdc-header-cell {
  color: #373c42 !important;
  text-align: center !important;
  border-bottom: 0px !important;
  font-size: 12px !important;
  padding: 1vh !important;
}

/* Styling for table rows */
.mat-mdc-row:nth-child(odd) {
  background-color: #f2f2f2 !important;
}

.mat-mdc-row:nth-child(even) {
  background-color: #ffffff !important;
}

.mat-mdc-cell {
  text-align: center !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  padding: 0.4vh !important;
  border: 0px !important;
}

.clickable-row {
  cursor: pointer;
}

.non-clickable-row {
  cursor: default;
}

tr.mat-mdc-row {
  height: 30px;
  border-bottom: 0px;
}

td {
  font-size: 11px;
}

th {
  text-align: center !important;
  border-bottom: 0px !important;
  font-size: 12px;
  padding: 0.5vh !important ;
}

td {
  text-align: center !important;
  font-size: 11px;
  padding: 0.4vh !important ;
  border: 0px !important;
}

tr.mat-mdc-header-row {
  height: 28px;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  align-items: center;
  justify-content: center !important;
}

::ng-deep .mat-sort-header-arrow {
  color: #ffffff; /* Change to your desired color */
}

.flowchart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.slider-container {
  font-family: Roboto, sans-serif;
  margin-bottom: 36px;
  margin-left: 20px;
  padding: 6px;
  border-radius: 8px;
}

.slider-title {
  color: #333;
  margin-bottom: 24px;
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.slider {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.slider-bar,
.top-slider-bar,
.middle-slider-bar {
  width: 395px;
  height: 10px;
  position: relative;
  margin: 0 10px;
}

.top-slider-bar {
  background: #16371e43;
  width: 180px;
  left: 97px;
}

.middle-slider-bar {
  background: linear-gradient(to right, #16371e43, #112a2c29);
  margin: 22px 20px;
  width: 50px; /* Adjust width as needed */
  border-radius: 10px;
}

.middle-slider-bar-end {
  position: absolute;
  left: 344px;
  background: linear-gradient(to right, #16371e43, #112a2c29);
  margin: 0px 0;
  width: 50px; /* Adjust width as needed */
}

.slider-bar-lower {
  top: -54px;
  left: 97px;
  height: 10px;
  background: linear-gradient(to right, #16371e43, #16371e10);
  position: relative;
  margin: 0 10px;
  width: 180px;
  z-index: 0;
}

.slider-circle {
  position: absolute;
  top: -14px;
  width: 36px;
  height: 36px;
  border-radius: 32px;
  background: #00bceb;
  transition: opacity 1.4s ease-in-out;
  z-index: 1;
}

.slider-circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #4db8ff00, #68e0e0c2);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 32px;
}

.slider-circle:hover:before {
  opacity: 1;
}

.circle-1 {
  left: 30px;
}

.circle-2 {
  left: 130px;
}

.circle-3 {
  left: 230px;
}

.circle-4 {
  left: -18px;
}

.lower-circle {
  top: 70px;
}

.circle-caption {
  font-size: 12px;
  color: #333;
  text-align: center;
  position: relative;
  top: 40px;
  width: max-content;
}

.circle-2-caption {
  left: 121px;
  top: 6px;
}

.circle-3-caption {
  left: 229px;
  top: -63px;
}

.lower-caption {
  top: 56px;
}

.lower-caption-3 {
  top: -12px;
}

.curved-bar {
  position: absolute;
  top: 0px; /* Adjust the position as needed */
  left: 60px; /* Adjust the position as needed */
  width: 94px; /* Adjust as needed */
  height: 94px; /* Adjust as needed */
  border: 10px solid transparent; /* Border width to match bar thickness */
  border-top-color: #16371e43; /* Color of the curve */
  border-right-color: #16371e43; /* Color of the curve */
  border-radius: 50%; /* Make it a quarter circle */
  transform: rotate(225deg); /* Rotate to make it fit */
  z-index: 0;
}

.curved-bar-2 {
  position: absolute;
  top: 0px; /* Adjust the position as needed */
  left: 240px; /* Adjust the position as needed */
  width: 94px; /* Adjust as needed */
  height: 94px; /* Adjust as needed */
  border: 10px solid transparent; /* Border width to match bar thickness */
  border-top-color: #16371e43; /* Color of the curve */
  border-right-color: #16371e10; /* Color of the curve */
  border-radius: 50%; /* Make it a quarter circle */
  transform: rotate(45deg); /* Rotate to make it fit */
  z-index: 0;
}

/* Chevron Arrows */
.chevron,
.lc-2,
.lc-3 {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #f7f7f7 transparent transparent;
  top: 0px; /* Adjust to position correctly */
  left: 197px; /* Adjust to position correctly */
}

.upper-chevron,
.uc-2,
.uc-3 {
  top: -5px;
  border-width: 10px;
  border-color: transparent transparent transparent #f7f7f7;
  left: 197px; /* Adjust to position correctly */
}

.lower-chevron,
.lc-2,
.lc-3 {
  top: 84px; /* Adjust to position correctly */
}

.uc-2 {
  top: 0px;
  border-width: 5px 0 5px 5px;
  left: 197px; /* Adjust to position correctly */
  border-color: transparent transparent transparent #c3c3c3;
}

.lc-3 {
  left: 202px; /* Adjust to position correctly */
}

.lc-2 {
  border-width: 10px;
  left: 187px;
  top: 79px;
}

.lc-3 {
  top: 84px; /* Adjust to position correctly */

  border-color: transparent #dadada transparent transparent;
}

.top-right {
  position: absolute;
  top: 1.25vh;
  right: 1.25vh;
}

.hover-container {
  position: relative;
  display: inline-block;
}

.hover-container .hover-table {
  display: none;
  position: absolute;
  background-color: #f2f2f2;
  min-width: 160px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  padding: 12px 16px;
  z-index: 1;
}

.hover-container:hover .hover-table {
  display: block;
  top: 40px; /* Adjust this to control the vertical positioning */
  left: 0; /* Adjust this to control the horizontal positioning */
}

.export-button {
  /* margin: 0.9vw; */
  border: 2px solid #e1e4e8;
  background-color: #ffffff;
  /* box-shadow: inset 20px 10px 20px 20px #f2f2f2; */
  border-radius: 8px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
}

.export-button i {
  margin-right: 8px;
}

.custom-tooltip {
  max-width: none;
}

.tooltip-table {
  background: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.tooltip-table table {
  width: 100%;
  border-collapse: collapse;
}

.tooltip-table th,
.tooltip-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.tooltip-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-circle {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  background: #00bceb;
}

.color-circle {
  margin-top: 2px;
  display: inline-block;
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
  border-radius: 50%;
}

.vertical-divider {
  width: 1px;
  background-color: #e0e0e0; /* Adjust the color as needed */
  min-height: fit-content; /* Adjust the height as needed */
  height: auto;
  margin: 0;
}

.widget-tray {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 30vw; /* Adjust as needed */
  max-width: 90vw;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.modal-body {
  padding-top: 10px;
}

.cms-table {
  width: 100%;
}

.nested-table {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ddd;
}

.nested-table th,
.nested-table td {
  padding: 5px;
  text-align: left;
}

.nested-table th {
  background-color: #f2f2f2;
}

.nested-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.nested-table tr:nth-child(odd) {
  background-color: #fff;
}

.table-responsive-xl {
  overflow-x: auto;
}

.cms-table th,
.cms-table td {
  padding: 10px;
  text-align: left;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0.5vw; */
}

.clickable-text {
  color: #007bff; /* or any color you prefer */
  cursor: pointer;
  text-decoration: underline;
}

.clickable-text:hover {
  color: #0056b3; /* Darker color on hover */
}

.ellipsis-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 8vw; /* Adjust the width as needed */
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
}

.small-loading-container {
  min-height: calc(10px + 1.3vw);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  color: #373c42;
  margin: 0px;
  padding-bottom: 8px;
}

.container-title {
  font-size: 16px;
  font-weight: 600;
  color: #373c42;
  margin: 0px;
  padding: 0vh 1.5vh 0vh 1.5vh;
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #596069;
  margin: 0px;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  color: #373c42;
  margin: 0px;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  color: #373c42;
  margin: 0px;
}

.table-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
