<app-o2c-nav></app-o2c-nav>

<div class="flowchart-container">
  <div class="slider-bar">
    <div
      *ngFor="let step of circleSteps; let i = index"
      [ngStyle]="getSliderBarStyle(i)"
    >
      <div class="circle-wrapper-loop" (click)="navigateToRoute(step, null)">
        <p class="circle-caption-loop">{{ removeUnderscores(step) }}</p>
        <p class="circle-loop" [ngClass]="getCircleClass(step)"></p>
      </div>

      <div *ngIf="i < circleSteps.length - 1" class="chevron-wrapper-loop">
        <div class="chevron"></div>
        <div class="chevron-white"></div>
      </div>
    </div>
  </div>
</div>

<div class="landing-container">
  <h2 class="welcome-text">Hi Jack!</h2>
  <p class="welcome-body">
    Welcome to the Order to Cash Lifecycle Tracker - Search for orders,
    subscriptions, accruals, and invoices across Order to Cash at Cisco.
  </p>
</div>

<!-- Pick Up Where You Left Off Table -->
<div class="o2c-rows">
  <h3 class="table-title">Pick Up Where You Left Off</h3>
  <table class="gridded-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Step</th>
        <th>Route</th>
        <th>Parameter Name</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let entry of searchEntries.data"
        (click)="onSearchEntryClick(entry)"
        (keydown)="onSearchEntryKeyDown($event, entry)"
      >
        <td>{{ entry.id }}</td>
        <td>{{ entry.step }}</td>
        <td>{{ entry.route }}</td>
        <td>{{ entry.paramName }}</td>
      </tr>
    </tbody>
  </table>
</div>
