@import "src/assets/o2c-common-styles.css";

.landing-container {
  margin-top: 2rem;
  padding: 5rem;
  background-color: #f4f6f8;
}

.landing-container p {
  max-width: 60%;
  word-wrap: break-word;
}

.welcome-text {
  font-size: 24px;
  font-weight: 900;
  color: #227bb1;
  margin: 0 0 10px 0;
}

.welcome-body {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 10px;
}

.table-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #227bb1;
}

th {
  font-size: 13px;
  font-weight: bold;
  /* color: #227bb1; */
  text-align: left !important;
}

td {
  font-size: 12px;
  font-weight: 300;
}
