<div class="wips-content">
  <app-monitoring-dashboard
    [linkColumns]="[]"
    [detailPanel]="exceptionDetailTpl"
    [urls]="wipsUrls"
    [keysToMap]="['timestamp', 'scenario']"
    [componentName]="'WIPS'"
    [columnsToFilter]="wipsFilters"
    [detailsColumnsToHide]="[]"
    [assignmentDialogFieldConfig]="fieldConfig"
    [submitKeysToMap]="['timestamp', 'scenario']"
    [webexKeysToMap]="['scenario', 'data_source', 'status']"
    [userContext]="userContextData"
  ></app-monitoring-dashboard>
</div>

<ng-template #exceptionDetailTpl let-value let-close="close">
  <app-exception-details
    [exceptionId]="value"
    apiEndpoint="by-record"
    backLabel="Back to Error Details"
    (back)="close()"
  ></app-exception-details>
</ng-template>
