<mat-tab-group>
  <mat-tab label="General Ledger">
    <app-monitoring-dashboard
      [urls]="glUrls"
      [fieldKey]="'TRANSACTION_DATE'"
      [processFlowKeys]="glTotals"
      [periodStatus]="periodStatus"
      [summaryInputColumns]="summaryColumns"
      [detailsDisplayedColumns]="glDetailsColumns"
      [componentName]="'General Ledger'"
      [processFlowTabsToDisplay]="['General Ledger']"
      [specialWords]="specialWords"
      [skippedWords]="skippedWords"
      [dynamicTemplate]="glTemplate"
      [dynamicCss]="glflowCss"
      [isSubAppMapping]="false"
      [warningMessage]="'Warning message '"
    ></app-monitoring-dashboard>
  </mat-tab>
</mat-tab-group>
<ng-template #glTemplate let-allTotals="allTotals">
  <div class="flowchart-container">
    <div class="slider-bar">
      <div *ngFor="let step of formattedglSteps; let i = index">
        <div class="circle-wrapper-loop">
          <p class="circle-caption-loop">{{ i + 1 }}. {{ step.label }}</p>
          <p class="circle-loop"></p>
          <p class="circle-subcaption">
            Total Impact:
            {{ allTotals['General Ledger']?.[step.impact] || 'N/A' }}
          </p>
        </div>

        <div
          *ngIf="i < formattedglSteps.length - 1"
          class="chevron-wrapper-loop"
        >
          <div class="chevron"></div>
          <div class="chevron-white"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
