<mat-tab-group>
  <mat-tab label="General Ledger" *ngIf="roles.includes('ADMIN')">
    <app-monitoring-dashboard
      [apiUrl]="authService.getHostUrl()"
      [urls]="glUrls"
      [keysToMap]="glKeysToMap"
      [periodStatus]="periodStatus"
      [componentName]="'General Ledger'"
      [columnsToFilter]="glFilters"
      [assignmentDialogFieldConfig]="fieldConfig"
      [assignmentUsersFilter]="'I2C'"
      [submitKeysToMap]="[
        'LEDGER_NAME',
        'JOURNAL_SOURCE',
        'ACCOUNT_SEG',
        'APPLICATION_NAME',
        'TRANSACTION_DATE',
        'PROCESS_FLOW'
      ]"
      [webexKeysToMap]="[
        'LEDGER_NAME',
        'JOURNAL_SOURCE',
        'ACCOUNT_SEG',
        'APPLICATION_NAME',
        'TRANSACTION_DATE',
        'PROCESS_FLOW'
      ]"
    ></app-monitoring-dashboard>
  </mat-tab>
</mat-tab-group>
