<div class="dashboard-header">
  <div class="header-main">
    <div class="header-left">
      <app-menu-mini
        [items]="menuItems"
        [activeIndex]="selectedIndex"
        (selected)="onGridMenuItemClick($event.index)"
      />
      <h2>{{ filteredTabs[selectedIndex]?.label || "Invoice to Cash" }}</h2>
    </div>

    <div class="period-info" *ngIf="periodStatus as period">
      <span><b>Period name:</b> {{ period.periodName }} &nbsp;</span>
      <span class="divider"> | </span>
      <span
        >&nbsp;<b>Period end date:</b> {{ period.periodEndDate }} &nbsp;</span
      >
      <span class="divider"> | </span>
      <span>&nbsp;<b>Last Updated:</b> {{ period.lastUpdated }} &nbsp;</span>
    </div>
    @if (roles.includes("ADMIN")) {
      <!-- <div class="global-search">
        <div class="global-search-input-wrapper">
          <input
            type="text"
            class="global-search-input"
            #globalSearchInput
            placeholder="Search.."
          />
        </div>
        <span class="global-search-icon">🔍</span>
      </div> -->
    }
  </div>
</div>

<hr />

<div class="inv-content">
  @if (filteredTabs.length > 0) {
    @switch (filteredTabs[selectedIndex]?.component) {
      @case ("app-pre-invoicing") {
        <app-monitoring-dashboard
          [userContext]="userContextData"
          [urls]="preInvoicingUrls"
          [keysToMap]="preAndAutoInvoiceKeysToMap"
          [componentName]="'Pre-Invoicing'"
          [columnsToFilter]="preInvoicingFilters"
          [detailsColumnsToHide]="['TRANSACTION_DATE']"
          [assignmentDialogFieldConfig]="fieldConfig"
          [submitKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE',
          ]"
          [webexKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE',
            'AMOUNT',
          ]"
        ></app-monitoring-dashboard>
      }
      @case ("app-auto-invoicing") {
        <app-monitoring-dashboard
          [userContext]="userContextData"
          [urls]="autoInvoicingUrls"
          [keysToMap]="preAndAutoInvoiceKeysToMap"
          [componentName]="'Auto-Invoicing'"
          [columnsToFilter]="autoInvoicingFilters"
          [detailsColumnsToHide]="['TRANSACTION_DATE']"
          [assignmentDialogFieldConfig]="fieldConfig"
          [submitKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE',
          ]"
          [webexKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE',
            'AMOUNT',
          ]"
        ></app-monitoring-dashboard>
      }
      @case ("app-post-invoicing") {
        <div class="pill-tabs">
          @for (pill of postInvoicingSubTabs; track pill; let j = $index) {
            <button
              class="pill-tab"
              [class.active]="postInvoicingSubIndex === j"
              (click)="postInvoicingSubIndex = j"
            >
              {{ pill }}
            </button>
          }
        </div>
        <hr />
        @switch (postInvoicingSubIndex) {
          @case (0) {
            <app-monitoring-dashboard
              [userContext]="userContextData"
              [urls]="cmAmortUrls"
              [keysToMap]="preAndAutoInvoiceKeysToMap"
              [componentName]="'CM Amortization'"
              [columnsToFilter]="postInvoicingFilters"
              [detailsColumnsToHide]="['TRANSACTION_DATE']"
              [assignmentDialogFieldConfig]="fieldConfig"
              [submitKeysToMap]="[
                'PERIOD_NAME',
                'APPLICATION_NAME',
                'PROCESS_FLOW',
                'ORG_NAME',
                'TRANSACTION_DATE',
                'AMOUNT',
              ]"
              [webexKeysToMap]="[
                'PERIOD_NAME',
                'APPLICATION_NAME',
                'PROCESS_FLOW',
                'ORG_NAME',
                'TRANSACTION_DATE',
                'AMOUNT',
              ]"
            ></app-monitoring-dashboard>
          }
          @case (1) {
            <app-monitoring-dashboard
              [userContext]="userContextData"
              [urls]="printUrls"
              [keysToMap]="preAndAutoInvoiceKeysToMap"
              [componentName]="'Print'"
              [columnsToFilter]="postInvoicingFilters"
              [detailsColumnsToHide]="['TRANSACTION_DATE']"
              [assignmentDialogFieldConfig]="fieldConfig"
              [submitKeysToMap]="[
                'PERIOD_NAME',
                'APPLICATION_NAME',
                'PROCESS_FLOW',
                'ORG_NAME',
                'TRANSACTION_DATE',
                'AMOUNT',
              ]"
              [webexKeysToMap]="[
                'PERIOD_NAME',
                'APPLICATION_NAME',
                'PROCESS_FLOW',
                'ORG_NAME',
                'TRANSACTION_DATE',
                'AMOUNT',
              ]"
            ></app-monitoring-dashboard>
          }
          @case (2) {
            <app-monitoring-dashboard
              [userContext]="userContextData"
              [urls]="creditCardUrls"
              [keysToMap]="preAndAutoInvoiceKeysToMap"
              [componentName]="'Credit Card'"
              [columnsToFilter]="postInvoicingFilters"
              [detailsColumnsToHide]="[]"
              [assignmentDialogFieldConfig]="fieldConfig"
              [submitKeysToMap]="[]"
              [webexKeysToMap]="[]"
            ></app-monitoring-dashboard>
          }
          @case (3) {
            <app-monitoring-dashboard
              [userContext]="userContextData"
              [urls]="srtProcessUrls"
              [keysToMap]="[
                'PERIOD_NAME',
                'PROCESS_FLOW',
                'ORG_NAME',
                'SRT_DATE',
              ]"
              [componentName]="'SRT Process'"
              [columnsToFilter]="srtProcessFilters"
              [detailsColumnsToHide]="[]"
              [assignmentDialogFieldConfig]="fieldConfig"
              [submitKeysToMap]="['PERIOD_NAME', 'ORG_NAME', 'SRT_DATE']"
              [webexKeysToMap]="[
                'PERIOD_NAME',
                'EVENT_TYPE',
                'PROCESS_FLOW',
                'ORG_NAME',
                'SRT_DATE',
              ]"
            ></app-monitoring-dashboard>
          }
          @case (4) {
            <app-monitoring-dashboard
              [userContext]="userContextData"
              [urls]="rpoExtractUrls"
              [keysToMap]="preAndAutoInvoiceKeysToMap"
              [componentName]="'RPO Extract'"
              [columnsToFilter]="rpoExtractFilters"
              [detailsColumnsToHide]="[]"
              [assignmentDialogFieldConfig]="fieldConfig"
              [submitKeysToMap]="[
                'PERIOD_NAME',
                'ORG_NAME',
                'TRANSACTION_DATE',
              ]"
              [webexKeysToMap]="[
                'PERIOD_NAME',
                'APPLICATION_NAME',
                'PROCESS_FLOW',
                'ORG_NAME',
                'TRANSACTION_DATE',
                'AMOUNT',
              ]"
            ></app-monitoring-dashboard>
          }
          @case (5) {
            <app-monitoring-dashboard
              [userContext]="userContextData"
              [urls]="pcmApplicationUrls"
              [keysToMap]="preAndAutoInvoiceKeysToMap"
              [componentName]="'PCM Application'"
              [columnsToFilter]="pcmFilters"
              [detailsColumnsToHide]="[]"
              [assignmentDialogFieldConfig]="fieldConfig"
              [submitKeysToMap]="[
                'PERIOD_NAME',
                'APPLICATION_NAME',
                'PROCESS_FLOW',
                'ORG_NAME',
                'TRANSACTION_DATE',
              ]"
              [webexKeysToMap]="[]"
            ></app-monitoring-dashboard>
          }
        }
      }
      @case ("app-eInvoicing") {
        <app-monitoring-dashboard
          [userContext]="userContextData"
          [urls]="eInvoicingUrls"
          [keysToMap]="preAndAutoInvoiceKeysToMap"
          [componentName]="'eInvoicing'"
          [columnsToFilter]="eInvoicingFilters"
          [detailsColumnsToHide]="['TRANSACTION_DATE']"
          [assignmentDialogFieldConfig]="fieldConfig"
          [submitKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE',
          ]"
          [webexKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE',
            'AMOUNT',
          ]"
        ></app-monitoring-dashboard>
      }
      @case ("app-fusion") {
        <app-monitoring-dashboard
          [userContext]="userContextData"
          [urls]="fusionUrls"
          [keysToMap]="preAndAutoInvoiceKeysToMap"
          [componentName]="'Fusion'"
          [columnsToFilter]="fusionFilters"
          [detailsColumnsToHide]="['TRANSACTION_DATE']"
          [assignmentDialogFieldConfig]="fieldConfig"
          [submitKeysToMap]="[
            'PERIOD_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE',
          ]"
          [webexKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE',
            'AMOUNT',
          ]"
        ></app-monitoring-dashboard>
      }
      @case ("app-credit-card-check") {
        <app-monitoring-dashboard
          [userContext]="userContextData"
          [urls]="creditCardCheckUrls"
          [keysToMap]="[
            'PERIOD_NAME',
            'ORG_NAME',
            'HOLD_APPLY_DATE',
            'PROCESS_FLOW',
          ]"
          [componentName]="'Credit Check Process'"
          [columnsToFilter]="creditCardCheckFilters"
          [detailsColumnsToHide]="[]"
          [assignmentDialogFieldConfig]="fieldConfig"
          [submitKeysToMap]="['ORG_NAME', 'HOLD_APPLY_DATE', 'PROCESS_FLOW']"
          [webexKeysToMap]="[]"
        ></app-monitoring-dashboard>
      }
      @case ("app-cms") {
        <app-cms></app-cms>
      }
    }
  }
</div>

<div
  style="display: flex; justify-content: center; align-items: center !important"
>
  @if (!roles.length) {
    <tr>
      <td colspan="100%" style="text-align: center">
        <app-loading-symbol></app-loading-symbol>
      </td>
    </tr>
  }
</div>
