<mat-tab-group [selectedIndex]="0">
  <mat-tab label="Auto-Invoicing">
    <app-auto-invoicing-real></app-auto-invoicing-real>
  </mat-tab>
  <mat-tab label="Pre-Invoicing">
    <app-monitoring-dashboard
      [urls]="preInvoicingUrls"
      [fieldKey]="'TRANSACTION_DATE'"
      [processFlowKeys]="preInvoicingTotals"
      [periodStatus]="periodStatus"
      [detailsDisplayedColumns]="preInvoicingDetailsColumns"
      [componentName]="'Pre-Invoicing'"
      [processFlowTabsToDisplay]="['Pre-Invoicing', 'Auto-Invoicing']"
      [specialWords]="specialWords"
      [skippedWords]="skippedWords"
    ></app-monitoring-dashboard>
  </mat-tab>

  <mat-tab label="Invoicing">
    <app-monitoring-dashboard
      [urls]="autoInvoicingUrls"
      [fieldKey]="'TRANSACTION_DATE'"
      [processFlowKeys]="autoInvoicingTotals"
      [periodStatus]="periodStatus"
      [detailsDisplayedColumns]="autoInvoicingDetailsColumns"
      [componentName]="'Auto-Invoicing'"
      [processFlowTabsToDisplay]="['Pre-Invoicing', 'Auto-Invoicing']"
      [specialWords]="specialWords"
      [skippedWords]="skippedWords"
    ></app-monitoring-dashboard>
  </mat-tab>
  <mat-tab label="Post-Invoicing" [disabled]="true"></mat-tab>
  <mat-tab label="eInvoicing" [disabled]="true"></mat-tab>
  <mat-tab label="CMS">
    <app-cms></app-cms>
  </mat-tab>
  <mat-tab label="Fusion" [disabled]="true"></mat-tab>
  <mat-tab label="Invoicing Controls" [disabled]="true"></mat-tab>
</mat-tab-group>
