<div style="background-color: #007dab; height: 100%">
  <div *ngIf="!errorPath">
    <mat-nav-list>
      <!-- <mat-list-item [routerLink]="['/home']" routerLinkActive="active">
      Home
    </mat-list-item>
    <mat-list-item [routerLink]="['/standard-ar']" routerLinkActive="active">
      Standard AR
    </mat-list-item> -->
      <!-- <mat-list-item
      [routerLink]="['/tsv-exceptions-top-sku']"
      routerLinkActive="active"
    >
      Revenue Accruals Top Sku
    </mat-list-item>
    <mat-list-item
      [routerLink]="['/tsv-exceptions-sub-sku']"
      routerLinkActive="active"
    >
      Revenue Accruals Sub Sku
    </mat-list-item> -->
      <!-- <mat-list-item
      [routerLink]="['/revenue-controls']"
      routerLinkActive="active"
    >
      Revenue Controls
    </mat-list-item> -->
      <mat-expansion-panel
        [class.mat-elevation-z0]="true"
        style="background-color: #007dab"
        [expanded]="true"
        hideToggle
        *ngIf="isAdmin || checkRole('periodClose')"
      >
        <mat-expansion-panel-header style="font-size: medium; color: white">
          Period Close Tracking
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item
            [routerLink]="['/period-close-tracking-preclose']"
            routerLinkActive="active"
          >
            Pre-close
          </mat-list-item>
          <mat-list-item
            [routerLink]="['/period-close-tracking-midclose']"
            routerLinkActive="active"
          >
            Mid-close
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- <mat-list-item [routerLink]="['/error-dash']" routerLinkActive="active">
      Error Dashboard
    </mat-list-item> -->
      <mat-list-item
        [routerLink]="['/large-deal-tracker']"
        routerLinkActive="active"
        *ngIf="isAdmin || checkRole('largeDeal')"
      >
        Large Deal Tracker
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/wd0-dash']"
        routerLinkActive="active"
        *ngIf="isAdmin || checkRole('WD0')"
      >
        WD+0 Mid Close Status
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/mid-close-volumes']"
        routerLinkActive="active"
        *ngIf="isAdmin || checkRole('MIDCLOSE_VOLUMES')"
      >
        Mid Close Volumes
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
