<br />

<h2>Invoice Tracker</h2>

<br />

<br />
<h4>Line Level Control</h4>
<div class="table table-responsive" style="overflow: auto; max-width: 100%">
  <table
    style="width: -webkit-fill-available"
    mat-table
    [dataSource]="lineData1"
    matSort
    class="mat-elevation-z6"
    aria-describedby="Invoice tracker table"
  >
    <tr
      mat-header-row
      *matHeaderRowDef="lineColumns1"
      style="text-align: center"
    ></tr>

    <tr mat-row *matRowDef="let row; columns: lineColumns1"></tr>

    <ng-container *ngFor="let column of lineColumns1" [matColumnDef]="column">
      <th class="custom-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ formatHeader(column) }}
      </th>
      <td class="custom-cell" mat-cell *matCellDef="let record">
        {{ record[column] }}
      </td>
    </ng-container>
  </table>
</div>

<br /><br />

<br />

<h4>Header Level Control</h4>
<div>
  <div class="table table-responsive" style="overflow: auto; max-width: 100%">
    <table
      style="width: -webkit-fill-available"
      mat-table
      [dataSource]="headerData1"
      matSort
      class="mat-elevation-z8"
      aria-describedby="Invoice tracker table"
    >
      <tr
        mat-header-row
        *matHeaderRowDef="headerColumns1"
        style="text-align: center"
      ></tr>

      <tr mat-row *matRowDef="let row; columns: headerColumns1"></tr>

      <ng-container
        *ngFor="let column of headerColumns1"
        [matColumnDef]="column"
      >
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          {{ formatHeader(column) }}
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record[column] }}
        </td>
      </ng-container>
    </table>
  </div>

  <!-- <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!headerData1?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div> -->

  <!-- <mat-paginator
    [pageSize]="15"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator> -->
</div>

<br /><br />
