@import "../esp-home.component.css";

/* .caseiq-value-blue {
  color: #007bff;
  font-weight: 600;
}

.caseiq-value-green {
  color: #2e7d32;
  font-weight: 600;
}

.caseiq-value-default {
  font-weight: 600;
}

.caseiq-label-strong {
  font-weight: 900;
} */
