.filter-wrapper {
  position: relative;
  display: inline-block;
}

.filter-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: -5px;
}

.dropdown {
  position: absolute;
  top: -24px; /* move below the button */
  left: 0;
  background: white;
  border-radius: 2px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.dropdown-option {
  padding: 9px 10px;
  font-size: 12px;
  cursor: pointer;
  color: #243034;
}

.dropdown-option:hover {
  background: #f5f5f5;
}

.filter-icon {
  background-size: cover;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMzQuMjksNDcuOTFBMjAsMjAsMCwwLDAsMjE2LDM2SDQwQTIwLDIwLDAsMCwwLDI1LjIsNjkuNDVsLjEyLjE0TDkyLDE0MC43NVYyMTZhMjAsMjAsMCwwLDAsMzEuMSwxNi42NGwzMi0yMS4zM0EyMCwyMCwwLDAsMCwxNjQsMTk0LjY2VjE0MC43NWw2Ni42Ny03MS4xNi4xMi0uMTRBMjAsMjAsMCwwLDAsMjM0LjI5LDQ3LjkxWm0tOTEsNzkuODlBMTIsMTIsMCwwLDAsMTQwLDEzNnY1Ni41MmwtMjQsMTZWMTM2YTEyLDEyLDAsMCwwLTMuMjUtOC4yTDQ5LjIzLDYwSDIwNi43N1oiPjwvcGF0aD48L3N2Zz4=");
}

.mat-icon {
  width: unset;
  height: unset;
  margin: 0 3px 0 -2px;
}
