.summary-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.summary-left {
  flex: 1;
  text-align: left;
}
.summary-right {
  flex: 3;
  text-align: right !important;
  margin-top: 0px !important;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.mb-12 {
  margin-bottom: 12px;
}
.entity-view {
  height: 50px;
}
.entity-controls {
  display: flex;
  gap: 1rem;
}
.circle-progress-container {
  margin: -10px 0 -10px 0;
}
.centered {
  text-align: center;
}

:host {
  font-family: "Inter", sans-serif;
}

.section-title {
  display: flex;
  align-items: center;
  color: #373c42;
  margin-bottom: 0px;
  font-weight: 600;
}

.card-subtitle {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  color: #454444;
}

.card-title {
  display: flex;
  align-items: center;
}

.card-title-stack {
  display: flex;
  flex-direction: column;
}

.periodclosetable {
  overflow: auto;
  max-width: 100%;
  margin-top: 8px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.custom-button-primary {
  background-color: gray;
  color: white;
}
.custom-button-secondary {
  color: #049fd9;
}

.form-control.form-control-sm {
  width: 40%;
  height: 60px;
}

.comment-user {
  margin-bottom: 10px;
  color: #454444;
}

.comment-date {
  color: #6b6a6a;
}

.entity-legend {
  text-align: center;
  margin-top: 10px;
}

/* Table styles for entity tables */
table.table.equal-width.table-striped tr {
  height: 30px;
  border-bottom: 0px;
  vertical-align: middle;
}
table.table.equal-width.table-striped td {
  text-align: center !important;
  font-size: 11px;
  font-weight: 500 !important;
  padding: 0.4vh !important;
  border: 0px !important;
}
table.table.equal-width.table-striped th {
  text-align: center !important;
  border-bottom: 0px !important;
  font-size: 12px;
  padding: 0.5vh !important;
  background-color: #ffffff;
}
table.table.equal-width.table-striped tr:nth-child(even) {
  background-color: #f2f2f2;
}
table.table.equal-width.table-striped tr:nth-child(odd) {
  background-color: #ffffff;
}
tr.ngprocess-row {
  height: 60px !important;
}
