<mat-tab-group
  [selectedIndex]="selectedIndex"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab *ngFor="let tab of filteredTabs; let i = index">
    <ng-template mat-tab-label>
      <span>{{ tab.label }}</span>
      <i
        class="fa fa-bars"
        *ngIf="tab.label === 'Continuous Monitoring'"
        style="margin-left: 8px; cursor: pointer"
        (click)="toggleMenu()"
      ></i>
    </ng-template>
    <ng-container [ngSwitch]="tab.component">
      <ng-container *ngSwitchCase="'app-preclose'">
        <app-preclose *ngIf="selectedIndex === i"></app-preclose>
      </ng-container>
      <ng-container *ngSwitchCase="'app-midclose'">
        <app-midclose *ngIf="selectedIndex === i"></app-midclose>
      </ng-container>
    </ng-container>
  </mat-tab>
</mat-tab-group>

<div
  style="display: flex; justify-content: center; align-items: center !important"
>
  <ng-container *ngIf="!roles.length">
    <tr>
      <td colspan="100%" style="text-align: center">
        <app-loading-symbol></app-loading-symbol>
      </td>
    </tr>
  </ng-container>
</div>
