<div class="dashboard-header">
  <div class="header-main">
    <h2>Operations Controls</h2>
    <div class="period-info">
      <span><b>Period name:</b> {{ periodInfo().periodName }} &nbsp;</span>
      <span class="divider"> | </span>
      <span
        >&nbsp;<b>Period end date:</b>
        {{ periodInfo().periodEndDate }} &nbsp;</span
      >
      <span class="divider"> | </span>
      <span
        >&nbsp;<b>Last Updated:</b> {{ periodInfo().lastUpdated }} &nbsp;</span
      >
    </div>

    <div class="global-search">
      <div class="global-search-input-wrapper">
        <input
          type="text"
          class="global-search-input"
          #globalSearchInput
          placeholder="Search.."
        />
      </div>
      <span class="global-search-icon">🔍</span>
    </div>
  </div>
</div>
<hr />
<div class="oc-tiles-container">
  <button
    type="button"
    class="oc-tile"
    [class.active]="selectedTabIndex === 0"
    (click)="onTabChange(0)"
  >
    Invoice to Cash
  </button>
  <button
    type="button"
    class="oc-tile"
    [class.active]="selectedTabIndex === 1"
    (click)="onTabChange(1)"
  >
    Revenue Accounting
  </button>
  <button
    type="button"
    class="oc-tile"
    [class.active]="selectedTabIndex === 2"
    (click)="onTabChange(2)"
  >
    Tax and Customs
  </button>
  <button type="button" class="oc-tile" disabled>Deferrals</button>
</div>

<hr />

<div class="oc-content">
  @switch (selectedTabIndex) {
    @case (0) {
      <app-monitoring-dashboard
        [urls]="preInvoicingUrls"
        [keysToMap]="[
          'PERIOD_NAME',
          'APPLICATION_NAME',
          'ORG_NAME',
          'TRANSACTION_DATE',
          'RULE_NAME',
        ]"
        [componentName]="'I2C Controls'"
        [columnsToFilter]="preInvoicingFilters"
        [detailsColumnsToHide]="['']"
        [submitKeysToMap]="[]"
        [webexKeysToMap]="[]"
        [userContext]="userContextData"
      ></app-monitoring-dashboard>
    }
    @case (1) {
      <app-monitoring-dashboard
        [urls]="revControlsUrls"
        [keysToMap]="[
          'PERIOD_NAME',
          'APPLICATION_NAME',
          'ORG_NAME',
          'TRANSACTION_DATE',
          'RULE_NAME',
        ]"
        [componentName]="'Rev Controls'"
        [columnsToFilter]="revControlsFilters"
        [detailsColumnsToHide]="['']"
        [submitKeysToMap]="[]"
        [webexKeysToMap]="[]"
        [userContext]="userContextData"
      ></app-monitoring-dashboard>
    }
    @case (2) {
      <app-monitoring-dashboard
        [urls]="gtcControlsUrls"
        [keysToMap]="['PROCESS_FLOW', 'BOOKING_ENTITY', 'TRANSACTION_DATE']"
        [componentName]="'Gtc Controls'"
        [columnsToFilter]="GtcControlsFilters"
        [detailsColumnsToHide]="['']"
        [submitKeysToMap]="[]"
        [webexKeysToMap]="[]"
        [userContext]="userContextData"
      ></app-monitoring-dashboard>
    }
  }
</div>
