<div class="dashboard-header">
  <div class="header-main">
    <div class="header-left">
      <app-menu-mini
        [items]="menuItems"
        [activeIndex]="selectedTabIndex"
        (selected)="onGridMenuItemClick($event.index)"
      />
      <h2>{{ tabLabels[selectedTabIndex] || "Operations Controls" }}</h2>
    </div>

    <div class="period-info">
      <span><b>Period name:</b> {{ periodInfo().periodName }} &nbsp;</span>
      <span class="divider"> | </span>
      <span
        >&nbsp;<b>Period end date:</b>
        {{ periodInfo().periodEndDate }} &nbsp;</span
      >
      <span class="divider"> | </span>
      <span
        >&nbsp;<b>Last Updated:</b> {{ periodInfo().lastUpdated }} &nbsp;</span
      >
    </div>
    @if (roles.includes("ADMIN")) {
      <!-- <div class="global-search">
        <div class="global-search-input-wrapper">
          <input
            type="text"
            class="global-search-input"
            #globalSearchInput
            placeholder="Search.."
          />
        </div>
        <span class="global-search-icon">🔍</span>
      </div> -->
    }
  </div>
</div>
<hr />

<div class="oc-content">
  @switch (activeTabKey) {
    @case ("i2c") {
      <app-monitoring-dashboard
        [linkColumns]="[]"
        [detailPanel]="exceptionDetailTpl"
        [urls]="preInvoicingUrls"
        [keysToMap]="[
          'PERIOD_NAME',
          'APPLICATION_NAME',
          'ORG_NAME',
          'TRANSACTION_DATE',
          'RULE_NAME',
        ]"
        [componentName]="'I2C Controls'"
        [columnsToFilter]="preInvoicingFilters"
        [detailsColumnsToHide]="['']"
        [submitKeysToMap]="[]"
        [webexKeysToMap]="[]"
        [userContext]="userContextData"
      ></app-monitoring-dashboard>
    }
    @case ("rev") {
      <app-monitoring-dashboard
        [linkColumns]="[]"
        [detailPanel]="exceptionDetailTpl"
        [urls]="revControlsUrls"
        [keysToMap]="[
          'PERIOD_NAME',
          'APPLICATION_NAME',
          'ORG_NAME',
          'TRANSACTION_DATE',
          'RULE_NAME',
        ]"
        [componentName]="'Rev Controls'"
        [columnsToFilter]="revControlsFilters"
        [detailsColumnsToHide]="['']"
        [submitKeysToMap]="[]"
        [webexKeysToMap]="[]"
        [userContext]="userContextData"
      ></app-monitoring-dashboard>
    }
    @case ("gtc") {
      <app-monitoring-dashboard
        [linkColumns]="[]"
        [detailPanel]="exceptionDetailTpl"
        [urls]="gtcControlsUrls"
        [keysToMap]="['PROCESS_FLOW', 'BOOKING_ENTITY', 'TRANSACTION_DATE']"
        [componentName]="'Gtc Controls'"
        [columnsToFilter]="GtcControlsFilters"
        [detailsColumnsToHide]="['']"
        [submitKeysToMap]="[]"
        [webexKeysToMap]="[]"
        [userContext]="userContextData"
      ></app-monitoring-dashboard>
    }
  }
</div>

<ng-template #exceptionDetailTpl let-value let-close="close">
  <app-exception-details
    [exceptionId]="value"
    apiEndpoint="by-record"
    backLabel="Back to Error Details"
    (back)="close()"
  ></app-exception-details>
</ng-template>
