<br />
<div>
  <h1>Error Detail View</h1>

  <div
    style="
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 8px;
    "
  >
    <button
      mat-stroked-button
      style="margin-right: 8px"
      (click)="viewSummary()"
    >
      View Summary
    </button>
    <button mat-stroked-button style="margin-right: 8px">Download</button>

    <button
      mat-stroked-button
      [disabled]="!selection?.hasValue()"
      (click)="viewSummary()"
    >
      Send Notification
    </button>
  </div>
  <table
    style="width: -webkit-fill-available"
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8"
  >
    <!-- Selection Column -->
    <ng-container matColumnDef="select">
      <th style="padding-right: 5px" mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Period Year Column -->
    <!-- <ng-container matColumnDef="PERIOD_YEAR">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Period Year</th>
      <td mat-cell *matCellDef="let record">{{ record.PERIOD_YEAR }}</td>
    </ng-container> -->

    <!-- Period Name Column -->
    <ng-container matColumnDef="PERIOD_NAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-75'">
        Period Name
      </th>
      <td mat-cell *matCellDef="let record" [ngClass]="'w-75'">
        {{ record.PERIOD_NAME }}
      </td>
    </ng-container>

    <!-- Application Name Column -->
    <ng-container matColumnDef="APPLICATION_NAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-75'">
        Application Name
      </th>
      <td mat-cell *matCellDef="let record" [ngClass]="'w-75'">
        {{ record.APPLICATION_NAME }}
      </td>
    </ng-container>

    <!-- Batch Source Column -->
    <ng-container matColumnDef="BATCH_SOURCE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-75'">
        Batch Source
      </th>
      <td mat-cell *matCellDef="let record" [ngClass]="'w-75'">
        {{ record.BATCH_SOURCE }}
      </td>
    </ng-container>

    <!-- Order Number Column -->
    <ng-container matColumnDef="ORDER_NUMBER">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-75'">
        Order Number
      </th>
      <td mat-cell *matCellDef="let record" [ngClass]="'w-75'">
        {{ record.ORDER_NUMBER }}
      </td>
    </ng-container>

    <!-- Entity Column -->
    <ng-container matColumnDef="ENTITY">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-75'">
        Entity
      </th>
      <td mat-cell *matCellDef="let record" [ngClass]="'w-75'">
        {{ record.ENTITY }}
      </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="TYPE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-75'">
        Type
      </th>
      <td mat-cell *matCellDef="let record" [ngClass]="'w-75'">
        {{ record.TYPE }}
      </td>
    </ng-container>

    <!-- Aging Column -->
    <ng-container matColumnDef="AGING">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-75'">
        Aging
      </th>
      <td mat-cell *matCellDef="let record" [ngClass]="'w-75'">
        {{ record.AGING }}
      </td>
    </ng-container>

    <!-- Amount USD Column -->
    <ng-container matColumnDef="AMOUNT_USD">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-75'">
        Amount USD
      </th>
      <td mat-cell *matCellDef="let record" [ngClass]="'w-75'">
        {{ record.AMOUNT_USD }}
      </td>
    </ng-container>

    <!-- Message Text Column -->
    <ng-container matColumnDef="MESSAGE_TEXT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-75'">
        Message Text
      </th>
      <td mat-cell *matCellDef="let record" [ngClass]="'w-75'">
        {{ record.MESSAGE_TEXT }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSize]="15"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>
