:host {
  background: white;
  display: block;
  font-family: "Inter", sans-serif;
}

.color-green {
  /* color: rgb(21, 213, 21); */
  color: #78c000;
}

.color-orange {
  /* color: orange; */
  color: #ffd429;
}

th {
  text-align: center !important;
}

td {
  text-align: center !important;
  font-size: 12px;
}

.arclosetable .table th {
  background-color: #fff;
  border-bottom: 2px solid #373c42; /* Add a bar below the header row */
  color: rgb(46, 46, 46);
  text-wrap: wrap;
  width: 12%;
  font-size: 12px;
}

.reduce-space {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.blueTxt {
  color: blue;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .media {
    font-size: smaller !important;
  }
}

@media screen and (max-width: 768px) {
  .media {
    font-size: 8px !important;
  }
}

.labelFont {
  font-size: 12px;
}
