<th
  class="fit-table__header-cell"
  [class.fit-table__header-cell--sortable]="isSortable"
  [style.text-align]="align"
  (click)="onSort()"
>
  <div class="fit-table__header-content">
    <ng-content></ng-content>
    @if (isSortable) {
      <span class="fit-table__sort-icon">
        @if (sortDirection === 'asc') {
          <span>↑</span>
        }
        @if (sortDirection === 'desc') {
          <span>↓</span>
        }
        @if (!sortDirection) {
          <span>↕</span>
        }
      </span>
    }
  </div>
</th>
