<div>
  <div class="container rol-error-summary-container">
    <div class="header-container">
      <span class="action-buttons">
        &nbsp;
        <form [formGroup]="searchForm" class="search__form">
          <mat-form-field appearance="standard" [style.width.px]="125">
            <mat-label>Select Track</mat-label>
            <mat-select
              id="track"
              name="track"
              formControlName="track"
              [(value)]="trackFilter"
              panelClass="progPanel"
              multiple
            >
              <mat-option
                *ngFor="let track of trackOptions"
                [value]="track"
                (onSelectionChange)="filter()"
                >{{ track }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="standard" [style.width.px]="125">
            <mat-label>Select Quarter</mat-label>
            <mat-select
              id="quarter"
              name="quarter"
              formControlName="quarter"
              [(value)]="quarterFilter"
              panelClass="progPanel"
              multiple
            >
              <mat-option
                *ngFor="let acc of quarterOptions"
                [value]="acc"
                (onSelectionChange)="filter()"
                >{{ acc }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="standard" [style.width.px]="125">
            <mat-label>Select Status</mat-label>
            <mat-select
              id="status"
              name="status"
              formControlName="status"
              [(value)]="statusFilter"
              panelClass="progPanel"
              multiple
            >
              <mat-option
                *ngFor="let status of statusOptions"
                [value]="status"
                (onSelectionChange)="filter()"
                >{{ status }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          &nbsp;
          <button
            class="custom-button-primary"
            style="background-color: #04aa6d"
            *ngIf="
              roles.includes('ISSUE_APPROVAL') &&
              selection.selected.length === 1
            "
            (click)="openDialog('Approve')"
          >
            Approve
          </button>
          &nbsp;
          <button
            class="custom-button-primary"
            style="background-color: #f44336"
            *ngIf="
              roles.includes('ISSUE_APPROVAL') &&
              selection.selected.length === 1
            "
            (click)="openDialog('Reject')"
          >
            Reject
          </button>
          &nbsp;
          <button
            class="custom-button-primary"
            style="background-color: #185996"
            *ngIf="
              roles.includes('ISSUE_APPROVAL') && selection.selected.length > 1
            "
            (click)="bulkApproveReject()"
          >
            Approve/ Reject
          </button>
          &nbsp;
          <a (click)="resetSelection()" *ngIf="selection.selected.length > 0">
            Clear Selection
          </a>
        </form>
        <!-- <button
            class="custom-button-primary"
            (click)="viewTransactionDetails()"
          >
            View Details
          </button>
          &nbsp;&nbsp; -->
      </span>

      <div class="action-buttons">
        <span
          style="
            float: right !important;
            text-align: right !important;
            margin-right: 5px;
            font-size: 12px;
            margin-top: 15px;
          "
        >
          <a
            style="color: black; text-decoration: none"
            [matMenuTriggerFor]="dropdownMenu"
            >Options&nbsp;&nbsp;
            <i
              class="fa fa-ellipsis-v"
              aria-hidden="true"
              style="
                font-size: large;
                color: #4f5051;
                justify-content: end;
                float: right;
              "
            ></i>
          </a>
        </span>
      </div>
    </div>

    <ng-container *ngIf="summaryDatasource?.data?.length">
      <div class="table-container" style="overflow-y: hidden !important">
        <table
          mat-table
          [dataSource]="summaryDatasource"
          class="custom-table table-responsive"
        >
          <ng-container
            matColumnDef="select"
            style="padding-top: 10px !important"
          >
            <th mat-header-cell *matHeaderCellDef>
              <ng-container *ngIf="!areAllRowsApproved()">
                <mat-checkbox
                  (change)="toggleSelectAll($event)"
                  [checked]="isAllSelected()"
                  [indeterminate]="isSomeSelected()"
                >
                </mat-checkbox>
              </ng-container>
            </th>
            <td mat-cell *matCellDef="let row">
              <ng-container *ngIf="row.APPROVAL !== 'Approved'">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="onRowSelectionChange($event, row)"
                  [checked]="selection.isSelected(row)"
                >
                </mat-checkbox>
              </ng-container>
            </td>
          </ng-container>
          <ng-container *ngFor="let column of summaryColumns">
            <ng-container [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef class="nowrap no-wrap">
                <ng-container [ngSwitch]="column">
                  <ng-container *ngSwitchDefault>
                    {{ replaceUnderscore(column) }}
                  </ng-container>
                </ng-container>
              </th>

              <td
                mat-cell
                *matCellDef="let element"
                [class.comments-cell]="column === 'COMMENTS'"
                [class.issue-description-cell]="column === 'ISSUE_DESCRIPTION'"
                [class.fix-details-cell]="column === 'FIX_DETAILS'"
              >
                <ng-container [ngSwitch]="column">
                  <ng-container *ngSwitchCase="'ISSUE_DESCRIPTION'">
                    <ng-container
                      *ngIf="
                        editingRow === element &&
                        editingField === 'ISSUE_DESCRIPTION'
                      "
                    >
                      <div class="edit-container">
                        <textarea
                          [(ngModel)]="element.ISSUE_DESCRIPTION"
                          class="edit-textarea"
                        ></textarea>
                        <div class="edit-actions">
                          <i
                            class="fa fa-check edit-icon confirm"
                            (click)="saveEdit(element)"
                          ></i>
                          <i
                            class="fa fa-close edit-icon cancel"
                            (click)="cancelEdit()"
                          ></i>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        !(
                          editingRow === element &&
                          editingField === 'ISSUE_DESCRIPTION'
                        )
                      "
                    >
                      <ng-container
                        *ngFor="
                          let part of formatIssueDescription(element[column])
                        "
                      >
                        <span *ngIf="part.breakBefore">
                          <br />
                          <br />
                        </span>
                        <!-- Line break before "Root Cause:" and "Business Impact:" -->
                        <span [style.font-weight]="part.bold ? 'bold' : '500'">
                          {{ part.text }}
                        </span>
                        <br *ngIf="part.breakAfter" />
                        <!-- Line break after "Issue:", "Root Cause:", and "Business Impact:" -->
                      </ng-container>
                      &nbsp; &nbsp;
                      <i
                        class="fa fa-pencil-square-o"
                        style="font-weight: bold; color: rgb(79, 78, 78)"
                        aria-hidden="true"
                        (click)="editField(element, 'ISSUE_DESCRIPTION')"
                      ></i>
                    </ng-container>
                  </ng-container>

                  <!-- Editable COMMENTS Column -->
                  <ng-container *ngSwitchCase="'COMMENTS'">
                    <ng-container
                      *ngIf="
                        editingRow === element && editingField === 'COMMENTS'
                      "
                    >
                      <div class="edit-container">
                        <textarea
                          [(ngModel)]="element.COMMENTS"
                          class="edit-textarea"
                        ></textarea>
                        <div class="edit-actions">
                          <i
                            class="fa fa-check edit-icon confirm"
                            (click)="saveEdit(element)"
                          ></i>
                          <i
                            class="fa fa-close edit-icon cancel"
                            (click)="cancelEdit()"
                          ></i>
                        </div>
                      </div>
                    </ng-container>

                    <ng-container
                      *ngIf="
                        !(editingRow === element && editingField === 'COMMENTS')
                      "
                    >
                      <span>{{ element.COMMENTS }}</span>
                      &nbsp;
                      <i
                        class="fa fa-pencil-square-o"
                        style="font-weight: bold; color: rgb(79, 78, 78)"
                        aria-hidden="true"
                        (click)="editField(element, 'COMMENTS')"
                      ></i>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngSwitchCase="'FIX_DETAILS'">
                    <ng-container
                      *ngIf="
                        editingRow === element && editingField === 'FIX_DETAILS'
                      "
                    >
                      <div class="edit-container">
                        <textarea
                          [(ngModel)]="element.FIX_DETAILS"
                          class="edit-textarea"
                        ></textarea>
                        <div class="edit-actions">
                          <i
                            class="fa fa-check edit-icon confirm"
                            (click)="saveEdit(element)"
                          ></i>
                          <i
                            class="fa fa-close edit-icon cancel"
                            (click)="cancelEdit()"
                          ></i>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        !(
                          editingRow === element &&
                          editingField === 'FIX_DETAILS'
                        )
                      "
                    >
                      <ng-container
                        *ngFor="let part of formatFixDetails(element[column])"
                      >
                        <span *ngIf="part.breakBefore">
                          <br />
                        </span>
                        <span *ngIf="part.longTerm">
                          <br />
                          <br />
                        </span>
                        <span *ngIf="part.bold" style="font-weight: bold">
                          {{ part.text }}
                        </span>
                        <!-- <span *ngIf="part.longTerm">
                          <br />
                        </span> -->
                        <span *ngIf="part.bullet">
                          {{ part.text }}
                        </span>
                        <span *ngIf="!part.bold && !part.bullet">{{
                          part.text
                        }}</span>
                      </ng-container>
                      &nbsp; &nbsp;
                      <i
                        class="fa fa-pencil-square-o"
                        style="font-weight: bold; color: rgb(79, 78, 78)"
                        aria-hidden="true"
                        (click)="editField(element, 'FIX_DETAILS')"
                      ></i>
                    </ng-container>
                  </ng-container>

                  <!-- Editable FIX_DETAILS Column -->
                  <!-- <ng-container *ngSwitchCase="'FIX_DETAILS'">
                    <ng-container
                      *ngIf="
                        editingRow === element && editingField === 'FIX_DETAILS'
                      "
                    >
                      <div class="edit-container">
                        <textarea
                          [(ngModel)]="element.FIX_DETAILS"
                          class="edit-textarea"
                        ></textarea>
                        <div class="edit-actions">
                          <i
                            class="fa fa-check edit-icon confirm"
                            (click)="saveEdit(element)"
                          ></i>
                          <i
                            class="fa fa-close edit-icon cancel"
                            (click)="cancelEdit()"
                          ></i>
                        </div>
                      </div>
                    </ng-container>

                    <ng-container
                      *ngIf="
                        !(
                          editingRow === element &&
                          editingField === 'FIX_DETAILS'
                        )
                      "
                    >
                      <span>{{ element.FIX_DETAILS }}</span>
                      &nbsp;
                      <i
                        class="fa fa-pencil-square-o"
                        style="font-weight: bold; color: rgb(79, 78, 78)"
                        aria-hidden="true"
                        (click)="editField(element, 'FIX_DETAILS')"
                      ></i>
                    </ng-container>
                  </ng-container> -->

                  <ng-container *ngSwitchCase="'STATUS'">
                    <span *ngIf="roles.includes('ISSUE_APPROVAL')">
                      <mat-form-field
                        appearance="standard"
                        style="
                          text-align: center;
                          font-weight: 500;
                          max-width: 5vw;
                        "
                      >
                        <mat-select
                          [(ngModel)]="element[column]"
                          (selectionChange)="onStatusChange(element)"
                        >
                          <mat-option
                            *ngFor="let status of statusOps"
                            [value]="status"
                            >{{ status }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </span>
                    <span *ngIf="!roles.includes('ISSUE_APPROVAL')">
                      {{ element[column] }}
                    </span>
                  </ng-container>

                  <ng-container *ngSwitchDefault>
                    {{ element[column] }}
                  </ng-container>
                </ng-container>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="summaryDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: summaryDisplayedColumns"
          ></tr>
        </table>
      </div>
    </ng-container>

    <ng-container *ngIf="!summaryDatasource?.data?.length">
      <div class="loading-container">
        <app-loading-symbol></app-loading-symbol>
        <div class="circle-subcaption"></div>
        <br /><br /><br />
      </div>
    </ng-container>

    <mat-paginator
      [pageSize]="10"
      length="length"
      [pageSizeOptions]="[]"
      showFirstLastButtons
      aria-label="Select page"
    ></mat-paginator>
  </div>
</div>

<mat-menu #dropdownMenu="matMenu" class="custom-menu">
  <div
    mat-menu-item
    (click)="openSummaryDialog()"
    class="viewHighlight"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;View Summary
  </div>
  <div
    mat-menu-item
    (click)="uploadFile()"
    class="viewHighlight"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;Upload Issues
  </div>
  <div
    mat-menu-item
    class="viewHighlight"
    style="font-size: small"
    (click)="exportSummaryData()"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i>
    &nbsp;&nbsp;Download
  </div>
</mat-menu>
