<div>
  <div class="container rol-error-summary-container">
    <div class="header-container">
      <span class="action-buttons">
        &nbsp;
        <form [formGroup]="searchForm" class="search__form">
          <mat-form-field appearance="standard" [style.width.px]="125">
            <mat-label>Select Track</mat-label>
            <mat-select
              id="track"
              name="track"
              formControlName="track"
              [(value)]="trackFilter"
              panelClass="progPanel"
              multiple
            >
              <mat-option
                *ngFor="let track of trackOptions"
                [value]="track"
                (onSelectionChange)="filter()"
                >{{ track }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="standard" [style.width.px]="125">
            <mat-label>Select Quarter</mat-label>
            <mat-select
              id="quarter"
              name="quarter"
              formControlName="quarter"
              [(value)]="quarterFilter"
              panelClass="progPanel"
              multiple
            >
              <mat-option
                *ngFor="let acc of quarterOptions"
                [value]="acc"
                (onSelectionChange)="filter()"
                >{{ acc }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="standard" [style.width.px]="125">
            <mat-label>Select Status</mat-label>
            <mat-select
              id="status"
              name="status"
              formControlName="status"
              [(value)]="statusFilter"
              panelClass="progPanel"
              multiple
            >
              <mat-option
                *ngFor="let status of statusOptions"
                [value]="status"
                (onSelectionChange)="filter()"
                >{{ status }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          &nbsp;
          <button
            class="custom-button-primary"
            style="background-color: #04aa6d"
            *ngIf="selection.selected.length === 1"
            (click)="openDialog('Approve')"
          >
            Approve
          </button>
          &nbsp;
          <button
            class="custom-button-primary"
            style="background-color: #f44336"
            *ngIf="selection.selected.length === 1"
            (click)="openDialog('Reject')"
          >
            Reject
          </button>
          &nbsp;
          <button
            class="custom-button-primary"
            style="background-color: #185996"
            *ngIf="selection.selected.length > 1"
            (click)="bulkApproveReject()"
          >
            Approve/ Reject
          </button>
          &nbsp;
          <button
            mat-stroked-button
            type="button"
            (click)="resetSelection()"
            style="font-size: 12px; padding: 3px"
            class="mat-small"
            *ngIf="selection.selected.length > 0"
          >
            Reset
          </button>
        </form>
        <!-- <button
            class="custom-button-primary"
            (click)="viewTransactionDetails()"
          >
            View Details
          </button>
          &nbsp;&nbsp; -->
      </span>

      <div class="action-buttons">
        <span
          style="
            float: right !important;
            text-align: right !important;
            margin-right: 5px;
            font-size: 12px;
            margin-top: 15px;
          "
        >
          <a
            style="color: black; text-decoration: none"
            [matMenuTriggerFor]="dropdownMenu"
            >Options&nbsp;&nbsp;
            <i
              class="fa fa-ellipsis-v"
              aria-hidden="true"
              style="
                font-size: large;
                color: #4f5051;
                justify-content: end;
                float: right;
              "
            ></i>
          </a>
        </span>
      </div>
    </div>

    <ng-container *ngIf="summaryDatasource?.data?.length">
      <div class="table-container" style="overflow-y: hidden !important">
        <table
          mat-table
          [dataSource]="summaryDatasource"
          class="custom-table table-responsive"
        >
          <ng-container
            matColumnDef="select"
            style="padding-top: 10px !important"
          >
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="onRowSelectionChange($event, row)"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container *ngFor="let column of summaryColumns">
            <ng-container [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef class="nowrap no-wrap">
                <ng-container [ngSwitch]="column">
                  <ng-container *ngSwitchDefault>
                    {{ replaceUnderscore(column) }}
                  </ng-container>
                </ng-container>
              </th>

              <td
                mat-cell
                *matCellDef="let element"
                [class.issue-description-cell]="column === 'ISSUE_DESCRIPTION'"
              >
                <ng-container [ngSwitch]="column">
                  <ng-container *ngSwitchCase="'ISSUE_DESCRIPTION'">
                    <ng-container
                      *ngFor="
                        let part of formatIssueDescription(element[column])
                      "
                    >
                      <span *ngIf="part.breakBefore">
                        <br />
                        <br />
                      </span>

                      <!-- Line break before "Root Cause:" and "Business Impact:" -->
                      <span [style.font-weight]="part.bold ? 'bold' : '500'">
                        {{ part.text }}
                      </span>
                      <br *ngIf="part.breakAfter" />
                      <!-- Line break after "Issue:", "Root Cause:", and "Business Impact:" -->
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ element[column] }}
                  </ng-container>
                </ng-container>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="summaryDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: summaryDisplayedColumns"
          ></tr>
        </table>
      </div>
    </ng-container>

    <ng-container *ngIf="!summaryDatasource?.data?.length">
      <div class="loading-container">
        <app-loading-symbol></app-loading-symbol>
        <div class="circle-subcaption"></div>
        <br /><br /><br />
      </div>
    </ng-container>

    <mat-paginator
      [pageSize]="10"
      length="length"
      [pageSizeOptions]="[]"
      showFirstLastButtons
      aria-label="Select page"
    ></mat-paginator>
  </div>
</div>

<mat-menu #dropdownMenu="matMenu" class="custom-menu">
  <div
    mat-menu-item
    (click)="uploadFile()"
    class="viewHighlight"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;Upload Issues
  </div>
  <div mat-menu-item class="viewHighlight" style="font-size: small">
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;Download
  </div>
</mat-menu>
