@import "src/assets/ui.css";

.fit-modal__title {
  font-size: var(--fit-font-size-base);
  font-weight: var(--fit-font-weight-semibold);
  color: var(--fit-color-text);
  margin: 0;
}

.fit-modal__close {
  font-size: 1.5rem;
  line-height: 1;
  padding: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
