<!-- <app-o2c-nav></app-o2c-nav> -->
<span *ngIf="filteredDataNotFound" class="update-status-modal">
  <span class="update-status-content">
    No data found for the selected filters.
  </span>
</span>

<div class="circle-header">
  <button class="back-btn-floating" (click)="goBack()">
    <i class="back-icon"></i> Back
  </button>

  <app-o2c-process-flow [circleStatus]="circleStatus"></app-o2c-process-flow>
</div>

<div class="order-banner">
  <div class="summary-title">Order Summary</div>

  <div class="order-table" style="margin: 0 -0.5vw">
    <ng-container
      *ngIf="orderSummaryDataSource.data.length > 0; else noOrderData"
    >
      <table mat-table [dataSource]="orderSummaryDataSource">
        <ng-container
          *ngFor="let column of orderSummaryDisplayedColumns1"
          [matColumnDef]="column"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ formatColumnName(column) }}
          </th>

          <td mat-cell *matCellDef="let element">
            <ng-container [ngSwitch]="column">
              <ng-container *ngSwitchCase="'STATUS'">
                <span
                  [ngClass]="{
                    'status-closed': element[column]?.toLowerCase() === 'closed'
                  }"
                >
                  {{ element[column] }}
                </span>
              </ng-container>

              <ng-container *ngSwitchDefault>
                {{
                  column === "CREATION_DATE" || column === "ORDER_BOOKED_DATE"
                    ? (element[column] | date : "MM/dd/yyyy")
                    : element[column]
                }}
              </ng-container>
            </ng-container>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="orderSummaryDisplayedColumns1"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: orderSummaryDisplayedColumns1"
        ></tr>
      </table>
      <table
        mat-table
        [dataSource]="orderSummaryDataSource"
        class="order-table"
      >
        <ng-container
          *ngFor="let column of orderSummaryDisplayedColumns2"
          [matColumnDef]="column"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [ngClass]="{
              'wide-column':
                column === 'BILL_TO_CUSTOMER' || column === 'END_CUSTOMER'
            }"
          >
            {{ formatColumnName(column) }}
          </th>

          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="{
              'wide-column':
                column === 'BILL_TO_CUSTOMER' || column === 'END_CUSTOMER'
            }"
          >
            {{ element[column] }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="orderSummaryDisplayedColumns2"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: orderSummaryDisplayedColumns2"
        ></tr>
      </table>
    </ng-container>
    <ng-template #noOrderData>
      <div class="no-data-container">
        <p>No data available for this order.</p>
      </div>
    </ng-template>
  </div>

  <div class="summary-title" style="margin-top: -16px">Financial Summary</div>

  <div class="order-table" style="margin: 0 -0.5vw 1vh -0.5vw">
    <!-- <ng-container *ngIf="financialDataLoaded; else loading">
        <ng-container
          *ngIf="financialSummaryDataSource.data.length > 0; else noData"
        > -->
    <table mat-table [dataSource]="financialSummaryDataSource">
      <ng-container
        *ngFor="let column of financialSummaryDisplayedColumns"
        [matColumnDef]="column"
      >
        <!-- Special handling for the actions column -->
        <th mat-header-cell *matHeaderCellDef>
          <!-- Empty header for actions column -->
          <span *ngIf="column !== 'actions'">{{
            formatColumnName(column)
          }}</span>
        </th>

        <td mat-cell *matCellDef="let element">
          <!-- Special handling for the actions column to add a button -->
          <ng-container *ngIf="column === 'actions'; else regularCell">
            <button class="link-button" (click)="viewInCCW()">
              <span class="ccw-button-text">View in CCW</span>
              <svg
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                style="margin: 0px 0 -2px 5px"
              >
                <path
                  d="M10 6H6C4.89543 6 4 6.89543 4 8V18C4 19.1046 4.89543 20 6 20H16C17.1046 20 18 19.1046 18 18V14M14 4H20M20 4V10M20 4L10 14"
                  stroke="#0076d5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </ng-container>

          <ng-template #regularCell>
            {{ element[column] }}
          </ng-template>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="financialSummaryDisplayedColumns"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: financialSummaryDisplayedColumns"
      ></tr>
    </table>
    <!-- </ng-container>

        <ng-template #noData>
          <div class="no-data-container">
            <p>No financial data available for this order.</p>
          </div>
        </ng-template>
      </ng-container>

      <ng-template #loading>
        <div class="loading-container">
          <app-loading-symbol></app-loading-symbol>
          <br /><br /><br />
        </div>
      </ng-template> -->
  </div>
</div>

<mat-tab-group
  [(selectedIndex)]="selectedTabIndex"
  (selectedIndexChange)="onTabChange($event)"
  style="padding: 0 6vw"
>
  <mat-tab label="Subscriptions">
    <div class="tool-bar-container" *ngIf="!showSubscriptionLines">
      <div class="o2c-toolbar">
        <button class="toolbar-btn" (click)="handlePrint()">
          <i class="print-icon"></i> Print
        </button>
        <button
          (click)="
            handleDownload(
              subscriptionSummaryDataSource.data,
              'O2C 360 Order-' + orderId + ' - Subscription-' + subscriptionId,
              'Subscription Data-' + subscriptionId
            )
          "
          class="toolbar-btn"
        >
          <i class="download-icon"></i>
          Download
        </button>

        <!-- <button class="toolbar-btn" (click)="handleShare()">
          <i class="share-icon"></i> Share
        </button> -->
      </div>
    </div>

    <div class="table-container" *ngIf="!showSubscriptionLines">
      <div class="table-banner">
        <div class="order-info accordion-header">
          Subscriptions -
          {{
            subscriptionSummaryDataSource.data.length
              ? subscriptionSummaryDataSource.data.length
              : null
          }}
        </div>
      </div>
      <div class="accordion-content o2c-card">
        <div class="invoice-summary-table">
          <ng-container
            *ngIf="
              subscriptionSummaryDataSource.data.length > 0;
              else noSubscriptionData
            "
          >
            <table mat-table [dataSource]="subscriptionSummaryDataSource">
              <ng-container
                *ngFor="let column of subscriptionSummaryDisplayedColumns"
                [matColumnDef]="column"
              >
                <th mat-header-cell *matHeaderCellDef>
                  {{ formatColumnName(column) }}
                </th>

                <td mat-cell *matCellDef="let element">
                  <ng-container [ngSwitch]="column">
                    <!-- SUBSCRIPTION_ID -->
                    <ng-container *ngSwitchCase="'SUBSCRIPTION_ID'">
                      <a
                        (click)="
                          toggleSubscriptionLinesTable(element[column]);
                          $event.preventDefault()
                        "
                      >
                        {{ element[column] }}
                      </a>
                    </ng-container>

                    <!-- SUBSCRIPTION_STATUS -->
                    <ng-container *ngSwitchCase="'SUBSCRIPTION_STATUS'">
                      <span
                        [ngStyle]="{
                          color:
                            element[column]?.toLowerCase() === 'active'
                              ? '#078a00'
                              : element[column]?.toLowerCase() === 'inactive'
                              ? '#d57b00'
                              : ''
                        }"
                      >
                        {{ element[column] }}
                      </span>
                    </ng-container>

                    <!-- BILLING_SCHEDULE -->
                    <ng-container *ngSwitchCase="'BILLING_SCHEDULE'">
                      <button
                        class="link-button cell-button"
                        (click)="navigateToBillingSchedule(element)"
                      >
                        {{ element[column] }}
                      </button>
                    </ng-container>

                    <!-- Default case for date columns and other fields -->
                    <ng-container *ngSwitchDefault>
                      <span>
                        {{
                          column === "LAST_UPDATE_DATE" || column === "RUN_DATE"
                            ? (element[column] | date : "MM/dd/yyyy")
                            : element[column]
                        }}
                      </span>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="subscriptionSummaryDisplayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: subscriptionSummaryDisplayedColumns
                "
              ></tr>
            </table>
          </ng-container>
          <ng-template #noSubscriptionData>
            <div class="no-data-container">
              <p>No subscription data available for this order.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- TOOLBAR for Subscription Lines -->
    <div
      class="tool-bar-container"
      style="flex-direction: row"
      *ngIf="showSubscriptionLines"
    >
      <button
        class="back-btn"
        (click)="showSubscriptionLines = false; showInvoiceLines = false"
      >
        <i class="back-icon"></i> Summary
      </button>
      <div class="o2c-toolbar">
        <button class="toolbar-btn" (click)="handlePrint()">
          <i class="print-icon"></i> Print
        </button>
        <button
          class="toolbar-btn"
          (click)="
            handleDownload(
              subscriptionLinesFilteredDataSource.data,
              'O2C 360 Subscription Lines - ' + orderId,
              'Subscription Lines'
            )
          "
        >
          <i class="download-icon"></i> Download
        </button>

        <!-- <button class="toolbar-btn" (click)="handleShare()">
          <i class="share-icon"></i> Share
        </button> -->
      </div>
    </div>

    <!-- SUBSCRIPTION LINES TABLE -->
    <div class="table-container" *ngIf="showSubscriptionLines">
      <div class="table-banner">
        <div class="order-info accordion-header">
          Subscription Line Details -
          {{ subscriptionLinesFilteredDataSource.data.length }}
        </div>
      </div>
      <div class="accordion-content o2c-card">
        <ng-container *ngTemplateOutlet="subscriptionLinesTable"></ng-container>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Invoices">
    <div class="tool-bar-container" *ngIf="!showInvoiceLines">
      <div class="o2c-toolbar">
        <button class="toolbar-btn" (click)="handlePrint()">
          <i class="print-icon"></i> Print
        </button>
        <button
          (click)="
            handleDownload(
              invoiceSummaryDataSource.data,
              'O2C 360 Order-' + orderId + ' - Invoice-' + invoiceId,
              'Invoice Data-' + invoiceId
            )
          "
          class="toolbar-btn"
        >
          <i class="download-icon"></i>
          Download
        </button>

        <!-- <button class="toolbar-btn" (click)="handleShare()">
          <i class="share-icon"></i> Share
        </button> -->
      </div>
    </div>

    <div class="table-container" *ngIf="!showInvoiceLines">
      <div class="table-banner">
        <div class="order-info accordion-header">
          Invoices -
          {{
            invoiceSummaryDataSource.data.length
              ? invoiceSummaryDataSource.data.length
              : null
          }}
        </div>
      </div>
      <div class="accordion-content o2c-card">
        <div class="invoice-summary-table">
          <ng-container
            *ngIf="invoiceSummaryDataSource.data.length > 0; else noInvoiceData"
          >
            <table mat-table [dataSource]="invoiceSummaryDataSource">
              <ng-container
                *ngFor="let column of invoiceSummaryDisplayedColumns"
                [matColumnDef]="column"
              >
                <th mat-header-cell *matHeaderCellDef>
                  <div class="header-with-filter">
                    <span>{{ formatColumnName(column) }}</span>

                    <ng-container
                      *ngIf="
                        column === 'AMOUNT_DUE_ORIGINAL' ||
                        column === 'AMOUNT_DUE_REMAINING'
                      "
                    >
                      <app-table-filter
                        [columnLabel]="'USD'"
                        [options]="amountOptions"
                        (optionSelected)="
                          handleFilter(
                            $event,
                            column,
                            originalInvoiceSummaryData,
                            'invoiceSummaryDataSource'
                          )
                        "
                      ></app-table-filter>
                    </ng-container>
                  </div>
                </th>

                <td mat-cell *matCellDef="let element">
                  <ng-container [ngSwitch]="column">
                    <ng-container *ngSwitchCase="'OTHER_DETAILS'">
                      <a
                        (click)="
                          openInvoiceModal(element['TRANSACTION_NUMBER']);
                          $event.preventDefault()
                        "
                      >
                        {{ element[column] }}
                      </a>
                    </ng-container>

                    <ng-container *ngSwitchCase="'TRANSACTION_NUMBER'">
                      <a
                        (click)="
                          toggleInvoiceLinesTable(element['TRANSACTION_NUMBER'])
                        "
                      >
                        {{ element[column] }}
                      </a>
                    </ng-container>

                    <ng-container
                      *ngSwitchCase="
                        column === 'AMOUNT_DUE_ORIGINAL' ||
                        column === 'AMOUNT_DUE_REMAINING'
                          ? column
                          : ''
                      "
                    >
                      {{ element[column] | currency : "USD" : "" }}
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                      {{
                        column === "TRANSACTION_DATE" || column === "DUE_DATE"
                          ? (element[column] | date : "MM/dd/yyyy")
                          : element[column]
                      }}
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="invoiceSummaryDisplayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: invoiceSummaryDisplayedColumns"
              ></tr>
            </table>
          </ng-container>
          <ng-template #noInvoiceData>
            <div class="no-data-container">
              <p>No invoice data available for this order.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- TOOLBAR for Invoice Lines -->
    <div
      class="tool-bar-container"
      style="flex-direction: row"
      *ngIf="showInvoiceLines"
    >
      <button
        class="back-btn"
        (click)="showInvoiceLines = false; showSubscriptionLines = false"
      >
        <i class="back-icon"></i> Summary
      </button>
      <div class="o2c-toolbar">
        <button class="toolbar-btn" (click)="handlePrint()">
          <i class="print-icon"></i> Print
        </button>
        <button
          class="toolbar-btn"
          (click)="
            handleDownload(
              invoiceLinesFilteredDataSource.data,
              'O2C 360 Invoice Lines - ' + orderId,
              'Invoice Lines'
            )
          "
        >
          <i class="download-icon"></i> Download
        </button>

        <!-- <button class="toolbar-btn" (click)="handleShare()">
          <i class="share-icon"></i> Share
        </button> -->
      </div>
    </div>

    <!-- INVOICE LINES TABLE -->
    <div class="table-container" *ngIf="showInvoiceLines">
      <div class="table-banner">
        <div class="order-info accordion-header">
          Invoice Line Details -
          {{ invoiceLinesFilteredDataSource.data.length }}
        </div>
      </div>
      <div class="accordion-content o2c-card">
        <div class="invoice-summary-table">
          <ng-container
            *ngIf="
              invoiceLinesFilteredDataSource.data.length > 0;
              else noInvoiceLineData
            "
          >
            <table mat-table [dataSource]="invoiceLinesFilteredDataSource">
              <ng-container
                *ngFor="let column of invoiceLinesDisplayedColumns"
                [matColumnDef]="column"
              >
                <th mat-header-cell *matHeaderCellDef>
                  <div class="header-with-filter">
                    <span>{{ formatColumnName(column) }}</span>

                    <ng-container *ngIf="column === 'POSTED_TO_GL'">
                      <app-table-filter
                        [options]="postedToGLOptions"
                        (optionSelected)="
                          handleFilter(
                            $event,
                            column,
                            invoiceLinesFiltered
                              ? filteredOriginalInvoiceLinesData
                              : originalInvoiceLinesData,
                            invoiceLinesFiltered
                              ? 'invoiceLinesFilteredDataSource'
                              : 'invoiceLinesDataSource'
                          )
                        "
                      ></app-table-filter>
                    </ng-container>

                    <ng-container
                      *ngIf="
                        column === 'EXTENDED_AMOUNT' ||
                        column === 'LINE_AMOUNT' ||
                        column === 'TAX_AMOUNT'
                      "
                    >
                      <app-table-filter
                        [columnLabel]="'USD'"
                        [options]="amountOptions"
                        (optionSelected)="
                          handleFilter(
                            $event,
                            column,
                            invoiceLinesFiltered
                              ? filteredOriginalInvoiceLinesData
                              : originalInvoiceLinesData,
                            invoiceLinesFiltered
                              ? 'invoiceLinesFilteredDataSource'
                              : 'invoiceLinesDataSource'
                          )
                        "
                      ></app-table-filter>
                    </ng-container>
                  </div>
                </th>

                <td mat-cell *matCellDef="let element">
                  <ng-container [ngSwitch]="column">
                    <ng-container
                      *ngSwitchCase="
                        column === 'UNIT_SELLING_PRICE' ? column : ''
                      "
                    >
                      {{ element[column] | currency : "USD" : "" }}
                    </ng-container>
                    <!-- 
                    <ng-container *ngSwitchCase="'POSTED_TO_GL'">
                      <button
                        class="link-button"
                        (click)="navigateToGl(element)"
                      >
                        {{ element[column] }}
                      </button>
                    </ng-container> -->

                    <ng-container *ngSwitchDefault>
                      {{
                        column === "GL_DATE"
                          ? (element[column] | date : "MM/dd/yyyy")
                          : element[column]
                      }}
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="invoiceLinesDisplayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: invoiceLinesDisplayedColumns"
              ></tr>
            </table>
          </ng-container>
          <ng-template #noInvoiceLineData>
            <div class="no-data-container">
              <p>No invoice line data available for this order.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<br /><br />

<ng-template #subscriptionLinesTable>
  <div class="invoice-summary-table">
    <ng-container
      *ngIf="
        subscriptionLinesFilteredDataSource.data.length > 0;
        else noSubscriptionLineData
      "
    >
      <table mat-table [dataSource]="subscriptionLinesFilteredDataSource">
        <ng-container
          *ngFor="let column of subscriptionLinesDisplayedColumns"
          [matColumnDef]="column"
        >
          <th mat-header-cell *matHeaderCellDef>
            <ng-container [ngSwitch]="column">
              <span> {{ formatColumnName(column) }} </span>
              <ng-container *ngIf="column === 'LINE_AMOUNT'">
                <app-table-filter
                  [columnLabel]="'USD'"
                  [options]="amountOptions"
                  (optionSelected)="
                    handleFilter(
                      $event,
                      column,
                      subscriptionLinesFiltered
                        ? filteredOriginalSubscriptionLinesData
                        : originalSubscriptionLinesData,
                      'subscriptionLinesDataSource'
                    )
                  "
                ></app-table-filter>
              </ng-container>
              <ng-container *ngIf="column === 'POSTED_TO_GL'">
                <app-table-filter
                  [options]="postedToGLOptions"
                  (optionSelected)="
                    handleFilter(
                      $event,
                      column,
                      subscriptionLinesFiltered
                        ? filteredOriginalSubscriptionLinesData
                        : originalSubscriptionLinesData,
                      'subscriptionLinesDataSource'
                    )
                  "
                ></app-table-filter>
              </ng-container>
              <ng-container *ngIf="column === 'TSV_CREATED'">
                <app-table-filter
                  [options]="postedToGLOptions"
                  (optionSelected)="
                    handleFilter(
                      $event,
                      column,
                      subscriptionLinesFiltered
                        ? filteredOriginalSubscriptionLinesData
                        : originalSubscriptionLinesData,
                      'subscriptionLinesDataSource'
                    )
                  "
                ></app-table-filter>
              </ng-container>
            </ng-container>
          </th>

          <td mat-cell *matCellDef="let element">
            <ng-container [ngSwitch]="column">
              <!-- GL Date formatting -->
              <ng-container *ngSwitchCase="'GL_DATE'">
                {{ element[column] | date : "MM/dd/yyyy" }}
              </ng-container>

              <!-- TSV_CREATED clickable link -->
              <ng-container *ngSwitchCase="'TSV_CREATED'">
                <ng-container
                  *ngIf="
                    element[column]?.toLowerCase() === 'y' ||
                      element[column]?.toLowerCase() === 'yes';
                    else nonClickableTsv
                  "
                >
                  <button class="link-button" (click)="navigateToTsv(element)">
                    {{ element[column] }}
                  </button>
                </ng-container>
                <ng-template #nonClickableTsv>
                  <span>{{ element[column] }}</span>
                </ng-template>
              </ng-container>

              <!-- POSTED_TO_GL clickable link -->
              <!-- <ng-container *ngSwitchCase="'POSTED_TO_GL'">
                <button class="link-button" (click)="navigateToGl(element)">
                  {{ element[column] }}
                </button>
              </ng-container> -->

              <ng-container *ngSwitchCase="'SUBSCRIPTION_REF_ID'">
                <a
                  (click)="
                    toggleSubscriptionLinesTable(element['SUBSCRIPTION_REF_ID'])
                  "
                >
                  {{ element[column] }}
                </a>
              </ng-container>

              <!-- Default case for other columns -->
              <ng-container *ngSwitchDefault>
                {{ element[column] }}
              </ng-container>
            </ng-container>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="subscriptionLinesDisplayedColumns"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: subscriptionLinesDisplayedColumns"
        ></tr>
      </table>
    </ng-container>
    <ng-template #noSubscriptionLineData>
      <div class="no-data-container">
        <p>No subscription line data available for this order.</p>
      </div>
    </ng-template>
  </div>
</ng-template>

<app-modal
  *ngIf="showInvoiceModal"
  [headerBgColor]="'#def7ff'"
  [borderRadius]="'0px'"
  [title]="
    'Transaction Number  &nbsp; -  &nbsp; ' +
    selectedTransactionNumber +
    '  &nbsp;&nbsp; | &nbsp;&nbsp; Web Order ID  &nbsp; -  &nbsp; ' +
    orderId
  "
  (close)="showInvoiceModal = false"
>
  <!-- PRINT STATUS TABLE -->
  <div class="invoice-summary-table">
    <div style="font-size: 14px; font-weight: bold; margin-bottom: 6px">
      Print Status
    </div>
    <table
      mat-table
      style="width: 100%"
      [dataSource]="invoiceSummaryModalDataSource"
    >
      <ng-container
        *ngFor="let column of displayedColumnsInvoicePrintStatus"
        [matColumnDef]="column"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ formatColumnName(column) }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="column === 'PRINT_DATE'; else defaultPrint">
            {{ element[column] | date : "MM/dd/yyyy" }}
          </ng-container>
          <ng-template #defaultPrint>
            {{ element[column] }}
          </ng-template>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumnsInvoicePrintStatus"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsInvoicePrintStatus"
      ></tr>
    </table>
  </div>

  <!-- E-INVOICE STATUS TABLE -->
  <div class="invoice-summary-table" style="margin-top: 18px">
    <div style="font-size: 14px; font-weight: bold; margin-bottom: 6px">
      E-Invoice Status & Collector Info
    </div>
    <table
      mat-table
      style="width: 100%"
      [dataSource]="invoiceSummaryModalDataSource"
    >
      <ng-container
        *ngFor="let column of displayedColumnsInvoiceStatus"
        [matColumnDef]="column"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ formatColumnName(column) }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="column === 'IRN_UUID_DATE'; else defaultStatus">
            {{ element[column] | date : "MM/dd/yyyy" }}
          </ng-container>
          <ng-template #defaultStatus>
            {{ element[column] }}
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsInvoiceStatus"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsInvoiceStatus"
      ></tr>
    </table>
  </div>

  <!-- CASH APPLICATION TABLE -->
  <div class="invoice-summary-table" style="margin-top: 18px">
    <div style="font-size: 14px; font-weight: bold; margin-bottom: 6px">
      Cash Application
    </div>
    <table
      mat-table
      style="width: 100%"
      [dataSource]="invoiceSummaryModalDataSource"
    >
      <ng-container
        *ngFor="let column of displayedColumnsInvoiceCash"
        [matColumnDef]="column"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ formatColumnName(column) }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsInvoiceCash"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsInvoiceCash"
      ></tr>
    </table>
  </div>
</app-modal>
