.o2c-details-container {
  padding: 20px;
  font-family: "Inter", sans-serif;
}

h1 {
  color: #08ace4;
}

h1,
p,
.td {
  font-family: Inter;
}

.table {
  font-size: 12px;
  /* border: 1px solid lightgray; */
}

.table,
.td {
  text-align: left;
}

.table-header {
  font-weight: bold;
}

.table-header.table-row {
  border-bottom: 2px solid gray;
}

.table-row {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
}
.table-row:last-child {
  border: none;
}
.td {
  display: inline-block;
  padding: 8px;
}

.td:nth-child(0) {
  width: calc(10vw);
}

.td:nth-child(1) {
  width: calc(10vw);
}
.td:nth-child(2) {
  width: calc(20vw);
}
.td:nth-child(3) {
  width: calc(20vw);
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #f3f3f3;
}

.child-row {
  background-color: #f0f0f0;
}

/* bullshit from here on */

.search-bar-container {
  display: flex;
  justify-content: center;
}

.custom-search-bar {
  display: flex;
  align-items: center;
  /* border: 1px solid #c4c4c4; */
  border-radius: 24px; /* Rounded ends */
  padding: 4px 8px; /* Inner padding */
  height: 32px;
  background-color: #ffffff; /* Light background */
  width: 432px; /* Optional: Adjust max width */
  margin: 0 auto; /* Optional: Center the search bar */
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);  */
}

.custom-search-bar:hover {
  border-color: #e8e8e8; /* Accent color when focused */
}

.custom-search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 13px;
  border-radius: 24px; /* Match container's rounded ends */
  background: transparent;
}

.custom-search-input:focus-within {
  color: #ba0f0f;
}

.custom-search-icon {
  border: none;
  background: none;
  cursor: pointer;
  padding: 4px;
  font-size: 14px; /* Adjust icon size */
  color: #6b6b6b; /* Icon color */
}

.custom-search-bar:focus-within {
  border-color: #6200ea; /* Accent color when focused */
}

.custom-search-bar:hover {
  background-color: #eeeeee; /* Slight hover effect */
}

.user-title {
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding-top: 2px;
  cursor: pointer;
}

.flowchart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  /* background: #ffffff; */
  padding-left: 5px;
  padding-right: 5px;
}

.slider-bar {
  margin-top: 34px;
  position: absolute;
  width: fit-content;
  height: 4px;
  border-radius: 10px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  transition: background 0.3s ease-in-out; /* Smooth transition */
}

.circle-wrapper-loop {
  align-items: center;
  text-align: center;
  position: relative;
  width: 150px;
  top: -24px;
}

.circle-loop {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #08ace4;
  position: relative;
  margin-top: -0px;
  left: 67px;
}

/* Circle states */
.completed-circle {
  background: #00cb5b; /* Green for completed */
}

.current-circle {
  background: #08ace4; /* Blue for current step */
}

.uncompleted-circle {
  background: #16371e43; /* Gray for uncompleted */
}

.circle-caption-loop {
  font-size: 12px;
  color: #333;
  text-align: center;
  margin: 0 0 0 0;
}

.chevron-wrapper-loop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px; /* Matches the circle wrapper width */
  position: relative;
  top: -56px;
  left: 150px;
}

.chevron,
.chevron-white {
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
}

.chevron {
  border-width: 2px 2px 2px 2px;
  border-color: transparent #16371e43 transparent transparent;
  transform: rotate(180deg);
  z-index: 1;
  top: 0px;
}

.chevron-white {
  border-width: 8px 8px 8px 8px;
  border-color: transparent #fcfcfc transparent transparent;
  transform: rotate(180deg);
  margin-left: -4px; /* To overlay on the darker chevron */
  top: 0px;
}

/* real shit now */

.table-background {
  background-color: #ffffff;
}

.card {
  overflow-x: auto;
  border: none;
  background-color: rgb(241, 241, 241);
  border-radius: 0px;
  padding: 0;
}

.gridded-table td,
.gridded-table th {
  border: 1px solid #ddd; /* Add border to table cells and headers */
}

.gridded-table th {
  background-color: #f1f1f1; /* Add background color to headers */
}

.gridded-table th.no-border-left {
  border-left: none; /* Remove left border from the first header */
}

.gridded-table .no-border-right {
  border-right: none; /* Remove right border from the last header */
}

.header-table {
  overflow-x: auto;
  background-color: rgb(241, 241, 241);
  margin: 0 calc(-5rem);
  padding: 0 calc(5rem);
}

.header-card {
  margin: 0px;
  position: relative;
  transition: all linear 0.5s;
  width: 100%;
  overflow-x: auto;
}

.card-og {
  position: relative;
  display: block;
  padding: 16px;
  background-color: #fff;
  outline: 2px solid #e1e4e8;
  border-radius: 8px;
  transition: all linear 0.5s;
  width: auto;
}
