<div class="modal-overlay" (click)="emitClose()">
  <div
    class="modal-content"
    (click)="stopPropagation($event)"
    [ngStyle]="{ 'border-radius': borderRadius || '8px' }"
    >
    @if (title) {
      <div
        class="modal-header"
        [ngStyle]="{ 'background-color': headerBgColor || '#def7ff' }"
        >
        <h5 class="modal-title">{{ title }}</h5>
        <button class="close-button" (click)="emitClose()">✕</button>
      </div>
    }

    <div class="modal-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
