<div
  class="o2c-container"
  style="justify-content: center; align-items: center; margin-top: 2vh"
>
  <div class="o2c-donut-row">
    <div class="chart-legend-wrapper">
      <div class="accordion">
        <div class="accordion-header" (click)="toggleAccordion(2)">
          <span>Donut Chart 2 Title</span>
          <span class="accordion-icon">{{ isOpen[2] ? "−" : "+" }}</span>
        </div>
        <div class="accordion-body" [class.open]="isOpen[2]">
          <app-o2c-donut
            [data]="dummyData2"
            canvasId="donutChart2"
          ></app-o2c-donut>
        </div>
      </div>
    </div>

    <div class="chart-legend-wrapper">
      <div class="accordion">
        <div class="accordion-header" (click)="toggleAccordion(3)">
          <span>Donut Chart 3 Title</span>
          <span class="accordion-icon">{{ isOpen[3] ? "−" : "+" }}</span>
        </div>
        <div class="accordion-body" [class.open]="isOpen[3]">
          <app-o2c-donut
            [data]="dummyData3"
            canvasId="donutChart3"
          ></app-o2c-donut>
        </div>
      </div>
    </div>

    <div class="chart-legend-wrapper">
      <div class="accordion">
        <div class="accordion-header" (click)="toggleAccordion(4)">
          <span>Donut Chart 4 Title</span>
          <span class="accordion-icon">{{ isOpen[4] ? "−" : "+" }}</span>
        </div>
        <div class="accordion-body" [class.open]="isOpen[4]">
          <app-o2c-donut
            [data]="dummyData4"
            canvasId="donutChart4"
          ></app-o2c-donut>
        </div>
      </div>
    </div>

    <div class="chart-legend-wrapper">
      <div class="accordion">
        <div class="accordion-header" (click)="toggleAccordion(5)">
          <span>Donut Chart 5 Title</span>
          <span class="accordion-icon">{{ isOpen[5] ? "−" : "+" }}</span>
        </div>
        <div class="accordion-body" [class.open]="isOpen[5]">
          <app-o2c-donut
            [data]="dummyData5"
            canvasId="donutChart5"
          ></app-o2c-donut>
        </div>
      </div>
    </div>

    <div class="chart-legend-wrapper">
      <div class="accordion">
        <div class="accordion-header" (click)="toggleAccordion(6)">
          <span>Donut Chart 6 Title</span>
          <span class="accordion-icon">{{ isOpen[6] ? "−" : "+" }}</span>
        </div>
        <div class="accordion-body" [class.open]="isOpen[6]">
          <app-o2c-donut
            [data]="dummyData4"
            canvasId="donutChart6"
          ></app-o2c-donut>
        </div>
      </div>
    </div>
  </div>
</div>
