.o2c-container {
  display: flex;
  height: 100%;
  gap: 6px;
  padding: 6px 22px;
}

.o2c-column-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.o2c-donut-row {
  display: grid;
  width: 100%;
  gap: 20px;
  flex: 1 0 0;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
}

/* For medium-sized screens */
@media screen and (max-width: 1400px) {
  .o2c-donut-row {
    grid-template-columns: repeat(2, 1fr); /* 2x2 + 1 layout */
  }
}

/* For smaller screens */
@media screen and (max-width: 900px) {
  .o2c-donut-row {
    grid-template-columns: 1fr; /* Stack all items vertically */
  }
}

.chart-legend-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  flex: 1;
}

/* Adjust for smaller screens */
@media screen and (max-width: 600px) {
  .chart-legend-wrapper {
    flex-direction: column; /* Stack chart and legend vertically on very small screens */
  }
}
