:host {
  display: block;
  background: white;

  min-height: 100vh; /* Ensure it covers the entire height of the viewport */
  padding: 1.2rem; /* Add padding to keep spacing from the edges */
  font-family: "Inter", sans-serif;
}

th {
  text-align: center !important;
  border-bottom: 2px solid #373c42 !important;
  background-color: #ffffff !important;
  font-weight: 600;
}

#editCloseTime:hover {
  cursor: pointer;
}

td {
  text-align: center !important;
  font-weight: 500;
}

::ng-deep .mat-select-panel {
  max-height: 500px !important;
}

li.ng-star-inserted {
  text-align: left !important;
}

.equal-width {
  width: 100%;
  /* table-layout: fixed; */
}

.equal-width td tr th {
  width: 14.2857%;
  /* border: 1px solid black; */
}

#tableHeading {
  text-align: left !important;
}

.legendIcon {
  color: darkgrey;
}

.legendIcon:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

::ng-deep .mat-ink-bar {
  background-color: #049fd9 !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 8px;
}

.cuiAlign {
  text-align: center !important;
}

ul {
  list-style-type: none;
}

/* .card,
.container {
  position: relative;
  display: block;
  padding: 16px;
  background-color: #fff;
  border: 2px solid #e1e4e8;
  border-radius: 8px;
  transition: all linear 0.5s;
  width: 100%;
} */

/* .container {
  padding: 8px 0 12px 0;
  margin-bottom: 16px;
  border: 0px;
  border-radius: 12px;
  box-shadow: 0 3px 8px #00000014;
} */

.table-container {
  overflow-x: auto;
  width: 100%;
}

.rol-error-summary-container {
  overflow-x: auto; /* Ensure the table scrolls horizontally if too wide */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: fit-content;
  padding-top: 0px;
  margin-top: -6px;
}

.custom-table {
  min-width: 100%; /* Adjust based on your needs */
  table-layout: auto; /* Allows columns to resize dynamically */
}

.mat-header-row {
  background-color: #ffffff !important;
  border-bottom: 2px solid #373c42 !important; /* Add a bar below the header row */
}

.section-title {
  color: #373c42;
  margin: 0px;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Space between title/form on left and action buttons on right */
  align-items: center; /* Vertically align items in the center */
  width: 100%;
  padding: 0 10px 0 12px;
}
.action-buttons {
  display: flex;
  justify-content: flex-end; /* Align action buttons to the right */
  gap: 10px; /* Optional space between action buttons */
}

.mat-header-cell {
  color: black;
}

.mat-cell {
  font-size: 12px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 0px;
}
