<mat-tab-group
  [selectedIndex]="selectedIndex"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab
    *ngFor="let tab of filteredTabs; let i = index"
    [label]="tab.label"
    [disabled]="tab.disabled"
  >
    <ng-container [ngSwitch]="tab.component">
      <ng-container *ngSwitchCase="'app-standard-revenue'">
        <app-monitoring-dashboard
          [apiUrl]="authService.getHostUrl()"
          [urls]="standardRevenueUrl"
          [keysToMap]="[
            'PERIOD_NAME',
            'ORG_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'TRANSACTION_DATE'
          ]"
          [periodStatus]="periodStatus"
          [componentName]="'Standard Revenue'"
          [columnsToFilter]="standardRevenueFilters"
          [detailsColumnsToHide]="['TRANSACTION_DATE']"
          [assignmentDialogFieldConfig]="fieldConfig"
          [assignmentUsersFilter]="'I2C'"
          [submitKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE'
          ]"
          [webexKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE',
            'AMOUNT'
          ]"
          *ngIf="selectedIndex === i"
        ></app-monitoring-dashboard>
      </ng-container>
      <ng-container *ngSwitchCase="'app-rol'">
        <app-monitoring-dashboard
          [apiUrl]="authService.getHostUrl()"
          [urls]="rolUrls"
          [keysToMap]="rolAndAccrualsKeysToMap"
          [periodStatus]="periodStatus"
          [componentName]="'ROL'"
          [columnsToFilter]="rolFilters"
          [summaryColumnsToHide]="['SEQUENCE_NUM']"
          [detailsColumnsToHide]="['SEQUENCE_NUM']"
          [assignmentDialogFieldConfig]="fieldConfig"
          [assignmentUsersFilter]="'I2C'"
          [submitKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE'
          ]"
          [webexKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE',
            'AMOUNT'
          ]"
          *ngIf="selectedIndex === i"
        ></app-monitoring-dashboard>
      </ng-container>
      <ng-container *ngSwitchCase="'app-accruals'">
        <app-monitoring-dashboard
          [apiUrl]="authService.getHostUrl()"
          [urls]="accrualsUrls"
          [keysToMap]="rolAndAccrualsKeysToMap"
          [periodStatus]="periodStatus"
          [componentName]="'Accruals'"
          [columnsToFilter]="accrualsFilters"
          [summaryColumnsToHide]="['SEQUENCE_NUM']"
          [detailsColumnsToHide]="['TRANSACTION_DATE']"
          [assignmentDialogFieldConfig]="fieldConfig"
          [assignmentUsersFilter]="'I2C'"
          [submitKeysToMap]="['SEQUENCE_NUM']"
          [webexKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE',
            'AMOUNT'
          ]"
          *ngIf="selectedIndex === i"
        ></app-monitoring-dashboard>
      </ng-container>
      <ng-container *ngSwitchCase="'app-accounts'">
        <app-monitoring-dashboard
          [apiUrl]="authService.getHostUrl()"
          [urls]="accountsUrls"
          [keysToMap]="['SEQUENCE_NUMBER']"
          [periodStatus]="periodStatus"
          [componentName]="'Accounts'"
          [columnsToFilter]="accountsFilters"
          [summaryColumnsToHide]="['SEQUENCE_NUMBER']"
          [detailsColumnsToHide]="['TRANSACTION_DATE']"
          [assignmentDialogFieldConfig]="fieldConfig"
          [assignmentUsersFilter]="'I2C'"
          [submitKeysToMap]="['SEQUENCE_NUMBER']"
          [webexKeysToMap]="[
            'PERIOD_NAME',
            'APPLICATION_NAME',
            'PROCESS_FLOW',
            'ORG_NAME',
            'TRANSACTION_DATE',
            'AMOUNT'
          ]"
          *ngIf="selectedIndex === i"
        ></app-monitoring-dashboard>
      </ng-container>
    </ng-container>
  </mat-tab>
</mat-tab-group>

<div
  style="display: flex; justify-content: center; align-items: center !important"
>
  <ng-container *ngIf="!roles.length">
    <tr>
      <td colspan="100%" style="text-align: center">
        <app-loading-symbol></app-loading-symbol>
      </td>
    </tr>
  </ng-container>
</div>
