<mat-tab-group>
  <mat-tab label="Accruals">
    <app-monitoring-dashboard
      [urls]="accrualsUrls"
      [fieldKey]="'SEQUENCE_ID'"
      [processFlowKeys]="accrualsTotals"
      [periodStatus]="periodStatus"
      [detailsDisplayedColumns]="accrualsDetailsColumns"
      [componentName]="'Accruals'"
      [processFlowTabsToDisplay]="['Accruals']"
      [specialWords]="specialWords"
      [skippedWords]="skippedWords"
    ></app-monitoring-dashboard>
  </mat-tab>

  <mat-tab label="Standard Revenue" [disabled]="true" *ngIf="false"></mat-tab>
  <mat-tab label="Revenue Orchestration Layer">
    <app-rol></app-rol>
  </mat-tab>

  <mat-tab label="Meraki" [disabled]="true"> </mat-tab>
</mat-tab-group>
