<mat-tab-group [selectedIndex]="0">
  <mat-tab [label]="'I2C - Case Analyzer Accuracy'">
    <div class="flex-row">
      <div class="metric-box metric-content">
        <h5>{{ categoryAccuracy === "-" ? "-" : categoryAccuracy + "%" }}</h5>
        <p>Category Accuracy</p>
      </div>
      <div class="metric-box metric-content">
        <h5>{{ coreIssueAccuracy === "-" ? "-" : coreIssueAccuracy + "%" }}</h5>
        <p>Core Issue Accuracy</p>
      </div>

      <div class="metric-box metric-content">
        <h5>{{ totalCases }}</h5>
        <p>Total Cases</p>
      </div>

      <div
        class="metric-box metric-content"
        style="background-color: #36a2eb; color: white"
      >
        <h5 style="color: white">Matched</h5>
        <p>Blue</p>
      </div>

      <div class="metric-box metric-content" style="background-color: #ff6384">
        <h5>Not Matched</h5>
        <p>Red</p>
      </div>

      <div class="metric-box metric-content" style="background-color: #ffce56">
        <h5>Analyzed</h5>
        <p>Yellow</p>
      </div>

      <div class="metric-box metric-content" style="background-color: #e5e5e5">
        <h5>Unknown</h5>
        <p>Gray</p>
      </div>
    </div>

    <div class="charts-row">
      <div class="chart-section">
        <h4>Category Distribution (Stacked)</h4>
        <div class="chart-container">
          <app-bar-chart
            [data]="i2cChartData"
            [stacked]="true"
            [isLoading]="false"
            canvasId="i2cStackedChart"
          >
          </app-bar-chart>
        </div>
      </div>
      <div class="chart-section">
        <h4>Core Issue Distribution (Stacked)</h4>
        <div class="chart-container">
          <app-bar-chart
            [data]="i2cSimpleChartData"
            [stacked]="true"
            [isLoading]="false"
            canvasId="i2cSimpleChart"
          >
          </app-bar-chart>
        </div>
      </div>
    </div>

    <div class="metric-box">
      <h4>I2C Classification Summary</h4>

      <p>
        Note: Changes made in the table below are not saved automatically.
        Please download your edits and use the sidebar 'Update Dashboard Data'
        option to persist changes.
      </p>
    </div>

    <app-caseiq-table
      #i2cTable
      [dataSource]="i2cTableData"
      [displayedColumns]="i2cTableColumns"
      [exportFileName]="'I2C_Validation_Summary'"
      [extraWideColumns]="['Case Summary - Description']"
      [enablePagination]="true"
      [pageSize]="5"
      [totalRecords]="totalRecords"
    >
    </app-caseiq-table>
  </mat-tab>
  <mat-tab [label]="'Update Dashboard Data'">
    <app-upload-screen [source]="'i2c'"> </app-upload-screen>
  </mat-tab>
</mat-tab-group>
