<div class="modal-overlay" (click)="close.emit()">
  <div class="modal-content container" (click)="stopPropagation($event)">
    <div class="modal-header">
      <div style="width: 100%">
        <h5 class="section-title">{{ title }}</h5>
      </div>
      <div class="modal-actions">
        <i
          class="svg-icon download-icon"
          style="font-size: 20px; color: gray; cursor: pointer"
          (click)="exportTableToExcel()"
        ></i>
        &nbsp;&nbsp;
        <i
          class="svg-icon close-icon"
          style="font-size: 20px; cursor: pointer"
          (click)="close.emit()"
        ></i>
      </div>
    </div>

    <div class="sortArrow" style="overflow: auto; max-height: 70vh">
      <table
        mat-table
        [dataSource]="dataSource"
        class="table table-responsive table-striped"
        >
        @for (column of displayedColumns; track column) {
          <ng-container
            [matColumnDef]="column"
            >
            <th mat-header-cell *matHeaderCellDef>
              {{ removeUnderscores(column) }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row[column] }}
            </td>
          </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="custom-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
