.color-green {
  color: rgb(21, 213, 21);
}

.color-orange {
  color: orange;
}

th {
  text-align: center !important;
}

td {
  text-align: center !important;
}

.arclosetable .table th {
  background-color: #049fd9;
  color: white;
  text-wrap: wrap;
  width: 16%;
}
