.color-green {
  /* color: rgb(21, 213, 21); */
  color: #78c000;
}

.color-orange {
  /* color: orange; */
  color: #ffd429;
}

th {
  text-align: center !important;
}

td {
  text-align: center !important;
}

.arclosetable .table th {
  background-color: #049fd9 !important;
  color: white;
  text-wrap: wrap;
  width: 12%;
}

.reduce-space {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.blueTxt {
  color: blue;
  cursor: pointer;
}
