<div style="float: right; margin-top: 0px; margin-right: 5px">
  Dashboard updated: Today at 11:25 AM
</div>
<br />

<div class="row" style="margin-left: 1px; margin-bottom: 5px; margin-top: 5px">
  <span class="col-sm-9" style="height: 20px">
    <label>Expected Start Time:</label>
    12:20AM &nbsp;|&nbsp;
    <label>Expected End Time:</label>
    5:00AM &nbsp;|&nbsp;
    <label>Actual Start Time:</label> &nbsp;
    <span class="color-green">12:20AM</span> &nbsp;|&nbsp;
    <label>Actual End Time:</label> &nbsp;
    <span class="color-green">4:26AM</span>
  </span>

  <span class="col-sm-3" style="height: 20px"
    ><div style="float: right; margin-right: 5px">
      <label>Quarter:</label> Q1FY2024 &nbsp;|&nbsp;<label>Period:</label>
      Oct-23
    </div></span
  >
</div>

<div style="margin-left: 10px">
  <label>Eliminations, Stat Rules and Consolidations:&nbsp;</label> 7:30AM
</div>

<div class="reduce-space" style="font-size: small; margin-left: 10px">
  <p class="clearfix">
    <label class="reduce-space">Sequence Infomation: &nbsp;</label>
    <span class="collapsable float-left">
      {{
        info.length > firstCount ? (info | slice : 0 : counter) + "..." : info
      }}
      <span class="blueTxt" *ngIf="info.length > 201" (click)="toggleSkil()">
        {{ showTxt }}
      </span>
    </span>
  </p>
</div>

<div class="arclosetable">
  <table class="table table-responsive equal-width">
    <thead>
      <tr>
        <th *ngFor="let col of displayedColumns">
          <span style="font-weight: bolder">{{ col }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <!--To display values when data source is in simple json form like DataSource-->
      <tr *ngFor="let row of dataSource">
        <td *ngFor="let category of templateObject.keys(row)">
          <span *ngIf="row[category] === 'Completed'" class="color-green">
            {{ row[category] }}</span
          >
          <span *ngIf="row[category] === 'Delayed'" class="color-orange">
            {{ row[category] }}</span
          >
          <span
            *ngIf="['Completed', 'Delayed'].indexOf(row[category]) === -1"
            >{{ row[category] }}</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
