<div style="background-color: #007dab; height: 100%">
  <mat-nav-list>
    <!-- <mat-list-item [routerLink]="['/home']" routerLinkActive="active">
      Home
    </mat-list-item>
    <mat-list-item [routerLink]="['/standard-ar']" routerLinkActive="active">
      Standard AR
    </mat-list-item> -->
    <!-- <mat-list-item
      [routerLink]="['/tsv-exceptions-top-sku']"
      routerLinkActive="active"
    >
      Revenue Accruals Top Sku
    </mat-list-item>
    <mat-list-item
      [routerLink]="['/tsv-exceptions-sub-sku']"
      routerLinkActive="active"
    >
      Revenue Accruals Sub Sku
    </mat-list-item> -->
    <!-- <mat-list-item
      [routerLink]="['/revenue-controls']"
      routerLinkActive="active"
    >
      Revenue Controls
    </mat-list-item> -->
    <!-- <mat-expansion-panel
      [class.mat-elevation-z0]="true"
      style="background-color: #007dab"
      [expanded]="true"
      hideToggle
    >
      <mat-expansion-panel-header style="font-size: medium; color: white">
        Period Close Tracking
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item
          [routerLink]="['/period-close-tracking-preclose']"
          routerLinkActive="active"
        >
          Pre-close
        </mat-list-item>
        <mat-list-item
          [routerLink]="['/period-close-tracking-midclose']"
          routerLinkActive="active"
        >
          Mid-close
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel> -->
    <!-- <mat-list-item
      [routerLink]="['/period-close-tracking']"
      routerLinkActive="active"
    >
      Period Close Tracking
    </mat-list-item> -->
    <!-- <mat-list-item [routerLink]="['/error-dash']" routerLinkActive="active">
      Error Dashboard
    </mat-list-item> -->
    <!-- <mat-list-item [routerLink]="['/invoice-status']" routerLinkActive="active">
      Order Lifecycle
    </mat-list-item> -->
    <mat-list-item
      [routerLink]="['/revenue-accruals']"
      routerLinkActive="active"
    >
      Revenue Accruals
    </mat-list-item>
    <mat-list-item
      [routerLink]="['/revenue-accruals2']"
      routerLinkActive="active"
    >
      Revenue Accruals2
    </mat-list-item>
  </mat-nav-list>
</div>
