<div class="grid-1 container" style="width: auto">
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: -32px;
    "
  >
    <p class="section-title">Auto Invoice Errors</p>
    <p style="text-align: center; margin: 0px 0 0 0">
      Quarter: <span style="font-weight: 600">Q2FY25</span> | Period:
      <span style="font-weight: 600">Nov-25</span>
    </p>
    <div style="display: flex; gap: 1vh">
      <i
        (click)="
          exportTableToExcel(
            dataSourceAutoInvoiceErrors.data,
            'Auto Invoice Errors Data',
            'Q2FY25_Auto_Invoice_Errors'
          )
        "
        class="fa fa-download"
      ></i>
    </div>
  </div>
  <div style="margin-top: 1vh">
    <table
      mat-table
      [dataSource]="dataSourceAutoInvoiceErrors"
      style="width: 100%"
    >
      <ng-container matColumnDef="operating_unit">
        <th mat-header-cell *matHeaderCellDef>Operating Unit</th>
        <td mat-cell *matCellDef="let element">{{ element.operating_unit }}</td>
      </ng-container>

      <ng-container matColumnDef="error_total">
        <th mat-header-cell *matHeaderCellDef>Error Total</th>
        <td mat-cell *matCellDef="let element">{{ element.error_total }}</td>
      </ng-container>

      <ng-container matColumnDef="tax_hold">
        <th mat-header-cell *matHeaderCellDef>Tax Hold</th>
        <td mat-cell *matCellDef="let element">{{ element.tax_hold }}</td>
      </ng-container>

      <ng-container matColumnDef="sox_threshold">
        <th mat-header-cell *matHeaderCellDef>SOX Threshold</th>
        <td mat-cell *matCellDef="let element">{{ element.sox_threshold }}</td>
      </ng-container>

      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>Comments</th>
        <td mat-cell *matCellDef="let element">{{ element.comments }}</td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumnsForAutoInvoiceErrors"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsForAutoInvoiceErrors"
      ></tr>
    </table>
  </div>
</div>

<div class="grid-1 container" style="width: auto">
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: -32px;
    "
  >
    <p class="section-title">Current Month Unposted Details</p>
    <p style="text-align: center; margin: 0px 0 0 0">
      Quarter: <span style="font-weight: 600">Q2FY25</span> | Period:
      <span style="font-weight: 600">Nov-25</span>
    </p>
    <div style="display: flex; gap: 1vh">
      <i
        (click)="
          exportTableToExcel(
            dataSourceCurrentMonthUnpostedDetails.data,
            'Current Month Unposted Details',
            'Q2FY25_Current_Unposted_Details'
          )
        "
        class="fa fa-download"
      ></i>
    </div>
  </div>
  <div style="margin-top: 1vh">
    <table
      mat-table
      [dataSource]="dataSourceCurrentMonthUnpostedDetails"
      style="width: 100%"
    >
      <ng-container matColumnDef="theater">
        <th mat-header-cell *matHeaderCellDef>Theater</th>
        <td mat-cell *matCellDef="let element">{{ element.theater }}</td>
      </ng-container>

      <ng-container matColumnDef="details_about_unposted_items">
        <th mat-header-cell *matHeaderCellDef>Details about Un-posted Items</th>
        <td mat-cell *matCellDef="let element">
          {{ element.details_about_unposted_items }}
        </td>
      </ng-container>

      <ng-container matColumnDef="impacted_amount">
        <th mat-header-cell *matHeaderCellDef>Impacted Amount</th>
        <td mat-cell *matCellDef="let element">
          {{ element.impacted_amount }}
        </td>
      </ng-container>

      <ng-container matColumnDef="poc_working_ist_pst">
        <th mat-header-cell *matHeaderCellDef>POC working (IST/PST)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.poc_working_ist_pst }}
        </td>
      </ng-container>

      <ng-container matColumnDef="latest_status">
        <th mat-header-cell *matHeaderCellDef>Latest Status</th>
        <td mat-cell *matCellDef="let element">{{ element.latest_status }}</td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumnsForCurrentMonthUnpostedDetails"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: displayedColumnsForCurrentMonthUnpostedDetails
        "
      ></tr>
    </table>
  </div>
</div>

<div class="grid-1 container" style="width: auto">
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: -32px;
    "
  >
    <p class="section-title">Previous Period Unposted Backlog</p>
    <p style="text-align: center; margin: 0px 0 0 0">
      Quarter: <span style="font-weight: 600">Q2FY25</span> | Period:
      <span style="font-weight: 600">Nov-25</span>
    </p>
    <div style="display: flex; gap: 1vh">
      <i
        (click)="
          exportTableToExcel(
            dataSourcePreviousPeriodUnpostedBacklog.data,
            'Previous Period Unposted Backlog',
            'Q2FY25_Previous_Backlog'
          )
        "
        class="fa fa-download"
      ></i>
    </div>
  </div>
  <div style="margin-top: 1vh">
    <table
      mat-table
      [dataSource]="dataSourcePreviousPeriodUnpostedBacklog"
      style="width: 100%"
    >
      <ng-container matColumnDef="theater">
        <th mat-header-cell *matHeaderCellDef>Theater</th>
        <td mat-cell *matCellDef="let element">{{ element.theater }}</td>
      </ng-container>

      <ng-container matColumnDef="details_about_unposted_items">
        <th mat-header-cell *matHeaderCellDef>Details about Un-posted Items</th>
        <td mat-cell *matCellDef="let element">
          {{ element.details_about_unposted_items }}
        </td>
      </ng-container>

      <ng-container matColumnDef="impacted_amount">
        <th mat-header-cell *matHeaderCellDef>Impacted Amount</th>
        <td mat-cell *matCellDef="let element">
          {{ element.impacted_amount }}
        </td>
      </ng-container>

      <ng-container matColumnDef="poc_working_ist_pst">
        <th mat-header-cell *matHeaderCellDef>POC working (IST/PST)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.poc_working_ist_pst }}
        </td>
      </ng-container>

      <ng-container matColumnDef="latest_status">
        <th mat-header-cell *matHeaderCellDef>Latest Status</th>
        <td mat-cell *matCellDef="let element">{{ element.latest_status }}</td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumnsForPreviousPeriodUnpostedBacklog"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: displayedColumnsForPreviousPeriodUnpostedBacklog
        "
      ></tr>
    </table>
  </div>
</div>
