<mat-tab-group [selectedIndex]="0">
  <mat-tab [label]="totalCases + ' Cases - SM Case Analyzer'">
    <div class="charts-row">
      <div class="chart-section">
        <div class="chart-header-row">
          <h4>Category - {{ categoryAccuracy }}%</h4>
          <div class="flex-row header-metrics">
            <mat-icon>expand_content</mat-icon>
          </div>
        </div>

        <div class="chart-container">
          <app-bar-chart
            [data]="i2cChartData"
            [stacked]="true"
            [isLoading]="false"
            canvasId="smStackedChart"
          >
          </app-bar-chart>
        </div>
      </div>
      <div class="chart-section">
        <div class="chart-header-row">
          <h4>Core Issue - {{ coreIssueAccuracy }}%</h4>
          <div class="flex-row header-metrics">
            <mat-icon>expand_content</mat-icon>
          </div>
        </div>

        <div class="chart-container">
          <app-bar-chart
            [data]="i2cSimpleChartData"
            [stacked]="true"
            [isLoading]="false"
            canvasId="smSimpleChart"
          >
          </app-bar-chart>
        </div>
      </div>
    </div>

    <div class="metric-box">
      <h4>SM Classification Summary</h4>

      <p>
        Note: Changes made in the table below are not saved automatically.
        Please download your edits and use the sidebar 'Update Dashboard Data'
        option to persist changes.
      </p>
    </div>

    <app-caseiq-table
      #smTable
      [dataSource]="i2cTableData"
      [displayedColumns]="i2cTableColumns"
      [exportFileName]="'SM_Validation_Summary'"
      [extraWideColumns]="['Case Summary - Description']"
      [enablePagination]="true"
      [pageSize]="10"
      [totalRecords]="totalRecords"
    >
    </app-caseiq-table>
  </mat-tab>
</mat-tab-group>
