<div class="row" style="padding-left: 5px">
  <span
    class="col-lg-9"
    style="
      float: left;
      font-size: smaller;
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <form [formGroup]="searchForm" class="search__form">
      <mat-form-field appearance="standard" [style.width.px]="125">
        <mat-label>Select Program Name</mat-label>
        <mat-select
          id="progname"
          name="progname"
          formControlName="progName"
          [(value)]="programNameFilter"
          panelClass="progPanel"
          multiple
        >
          <mat-option
            *ngFor="let progName of progNameOptions"
            [value]="progName"
            (onSelectionChange)="filter()"
            >{{ progName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="standard" [style.width.px]="125">
        <mat-label>Select Account</mat-label>
        <mat-select
          id="account"
          name="account"
          formControlName="account"
          [(value)]="accountFilter"
          panelClass="progPanel"
          multiple
        >
          <mat-option
            *ngFor="let acc of accountOptions"
            [value]="acc"
            (onSelectionChange)="filter()"
            >{{ acc }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field class="filter" floatLabel="never" [style.width.px]="125">
        <mat-label>Search Deal ID</mat-label>
        <input matInput (keyup)="filter()" formControlName="dealId" />
        <i
          matSuffix
          class="fa fa-search hoverIcon"
          style="color: gray"
          (click)="applyFilter()"
        ></i>
      </mat-form-field>
      &nbsp;
      <mat-form-field class="filter" floatLabel="never" [style.width.px]="125">
        <mat-label>Search Order # </mat-label>
        <input matInput (keyup)="filter()" formControlName="salesOrdr" />
        <i
          matSuffix
          class="fa fa-search hoverIcon"
          style="color: gray"
          (click)="applyFilter()"
        ></i>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="standard" [style.width.px]="125">
        <mat-label>Select Booking Status</mat-label>
        <mat-select
          id="orderstatus"
          name="orderstatus"
          formControlName="orderStats"
          [(value)]="orderStatusFilter"
          panelClass="progPanel"
          multiple
        >
          <mat-option
            *ngFor="let ordstats of orderStatusOptions"
            [value]="ordstats"
            (onSelectionChange)="filter()"
            >{{ ordstats }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="standard" [style.width.px]="125">
        <mat-label>Select Invoicing Status</mat-label>
        <mat-select
          id="invoicestatus"
          name="invoicestatus"
          formControlName="invoiceStats"
          [(value)]="invoiceStatusFilter"
          panelClass="progPanel"
          multiple
        >
          <mat-option
            *ngFor="let invStats of invoiceStatusOptions"
            [value]="invStats"
            (onSelectionChange)="filter()"
            >{{ invStats }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      &nbsp;
      <button
        mat-stroked-button
        type="button"
        (click)="clearFilters()"
        style="font-size: 12px"
      >
        Reset
      </button>
      &nbsp;
      <button
        mat-raised-button
        color="warn"
        *ngIf="selection.hasValue() && dealUploadFlag"
        (click)="deleteSelectedRows(dialogConfirmTemplate)"
        style="font-size: 12px"
      >
        Delete
      </button>
    </form>
  </span>
  <span class="col-lg-3">
    <span
      style="
        float: right !important;
        text-align: right !important;
        font-size: 12px;
      "
    >
      Dashboard updated: {{ timeNow }} &nbsp;<i
        class="fa fa-info-circle"
        matTooltip="Dashboard data is updated at 8 AM, 12 PM, 4 PM and 11 PM PST everyday. "
        [matTooltipPosition]="'above'"
        style="color: gray"
      ></i>
    </span>
    <br />
    <span
      class="highlight-link"
      style="
        float: right !important;
        text-align: right !important;
        font-size: 12px;
        top: 8px;
      "
    >
      <a
        style="color: black; text-decoration: none"
        [matMenuTriggerFor]="dropdownMenu"
        >Options&nbsp;&nbsp;
        <i
          class="fa fa-ellipsis-v"
          aria-hidden="true"
          style="
            font-size: large;
            color: #4f5051;
            justify-content: end;
            float: right;
          "
        ></i>
      </a>
    </span>
  </span>
</div>

<div>
  <div class="periodclosetbale sortArrow" style="overflow: auto">
    <table
      style="width: -webkit-fill-available"
      mat-table
      [dataSource]="dataSource"
      class="table table-responsive orderTable"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- PROGRAM_NAME Column -->
      <ng-container matColumnDef="PROGRAM_NAME">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          PROGRAM NAME
        </th>
        <td
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.PROGRAM_NAME }}
        </td>
      </ng-container>

      <!-- ACCOUNT Column -->
      <ng-container matColumnDef="ACCOUNT">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>ACCOUNT</th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.ACCOUNT }}
        </td>
      </ng-container>

      <ng-container matColumnDef="BOOK_DATE">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>BOOK DATE</th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{
            record.BOOK_DATE == "TBD"
              ? "TBD"
              : (record.BOOK_DATE | date : "M/d/yyyy")
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="SALES_ORDER">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>ORDER (#)</th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.SALES_ORDER }}
        </td>
      </ng-container>

      <!-- ORDER_VALUE Column -->
      <ng-container matColumnDef="ORDER_VALUE">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          ORDER VALUE ($M)
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.ORDER_VALUE }}
        </td>
      </ng-container>

      <!-- ORDER_STATUS Column -->
      <ng-container matColumnDef="ORDER_STATUS">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          <b style="font-weight: bolder; color: #0d3b4c">1.BOOKING STATUS</b>
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.ORDER_STATUS }}
        </td>
      </ng-container>

      <!-- CONTRACT CREATED Column -->
      <ng-container matColumnDef="CONTRACT_NUMBER">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          <b style="font-weight: bolder; color: #0d3b4c">2.ORDER STATUS</b>
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.CONTRACT_NUMBER }}
        </td>
      </ng-container>

      <!-- DEAL UPLOAD DATE Column -->
      <ng-container matColumnDef="DEAL_UPLOAD_DATE">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          UPLOAD DATE
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.DEAL_UPLOAD_DATE | date : "M/d/yyyy" }}
        </td>
      </ng-container>

      <!-- INVOICING_STATUS Column -->
      <ng-container matColumnDef="INVOICING_STATUS">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          <b style="font-weight: bolder; color: #0d3b4c">3.INVOICING</b>
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.INVOICING_STATUS }}
        </td>
      </ng-container>

      <!-- REV_ACCR_STATUS Column -->
      <ng-container matColumnDef="REV_ACCR_STATUS">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          <b style="font-weight: bolder; color: #0d3b4c"> 4.REVENUE ACCRUALS</b>
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.REV_ACCR_STATUS }}
        </td>
      </ng-container>

      <!-- GL_POSTING_STATUS Column -->
      <ng-container matColumnDef="GL_POSTING_STATUS">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          <b style="font-weight: bolder; color: #0d3b4c"> 5.GL POSTING</b>
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.GL_POSTING_STATUS }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ACCRUALS_EXECUTION_TIME">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          ACCRUALS EXECUTION TIME (IN MINS)
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.ACCRUALS_EXECUTION_TIME }}
        </td>
      </ng-container>

      <ng-container matColumnDef="SUBSCRIPTION_ID">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          SUBSCRIPTION ID
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.SUBSCRIPTION_ID }}
        </td>
      </ng-container>

      <!-- INVOICE_DATE Column -->
      <ng-container matColumnDef="INVOICE_DATE">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          INVOICE DATE
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{
            record.INVOICE_DATE == "TBD"
              ? "TBD"
              : (record.INVOICE_DATE | date : "M/d/yyyy")
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="FLEXIBLE_INVOICE_ELIGIBLE">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          FLEXIBLE INVOICE ELIGIBLE
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.FLEXIBLE_INVOICE_ELIGIBLE }}
        </td>
      </ng-container>

      <ng-container matColumnDef="INVOICE_ELIGIBLE_DATE">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          INVOICE ELIGIBLE DATE (CLO)
        </th>
        <td
          class="custom-cell dateInputCell"
          mat-cell
          *matCellDef="let record; let i = index"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          <span *ngIf="!updateClo">
            {{
              record.INVOICE_ELIGIBLE_DATE == "TBD"
                ? ""
                : (record.INVOICE_ELIGIBLE_DATE | date : "M/d/yyyy")
            }}</span
          >
          <span *ngIf="updateClo && record.GL_POSTING_STATUS != 'Completed'">
            <mat-form-field floatLabel="never">
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Select Date"
                [min]="currentDate"
                [readonly]="true"
                [(ngModel)]="record.INVOICE_ELIGIBLE_DATE"
                class="calendarInput"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button
                    mat-raised-button
                    style="background-color: #049fd9"
                    matDatepickerApply
                    (click)="saveInvoiceEligibleDate(record)"
                  >
                    Save
                  </button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </span>
        </td>
      </ng-container>

      <!-- INVOICE_AMOUNT Column -->
      <ng-container matColumnDef="INVOICE_AMOUNT">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          INVOICE AMOUNT ($M)
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.INVOICE_AMOUNT }}
        </td>
      </ng-container>

      <!-- Term Column -->
      <ng-container matColumnDef="TERM_IN_YEARS">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>TERM</th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.TERM_IN_YEARS }} Yrs
        </td>
      </ng-container>

      <!-- DEAL_ID Column -->
      <ng-container matColumnDef="DEAL_ID">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>DEAL ID</th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.DEAL_ID }}
        </td>
      </ng-container>

      <ng-container matColumnDef="TOTAL_LINE_COUNT">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          LINE COUNT
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.TOTAL_LINE_COUNT }}
        </td>
      </ng-container>

      <!-- ORDER_TOTAL_USD Column -->
      <ng-container matColumnDef="LINES_ON_HOLD">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          LINES ON HOLD
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.LINES_ON_HOLD }}
        </td>
      </ng-container>

      <!-- INVOICE_LINES Column -->
      <ng-container matColumnDef="INVOICE_LINES">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          INVOICE LINES
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.INVOICE_LINES }}
        </td>
      </ng-container>

      <!-- INVOICE RELEASE DATE Column -->
      <ng-container matColumnDef="FUTURE_INVOICE_RELEASE_DATE">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          FUTURE INVOICE RELEASE DATE
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{
            record.FUTURE_INVOICE_RELEASE_DATE == "TBD"
              ? "NA"
              : (record.FUTURE_INVOICE_RELEASE_DATE | date : "M/d/yyyy")
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="CLO_COMMENTS">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>
          CLO UPDATES
        </th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record; let i = index"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          <div *ngIf="!isEditingCloUpdates(record); else editMode">
            {{ record.CLO_COMMENTS == "TBD" ? "" : record.CLO_COMMENTS }}
            <span
              *ngIf="
                updateClo &&
                record.CLO_COMMENTS == 'TBD' &&
                record.GL_POSTING_STATUS != 'Completed'
              "
              class="test"
            >
              <input
                *ngIf="record.CLO_COMMENTS == 'TBD'"
                type="text"
                placeholder="Click to edit"
                disabled
              />
              <i
                class="fa fa-pencil-square-o hoverIcon"
                style="font-weight: bold; color: rgb(79, 78, 78)"
                aria-hidden="true"
                (click)="startEditing(record, i)"
              ></i>
            </span>
            <span
              *ngIf="
                updateClo &&
                record.CLO_COMMENTS != 'TBD' &&
                record.GL_POSTING_STATUS != 'Completed'
              "
            >
              <i
                class="fa fa-pencil-square-o hoverIcon"
                style="font-weight: bold; color: rgb(79, 78, 78)"
                aria-hidden="true"
                (click)="startEditing(record, i)"
              ></i>
            </span>
          </div>
          <ng-template #editMode>
            <div>
              <textarea
                [(ngModel)]="record.CLO_COMMENTS"
                placeholder="{{ originalValue }}"
                style="
                  width: 100% !important;
                  margin-top: 10px !important;
                  border-radius: 5px;
                  font-size: small;
                "
              ></textarea>
              <i
                class="fa fa-save hoverIcon"
                (click)="saveCloUpdates(record)"
                style="color: #00668a; font-weight: bold"
                >&nbsp;Save</i
              >
              &nbsp;
              <i
                class="fa fa-undo hoverIcon"
                style="color: #2c2c2c; font-weight: bold"
                (click)="rollbackCloUpdatesValue(record, i)"
                >&nbsp;Undo</i
              >
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- COMMENTS Column -->
      <ng-container matColumnDef="COMMENTS">
        <th class="custom-cell" mat-header-cell *matHeaderCellDef>COMMENTS</th>
        <td
          class="custom-cell"
          mat-cell
          *matCellDef="let record"
          [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
        >
          {{ record.COMMENTS }}
        </td>
      </ng-container>

      <!-- Table header -->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

      <!-- Table rows -->
      <tr
        mat-row
        *matRowDef="let row; columns: columnsToDisplay; let entry"
        [hidden]="!showRecord"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="columnsToDisplay.length">
          <h6>No Records Found</h6>
        </td>
      </tr>
    </table>
  </div>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!dataSource?.data?.length || updatedData">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    [pageSize]="100"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>
<br />
<br />
<br />
<mat-menu #dropdownMenu="matMenu" class="custom-menu">
  <div
    (click)="openRevSummaryDialog()"
    class="viewHighlight"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;View Rev Summary
  </div>
  <div (click)="openDialog()" class="viewHighlight" style="font-size: small">
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;View Deal Summary
  </div>
  <div
    (click)="openUploadDialog()"
    class="viewHighlight"
    *ngIf="dealUploadFlag"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;Deal Upload
  </div>
  <div
    (click)="openCloUpdateDialog()"
    class="viewHighlight"
    *ngIf="updateClo"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;CLO Updates
  </div>
  <div
    (click)="
      export('Large Order Lifecycle Status', 'large_order_lifecycle_status')
    "
    class="viewHighlight"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;Download
  </div>
  <div
    class="viewHighlight"
    (click)="logSelectedColumns()"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;Columns Filter
  </div>
</mat-menu>

<div style="display: flex; justify-content: space-between; align-items: end">
  <ng-template #dialogConfirmTemplate>
    <br />
    <span *ngIf="!deletedDeals">
      <h6>
        <b style="font-weight: 500"
          >&nbsp;Are you sure you want to delete the selected deals?</b
        >
      </h6>
      <br />
      <div style="text-align: center">
        <button class="btn btn-success" (click)="deleteConfirmationDialog()">
          Yes
        </button>
        <button class="btn btn-danger" (click)="closeOkDialog()">No</button>
      </div>
    </span>

    <span *ngIf="deletedDeals">
      <h6>
        <span *ngIf="uploadText === 'Delete request failed!'"
          ><i class="fa fa-times-circle fa-lg" style="color: #ff052b"></i
        ></span>
        <span *ngIf="uploadText === 'Deals deleted successfully!'"
          ><i class="fa fa-check-circle fa-lg" style="color: #32a50f"></i
        ></span>
        <b style="font-weight: 500">&nbsp;{{ uploadText }}</b>
      </h6>
      <br />
      <div style="text-align: center">
        <button
          class="btn btn-primary"
          mat-stroked-button
          (click)="closeOkDialog()"
        >
          Ok
        </button>
      </div>
    </span>
  </ng-template>
</div>

<!-- <div style="display: flex; justify-content: space-between; align-items: end">
  <ng-template #dialogTemplate>
    <br />
    <h6>
      <span *ngIf="uploadText === 'Delete request failed!'"
        ><i class="fa fa-times-circle fa-lg" style="color: #ff052b"></i
      ></span>
      <span *ngIf="uploadText === 'Deals deleted successfully!'"
        ><i class="fa fa-check-circle fa-lg" style="color: #32a50f"></i
      ></span>
      <b style="font-weight: 500">&nbsp;{{ uploadText }}</b>
    </h6>
    <br />
    <div style="text-align: center">
      <button
        class="btn btn-primary"
        mat-stroked-button
        (click)="closeOkDialog()"
      >
        Ok
      </button>
    </div>
  </ng-template>
</div> -->
