<div>
  <div lass="row" style="padding-left: 5px">
    <div class="header-container">
      <h5 class="section-title action-buttons">
        <span class="action-buttons">
          <form [formGroup]="searchForm" class="search__form">
            <mat-form-field appearance="outline" [style.width.px]="125">
              <mat-label>Select Program Name</mat-label>
              <mat-select
                id="progname"
                name="progname"
                formControlName="progName"
                [(value)]="programNameFilter"
                panelClass="progPanel"
                multiple
              >
                <mat-option
                  *ngFor="let progName of progNameOptions"
                  [value]="progName"
                  (onSelectionChange)="filter()"
                  >{{ progName }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="outline" [style.width.px]="125">
              <mat-label>Select Account</mat-label>
              <mat-select
                id="account"
                name="account"
                formControlName="account"
                [(value)]="accountFilter"
                panelClass="progPanel"
                multiple
              >
                <mat-option
                  *ngFor="let acc of accountOptions"
                  [value]="acc"
                  (onSelectionChange)="filter()"
                  >{{ acc }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field
              class="filter"
              floatLabel="auto"
              [style.width.px]="125"
            >
              <mat-label>Search Deal ID</mat-label>
              <input matInput (keyup)="filter()" formControlName="dealId" />
              <i
                matSuffix
                class="fa fa-search hoverIcon"
                style="color: gray"
                (click)="applyFilter()"
              ></i>
            </mat-form-field>
            &nbsp;
            <mat-form-field
              class="filter"
              floatLabel="auto"
              [style.width.px]="125"
            >
              <mat-label>Search Order # </mat-label>
              <input matInput (keyup)="filter()" formControlName="salesOrdr" />
              <i
                matSuffix
                class="fa fa-search hoverIcon"
                style="color: gray"
                (click)="applyFilter()"
              ></i>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="outline" [style.width.px]="125">
              <mat-label>Select Booking Status</mat-label>
              <mat-select
                id="orderstatus"
                name="orderstatus"
                formControlName="orderStats"
                [(value)]="orderStatusFilter"
                panelClass="progPanel"
                multiple
              >
                <mat-option
                  *ngFor="let ordstats of orderStatusOptions"
                  [value]="ordstats"
                  (onSelectionChange)="filter()"
                  >{{ ordstats }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="outline" [style.width.px]="125">
              <mat-label>Select Invoicing Status</mat-label>
              <mat-select
                id="invoicestatus"
                name="invoicestatus"
                formControlName="invoiceStats"
                [(value)]="invoiceStatusFilter"
                panelClass="progPanel"
                multiple
              >
                <mat-option
                  *ngFor="let invStats of invoiceStatusOptions"
                  [value]="invStats"
                  (onSelectionChange)="filter()"
                  >{{ invStats }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            &nbsp;
            <button
              mat-stroked-button
              type="button"
              (click)="clearFilters()"
              style="font-size: 12px"
            >
              Reset
            </button>
            &nbsp;
            <button
              mat-raised-button
              color="warn"
              *ngIf="selection.hasValue() && dealUploadFlag"
              (click)="deleteSelectedRows(dialogConfirmTemplate)"
              style="font-size: 12px"
            >
              Delete
            </button>
          </form>
        </span>
      </h5>

      <div class="action-buttons">
        <div
          style="
            font-size: 12px;
            padding: 0px 0vw 0 0;
            display: flex;
            flex-direction: column;
          "
        >
          <div style="display: flex">
            <span style="margin-top: -10px">
              Dashboard updated: {{ timeNow }} &nbsp;<i
                class="fa fa-info-circle"
                matTooltip="Dashboard data is updated at 8 AM, 12 PM, 4 PM and 11 PM PST everyday. "
                [matTooltipPosition]="'above'"
                style="color: gray"
              ></i>
            </span>
          </div>
          <span
            style="
              float: right !important;
              text-align: right !important;
              margin-right: 5px;
              font-size: 12px;
              margin-top: 15px;
            "
          >
            <a
              style="color: black; text-decoration: none"
              [matMenuTriggerFor]="dropdownMenu"
              >Options&nbsp;&nbsp;
              <i
                class="fa fa-ellipsis-v"
                aria-hidden="true"
                style="
                  font-size: large;
                  color: #4f5051;
                  justify-content: end;
                  float: right;
                "
              ></i>
            </a>
          </span>
        </div>
        <!-- <button
          mat-icon-button
          (click)="
            exportTableToExcel(
              summaryDatasource.data,
              componentName + ' Error Summary',
              componentName + '_Error_Summary'
            )
          "
        >
          <i class="svg-icon download-icon"></i>
        </button> -->
      </div>
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngIf="dataSource?.data?.length">
      <div class="table-container" style="overflow-y: hidden !important">
        <table
          mat-table
          [dataSource]="dataSource"
          class="custom-table table-responsive"
        >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- PROGRAM_NAME Column -->
          <ng-container matColumnDef="PROGRAM_NAME">
            <th mat-header-cell *matHeaderCellDef>Program Name</th>
            <td
              mat-cell
              *matCellDef="let record"
              [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
            >
              {{ record.PROGRAM_NAME }}
            </td>
          </ng-container>

          <!-- ACCOUNT Column -->
          <ng-container matColumnDef="ACCOUNT">
            <th mat-header-cell *matHeaderCellDef>Account</th>
            <td
              mat-cell
              *matCellDef="let record"
              [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
            >
              {{ record.ACCOUNT }}
            </td>
          </ng-container>

          <ng-container matColumnDef="BOOK_DATE">
            <th mat-header-cell *matHeaderCellDef>Book Date</th>
            <td mat-cell *matCellDef="let record">
              {{
                record.BOOK_DATE == "TBD"
                  ? "TBD"
                  : (record.BOOK_DATE | date : "M/d/yyyy")
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="SALES_ORDER">
            <th mat-header-cell *matHeaderCellDef>Order (#)</th>
            <td
              mat-cell
              *matCellDef="let record"
              [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
            >
              {{ record.SALES_ORDER }}
            </td>
          </ng-container>

          <!-- ORDER_VALUE Column -->
          <ng-container matColumnDef="ORDER_VALUE">
            <th mat-header-cell *matHeaderCellDef>Order Value ($M)</th>
            <td mat-cell *matCellDef="let record">
              {{ record.ORDER_VALUE }}
            </td>
          </ng-container>

          <!-- ORDER_STATUS Column -->
          <ng-container matColumnDef="ORDER_STATUS">
            <th mat-header-cell *matHeaderCellDef>
              <b style="font-weight: bolder; color: #000000"
                >1.Booking Status</b
              >
            </th>
            <td mat-cell *matCellDef="let record">
              {{ record.ORDER_STATUS }}
            </td>
          </ng-container>

          <!-- CONTRACT CREATED Column -->
          <ng-container matColumnDef="CONTRACT_NUMBER">
            <th mat-header-cell *matHeaderCellDef>
              <b style="font-weight: bolder; color: #000000">2.Order Status</b>
            </th>
            <td mat-cell *matCellDef="let record">
              {{ record.CONTRACT_NUMBER }}
            </td>
          </ng-container>

          <!-- DEAL UPLOAD DATE Column -->
          <ng-container matColumnDef="DEAL_UPLOAD_DATE">
            <th mat-header-cell *matHeaderCellDef>Upload Date</th>
            <td mat-cell *matCellDef="let record">
              {{ record.DEAL_UPLOAD_DATE | date : "M/d/yyyy" }}
            </td>
          </ng-container>

          <!-- INVOICING_STATUS Column -->
          <ng-container matColumnDef="INVOICING_STATUS">
            <th mat-header-cell *matHeaderCellDef>
              <b style="font-weight: bolder; color: #000000">3.Invoicing</b>
            </th>
            <td mat-cell *matCellDef="let record">
              {{ record.INVOICING_STATUS }}
            </td>
          </ng-container>

          <!-- REV_ACCR_STATUS Column -->
          <ng-container matColumnDef="REV_ACCR_STATUS">
            <th mat-header-cell *matHeaderCellDef>
              <b style="font-weight: bolder; color: #000000">
                4.Revenue Accruals</b
              >
            </th>
            <td mat-cell *matCellDef="let record">
              {{ record.REV_ACCR_STATUS }}
            </td>
          </ng-container>

          <!-- GL_POSTING_STATUS Column -->
          <ng-container matColumnDef="GL_POSTING_STATUS">
            <th mat-header-cell *matHeaderCellDef>
              <b style="font-weight: bolder; color: #000000"> 5.Gl Posting</b>
            </th>
            <td mat-cell *matCellDef="let record">
              {{ record.GL_POSTING_STATUS }}
            </td>
          </ng-container>

          <ng-container matColumnDef="ACCRUALS_EXECUTION_TIME">
            <th mat-header-cell *matHeaderCellDef>
              Accruals Execution Time (In Mins)
            </th>
            <td mat-cell *matCellDef="let record">
              {{ record.ACCRUALS_EXECUTION_TIME }}
            </td>
          </ng-container>

          <ng-container matColumnDef="SUBSCRIPTION_ID">
            <th mat-header-cell *matHeaderCellDef>Subscription Id</th>
            <td mat-cell *matCellDef="let record">
              {{ record.SUBSCRIPTION_ID }}
            </td>
          </ng-container>

          <!-- INVOICE_DATE Column -->
          <ng-container matColumnDef="INVOICE_DATE">
            <th mat-header-cell *matHeaderCellDef>Invoice Date</th>
            <td mat-cell *matCellDef="let record">
              {{
                record.INVOICE_DATE == "TBD"
                  ? "TBD"
                  : (record.INVOICE_DATE | date : "M/d/yyyy")
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="FLEXIBLE_INVOICE_ELIGIBLE">
            <th mat-header-cell *matHeaderCellDef>Flexible Invoice Eligible</th>
            <td mat-cell *matCellDef="let record">
              {{ record.FLEXIBLE_INVOICE_ELIGIBLE }}
            </td>
          </ng-container>

          <ng-container matColumnDef="INVOICE_ELIGIBLE_DATE">
            <th mat-header-cell *matHeaderCellDef>
              Invoice Eligible Date (Clo)
            </th>
            <td
              class="dateInputCell"
              mat-cell
              *matCellDef="let record; let i = index"
            >
              <span *ngIf="!updateClo">
                {{
                  record.INVOICE_ELIGIBLE_DATE == "TBD"
                    ? ""
                    : (record.INVOICE_ELIGIBLE_DATE | date : "M/d/yyyy")
                }}</span
              >
              <span
                *ngIf="updateClo && record.GL_POSTING_STATUS != 'Completed'"
              >
                <mat-form-field floatLabel="auto">
                  <input
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Select Date"
                    [min]="currentDate"
                    [readonly]="true"
                    [(ngModel)]="record.INVOICE_ELIGIBLE_DATE"
                    class="calendarInput"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker>
                    <mat-datepicker-actions>
                      <button mat-button matDatepickerCancel>Cancel</button>
                      <button
                        mat-raised-button
                        style="background-color: gray; color: white"
                        matDatepickerApply
                        (click)="saveInvoiceEligibleDate(record)"
                      >
                        Save
                      </button>
                    </mat-datepicker-actions>
                  </mat-datepicker>
                </mat-form-field>
              </span>
            </td>
          </ng-container>

          <!-- INVOICE_AMOUNT Column -->
          <ng-container matColumnDef="INVOICE_AMOUNT">
            <th mat-header-cell *matHeaderCellDef>Invoice Amount ($M)</th>
            <td mat-cell *matCellDef="let record">
              {{ record.INVOICE_AMOUNT }}
            </td>
          </ng-container>

          <!-- Term Column -->
          <ng-container matColumnDef="TERM_IN_YEARS">
            <th mat-header-cell *matHeaderCellDef>Term</th>
            <td mat-cell *matCellDef="let record">
              {{ record.TERM_IN_YEARS }} Yrs
            </td>
          </ng-container>

          <!-- DEAL_ID Column -->
          <ng-container matColumnDef="DEAL_ID">
            <th mat-header-cell *matHeaderCellDef>Deal Id</th>
            <td
              mat-cell
              *matCellDef="let record"
              [ngClass]="{ highlight: record.GL_POSTING_STATUS == 'Completed' }"
            >
              {{ record.DEAL_ID }}
            </td>
          </ng-container>

          <ng-container matColumnDef="TOTAL_LINE_COUNT">
            <th mat-header-cell *matHeaderCellDef>Line Count</th>
            <td mat-cell *matCellDef="let record">
              {{ record.TOTAL_LINE_COUNT }}
            </td>
          </ng-container>

          <!-- ORDER_TOTAL_USD Column -->
          <ng-container matColumnDef="LINES_ON_HOLD">
            <th mat-header-cell *matHeaderCellDef>Lines on Hold</th>
            <td mat-cell *matCellDef="let record">
              {{ record.LINES_ON_HOLD }}
            </td>
          </ng-container>

          <!-- INVOICE_LINES Column -->
          <ng-container matColumnDef="INVOICE_LINES">
            <th mat-header-cell *matHeaderCellDef>Invoice Lines</th>
            <td mat-cell *matCellDef="let record">
              {{ record.INVOICE_LINES }}
            </td>
          </ng-container>

          <!-- INVOICE RELEASE DATE Column -->
          <ng-container matColumnDef="FUTURE_INVOICE_RELEASE_DATE">
            <th mat-header-cell *matHeaderCellDef>
              Future Invoice Release Date
            </th>
            <td mat-cell *matCellDef="let record">
              {{
                record.FUTURE_INVOICE_RELEASE_DATE == "TBD"
                  ? "NA"
                  : (record.FUTURE_INVOICE_RELEASE_DATE | date : "M/d/yyyy")
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="CLO_COMMENTS">
            <th mat-header-cell *matHeaderCellDef>Clo Updates</th>
            <td mat-cell *matCellDef="let record; let i = index">
              <div *ngIf="!isEditingCloUpdates(record); else editMode">
                {{ record.CLO_COMMENTS == "TBD" ? "" : record.CLO_COMMENTS }}
                <span
                  *ngIf="
                    updateClo &&
                    record.CLO_COMMENTS == 'TBD' &&
                    record.GL_POSTING_STATUS != 'Completed'
                  "
                  class="test"
                >
                  <input
                    *ngIf="record.CLO_COMMENTS == 'TBD'"
                    type="text"
                    placeholder="Click to edit"
                    disabled
                  />
                  <i
                    class="fa fa-pencil-square-o hoverIcon"
                    style="font-weight: bold; color: rgb(79, 78, 78)"
                    aria-hidden="true"
                    (click)="startEditing(record, i)"
                  ></i>
                </span>
                <span
                  *ngIf="
                    updateClo &&
                    record.CLO_COMMENTS != 'TBD' &&
                    record.GL_POSTING_STATUS != 'Completed'
                  "
                >
                  <i
                    class="fa fa-pencil-square-o hoverIcon"
                    style="font-weight: bold; color: rgb(79, 78, 78)"
                    aria-hidden="true"
                    (click)="startEditing(record, i)"
                  ></i>
                </span>
              </div>
              <ng-template #editMode>
                <div>
                  <textarea
                    [(ngModel)]="record.CLO_COMMENTS"
                    placeholder="{{ originalValue }}"
                    style="
                      width: 100% !important;
                      margin-top: 10px !important;
                      border-radius: 5px;
                      font-size: small;
                    "
                  ></textarea>
                  <i
                    class="fa fa-save hoverIcon"
                    (click)="saveCloUpdates(record)"
                    style="color: #00668a; font-weight: bold"
                    >&nbsp;Save</i
                  >
                  &nbsp;
                  <i
                    class="fa fa-undo hoverIcon"
                    style="color: #2c2c2c; font-weight: bold"
                    (click)="rollbackCloUpdatesValue(record, i)"
                    >&nbsp;Undo</i
                  >
                </div>
              </ng-template>
            </td>
          </ng-container>

          <!-- COMMENTS Column -->
          <ng-container matColumnDef="COMMENTS">
            <th mat-header-cell *matHeaderCellDef>Comments</th>
            <td mat-cell *matCellDef="let record">
              {{ record.COMMENTS }}
            </td>
          </ng-container>

          <!-- Table header -->
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

          <!-- Table rows -->
          <tr
            mat-row
            *matRowDef="let row; columns: columnsToDisplay; let entry"
            [hidden]="!showRecord"
          ></tr>
        </table>
      </div>
    </ng-container>

    <ng-container *ngIf="isLoading">
      <div class="loading-container">
        <app-loading-symbol></app-loading-symbol>
        <div class="circle-subcaption"></div>
        <br /><br /><br />
      </div>
    </ng-container>

    <ng-container
      *ngIf="(!dataSource?.data?.length || updatedData) && !isLoading"
    >
      <div class="loading-container">
        <img
          src="assets/thumbnails/noDataFound.png"
          alt="No Data Found"
          class="no-data-image"
          style="width: 160px; justify-content: center; align-items: center"
        />
        <div class="card-subtitle" style="font-weight: 600; color: gray">
          No Exceptions Found
        </div>
        <br /><br />
      </div>
    </ng-container>

    <mat-paginator
      [pageSize]="100"
      length="length"
      [pageSizeOptions]="[]"
      showFirstLastButtons
      aria-label="Select page"
    ></mat-paginator>
  </div>
</div>

<br />
<br />
<br />
<mat-menu #dropdownMenu="matMenu" class="custom-menu">
  <div
    (click)="openRevSummaryDialog()"
    class="viewHighlight"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;View Rev Summary
  </div>
  <div (click)="openDialog()" class="viewHighlight" style="font-size: small">
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;View Deal Summary
  </div>
  <div
    (click)="openCloUpdateDialog()"
    class="viewHighlight"
    *ngIf="updateClo"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;CLO Updates
  </div>
  <div
    (click)="openUploadDialog()"
    class="viewHighlight"
    *ngIf="dealUploadFlag"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;Deal Upload
  </div>
  <div
    (click)="export('Large Deal Tracker', 'large_deal_tracker')"
    class="viewHighlight"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;Download
  </div>
  <div
    class="viewHighlight"
    (click)="logSelectedColumns()"
    style="font-size: small"
  >
    <i
      class="fa fa-angle-right"
      aria-hidden="true"
      style="font-size: medium"
    ></i
    >&nbsp;&nbsp;Columns Filter
  </div>
</mat-menu>

<div style="display: flex; justify-content: space-between; align-items: end">
  <ng-template #dialogConfirmTemplate>
    <br />
    <span *ngIf="!deletedDeals">
      <h6>
        <b style="font-weight: 500"
          >&nbsp;Are you sure you want to delete the selected deals?</b
        >
      </h6>
      <br />
      <div style="text-align: center">
        <button class="btn btn-success" (click)="deleteConfirmationDialog()">
          Yes
        </button>
        <button class="btn btn-danger" (click)="closeOkDialog()">No</button>
      </div>
    </span>

    <span *ngIf="deletedDeals">
      <h6>
        <span *ngIf="uploadText === 'Delete request failed!'"
          ><i class="fa fa-times-circle fa-lg" style="color: #ff052b"></i
        ></span>
        <span *ngIf="uploadText === 'Deals deleted successfully!'"
          ><i class="fa fa-check-circle fa-lg" style="color: #32a50f"></i
        ></span>
        <b style="font-weight: 500">&nbsp;{{ uploadText }}</b>
      </h6>
      <br />
      <div style="text-align: center">
        <button
          class="btn btn-primary"
          mat-stroked-button
          (click)="closeOkDialog()"
        >
          Ok
        </button>
      </div>
    </span>
  </ng-template>
</div>
