<div class="table-header">
  <p class="section-title">{{ title }}</p>
  <div class="table-links">
    @if (reportLink) {
      <a [href]="reportLink" target="_blank" class="dash-link">All Reports</a>
    }
    @if (serviceNowLink) {
      <a [href]="serviceNowLink" target="_blank" class="dash-link"
        >ServiceNow</a
      >
    }
    <ng-icon
      name="phosphorArrowLineDownBold"
      size="16"
      class="download-icon"
      (click)="exportTableToExcel()"
    />
  </div>
</div>

<div style="margin-top: 1vh">
  @if (dataSource?.data?.length > 0) {
    <div class="tbl-scroll">
      <table class="tbl">
        <thead>
          <tr>
            @for (column of displayedColumns; track column) {
              <th [class.extra-wide-column]="extraWideColumns.includes(column)">
                {{ removeUnderscores(column) }}
              </th>
            }
          </tr>
        </thead>
        <tbody>
          @for (row of dataSource.data; track row) {
            <tr>
              @for (column of displayedColumns; track column) {
                <td
                  [class.extra-wide-column]="extraWideColumns.includes(column)"
                >
                  @if (column.includes("TIME") || column.includes("DATE")) {
                    {{ row[column] | date: "MM/dd/yy" }}
                  } @else {
                    {{ row[column] }}
                  }
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (!dataSource?.data?.length) {
    <div class="loading-container">
      <app-loading-symbol></app-loading-symbol>
    </div>
  }
</div>
