<div
  style="
    background-color: #08ace4;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  "
>
  <!-- Title on the left -->
  <h5 style="margin: 0; font-weight: 450; font-size: 14px">Revenue Summary</h5>

  <!-- Icons on the right (Download and Close) -->
  <a style="text-decoration: none; cursor: pointer; color: white">
    <i
      class="svg-icon download-icon-white"
      style="font-size: 16px"
      aria-hidden="true"
      (click)="
        export('Large Deal Revenue Summary', 'large_deal_revenue_summary')
      "
    ></i>
    &nbsp;&nbsp;&nbsp;
    <i
      class="fa fa-close"
      style="font-size: 16px; color: white"
      (click)="closeDialog()"
    ></i>
  </a>
</div>

<mat-dialog-content style="width: 100%">
  <div class="arclosetable" style="max-width: 100%">
    <table class="table table-hover table-responsive-xl">
      <thead>
        <tr>
          @for (col of displayedColumns; track col) {
          <th (click)="sortEnable(col.name)">
            <span>{{ col.name }} </span>
            @if ( (!col.sorted && col.sortingOrder == '') || (col.sorted &&
            col.sortingOrder == 'asc') ) {
            <span>
              <i
                [ngClass]="{ noSort: col.sortingOrder == '' }"
                class="fa fa-thin fa-arrow-up iconSize"
              ></i>
            </span>
            } @if (col.sorted && col.sortingOrder == 'desc') {
            <span>
              <i class="fa fa-thin fa-arrow-down iconSize"></i>
            </span>
            }
          </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (account of grandTotalData; track account) {
        <tr class="grandAccountLevel">
          <td class="grandFirstColumn">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ account.account }}
          </td>
          <td>
            {{ account.grandTotalSalesOrderCount | number }}
          </td>
          <td>
            {{ account.grandTotalOrderValue / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ account.grandTotalQtrRevEstimate / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ account.grandTotalQtrInvGlRev / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ account.grandTotalQtrAccrualGlRev / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ account.grandTotalQtrRevRecog / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ account.grandTotalRevNotRecog / 1000000 | number : "1.0-3" }}
          </td>
        </tr>
        } @for (account of paginatedData; track account) {
        <tr
          (click)="account.expanded = !account.expanded"
          class="accountLevel"
          [ngClass]="{ 'completed-row': isAccountCompleted(account) }"
        >
          <td class="firstColumn">
            @if (account.account !== 'GRAND TOTAL') {
            <span>
              @if (account.expanded) {
              <span
                ><i class="fa fa-chevron-up" style="font-size: 12px"></i
              ></span>
              } @if (!account.expanded) {
              <span
                ><i class="fa fa-chevron-down" style="font-size: 12px"></i
              ></span>
              } &nbsp;
            </span>
            }
            {{ account.account }}
          </td>
          <td>
            @if (account.account !== 'GRAND TOTAL') {
            <span>
              {{ account.salesOrderSum | number }}
            </span>
            } @if (account.account === 'GRAND TOTAL') {
            <span>
              {{ account.grandTotalSalesOrderCount | number }}
            </span>
            }
          </td>
          <td>
            @if (account.account !== 'GRAND TOTAL') {
            <span>
              {{ account.totalOrderValueSum / 1000000 | number : "1.0-3" }}
            </span>
            } @if (account.account === 'GRAND TOTAL') {
            <span>
              {{ account.grandTotalOrderValue / 1000000 | number : "1.0-3" }}
            </span>
            }
          </td>
          <td>
            @if (account.account !== 'GRAND TOTAL') {
            <span>
              {{ account.qtrRevEstimateSum / 1000000 | number : "1.0-3" }}
            </span>
            } @if (account.account === 'GRAND TOTAL') {
            <span>
              {{
                account.grandTotalQtrRevEstimate / 1000000 | number : "1.0-3"
              }}
            </span>
            }
          </td>
          <td>
            @if (account.account !== 'GRAND TOTAL') {
            <span>
              {{ account.qtrInvGlRevSum / 1000000 | number : "1.0-3" }}
            </span>
            } @if (account.account === 'GRAND TOTAL') {
            <span>
              {{ account.grandTotalQtrInvGlRev / 1000000 | number : "1.0-3" }}
            </span>
            }
          </td>
          <td>
            @if (account.account !== 'GRAND TOTAL') {
            <span>
              {{ account.qtrAccrualGlRevSum / 1000000 | number : "1.0-3" }}
            </span>
            } @if (account.account === 'GRAND TOTAL') {
            <span>
              {{
                account.grandTotalQtrAccrualGlRev / 1000000 | number : "1.0-3"
              }}
            </span>
            }
          </td>
          <td>
            @if (account.account !== 'GRAND TOTAL') {
            <span>
              {{ account.qtrRevRecogSum / 1000000 | number : "1.0-3" }}
            </span>
            } @if (account.account === 'GRAND TOTAL') {
            <span>
              {{ account.grandTotalQtrRevRecog / 1000000 | number : "1.0-3" }}
            </span>
            }
          </td>
          <td>
            @if (account.account !== 'GRAND TOTAL') {
            <span>
              {{ account.revNotRecogSum / 1000000 | number : "1.0-3" }}
            </span>
            } @if (account.account === 'GRAND TOTAL') {
            <span>
              {{ account.grandTotalRevNotRecog / 1000000 | number : "1.0-3" }}
            </span>
            }
          </td>
        </tr>
        @if (account.expanded) { @for (deal of account.deals; track deal) {
        <tr
          (click)="deal.expanded = !deal.expanded"
          class="dealLevel"
          [ngClass]="{ 'completed-row': isDealCompleted(deal) }"
        >
          <td style="padding-left: 20px" class="firstColumn">
            {{ deal.expanded ? "&ndash;" : "+" }}&nbsp;{{ deal.dealId }}
          </td>
          <td>
            {{ deal.salesOrderSum | number }}
          </td>
          <td>
            {{ deal.totalOrderValueSum / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ deal.qtrRevEstimateSum / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ deal.qtrInvGlRevSum / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ deal.qtrAccrualGlRevSum / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ deal.qtrRevRecogSum / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ deal.revNotRecogSum / 1000000 | number : "1.0-3" }}
          </td>
        </tr>
        @if (deal.expanded) { @for (status of deal.orderStatuses; track status)
        {
        <tr class="statusLevel">
          <td style="padding-left: 40px" class="firstColumn">
            {{ status.status }}
          </td>
          <td>{{ status.salesOrderCount | number }}</td>
          <td>
            {{ status.totalOrderValue / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ status.qtrRevEstimate / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ status.qtrInvGlRev / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ status.qtrAccrualGlRev / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ status.qtrRevRecog / 1000000 | number : "1.0-3" }}
          </td>
          <td>
            {{ status.revNotRecog / 1000000 | number : "1.0-3" }}
          </td>
        </tr>
        } } } } }
      </tbody>
    </table>

    <div style="display: flex; justify-content: center">
      @if (!paginatedData?.length) {
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
      }
    </div>

    <!-- <span>
    <i class="fa fa-info-circle" style="color: rgb(103, 102, 102)"
      >&nbsp;Completed Accounts and Deals are marked in green.</i
      >
    </span> -->

    <nav aria-label="Page navigation" style="float: right !important">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="prevPage()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        @for (page of pages; track page) {
        <li class="page-item" [class.active]="currentPage === page">
          <a class="page-link" (click)="setPage(page)">{{ page }}</a>
        </li>
        }

        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="nextPage()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</mat-dialog-content>
