table {
  width: 100%;
}

.arclosetable .table th {
  background-color: #049fd9 !important;
  color: white;
  font-size: small;
  font-weight: 600;
  text-wrap: balance;
}

thead th {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

.table tbody td {
  text-align: center;
}

.firstColumn,
.grandFirstColumn {
  text-align: left !important;
}

.accountLevel,
.grandAccountLevel {
  font-weight: 600 !important;
}

tbody tr.grandAccountLevel td {
  position: relative !important;
  left: 0;
  z-index: 1;
}

.dealLevel {
  font-weight: 500 !important;
}

.statusLevel {
  font-weight: 300 !important;
}

.completed-row {
  color: green;
}

.iconSize {
  cursor: pointer;
}

.noSort {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.noSort:hover {
  opacity: 0.5;
}
