<div class="rs-header">
  <h5 class="rs-title">Revenue Summary</h5>
  <div class="rs-header-actions">
    <button
      type="button"
      class="rs-icon-btn"
      (click)="
        export('Large Deal Revenue Summary', 'large_deal_revenue_summary')
      "
    >
      <i class="svg-icon download-icon-white" aria-hidden="true"></i>
    </button>
    <button type="button" class="rs-icon-btn" (click)="closeDialog()">
      <i class="fa fa-close" aria-hidden="true"></i>
    </button>
  </div>
</div>

<mat-dialog-content class="rs-content">
  <div class="rs-table-container">
    <div class="table-container">
      <table class="rs-table">
        <thead>
          <tr>
            @for (col of displayedColumns; track col) {
              <th (click)="sortEnable(col.name)">
                <span>{{ col.name }}</span>
                @if (
                  (!col.sorted && col.sortingOrder === "") ||
                  (col.sorted && col.sortingOrder === "asc")
                ) {
                  <i
                    [class.rs-no-sort]="col.sortingOrder === ''"
                    class="fa fa-arrow-up rs-sort-icon"
                  ></i>
                }
                @if (col.sorted && col.sortingOrder === "desc") {
                  <i class="fa fa-arrow-down rs-sort-icon"></i>
                }
              </th>
            }
          </tr>
        </thead>
        <tbody>
          @for (account of grandTotalData; track account) {
            <tr class="rs-grand-total">
              <td class="rs-first-col">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ account.account }}
              </td>
              <td>{{ account.grandTotalSalesOrderCount | number }}</td>
              <td>
                {{ account.grandTotalOrderValue / 1000000 | number: "1.0-3" }}
              </td>
              <td>
                {{
                  account.grandTotalQtrRevEstimate / 1000000 | number: "1.0-3"
                }}
              </td>
              <td>
                {{ account.grandTotalQtrInvGlRev / 1000000 | number: "1.0-3" }}
              </td>
              <td>
                {{
                  account.grandTotalQtrAccrualGlRev / 1000000 | number: "1.0-3"
                }}
              </td>
              <td>
                {{ account.grandTotalQtrRevRecog / 1000000 | number: "1.0-3" }}
              </td>
              <td>
                {{ account.grandTotalRevNotRecog / 1000000 | number: "1.0-3" }}
              </td>
            </tr>
          }
          @for (account of paginatedData; track account) {
            <tr
              (click)="account.expanded = !account.expanded"
              class="rs-account-row"
              [class.rs-completed]="isAccountCompleted(account)"
            >
              <td class="rs-first-col">
                @if (account.account !== "GRAND TOTAL") {
                  <i
                    class="fa"
                    [class.fa-chevron-up]="account.expanded"
                    [class.fa-chevron-down]="!account.expanded"
                    style="font-size: 10px"
                  ></i>
                  &nbsp;
                }
                {{ account.account }}
              </td>
              <td>
                {{
                  account.account !== "GRAND TOTAL"
                    ? (account.salesOrderSum | number)
                    : (account.grandTotalSalesOrderCount | number)
                }}
              </td>
              <td>
                {{
                  account.account !== "GRAND TOTAL"
                    ? (account.totalOrderValueSum / 1000000 | number: "1.0-3")
                    : (account.grandTotalOrderValue / 1000000 | number: "1.0-3")
                }}
              </td>
              <td>
                {{
                  account.account !== "GRAND TOTAL"
                    ? (account.qtrRevEstimateSum / 1000000 | number: "1.0-3")
                    : (account.grandTotalQtrRevEstimate / 1000000
                      | number: "1.0-3")
                }}
              </td>
              <td>
                {{
                  account.account !== "GRAND TOTAL"
                    ? (account.qtrInvGlRevSum / 1000000 | number: "1.0-3")
                    : (account.grandTotalQtrInvGlRev / 1000000
                      | number: "1.0-3")
                }}
              </td>
              <td>
                {{
                  account.account !== "GRAND TOTAL"
                    ? (account.qtrAccrualGlRevSum / 1000000 | number: "1.0-3")
                    : (account.grandTotalQtrAccrualGlRev / 1000000
                      | number: "1.0-3")
                }}
              </td>
              <td>
                {{
                  account.account !== "GRAND TOTAL"
                    ? (account.qtrRevRecogSum / 1000000 | number: "1.0-3")
                    : (account.grandTotalQtrRevRecog / 1000000
                      | number: "1.0-3")
                }}
              </td>
              <td>
                {{
                  account.account !== "GRAND TOTAL"
                    ? (account.revNotRecogSum / 1000000 | number: "1.0-3")
                    : (account.grandTotalRevNotRecog / 1000000
                      | number: "1.0-3")
                }}
              </td>
            </tr>
            @if (account.expanded) {
              @for (deal of account.deals; track deal) {
                <tr
                  (click)="deal.expanded = !deal.expanded"
                  class="rs-deal-row"
                  [class.rs-completed]="isDealCompleted(deal)"
                >
                  <td class="rs-first-col" style="padding-left: 1.5rem">
                    {{ deal.expanded ? "&ndash;" : "+" }}&nbsp;{{ deal.dealId }}
                  </td>
                  <td>{{ deal.salesOrderSum | number }}</td>
                  <td>
                    {{ deal.totalOrderValueSum / 1000000 | number: "1.0-3" }}
                  </td>
                  <td>
                    {{ deal.qtrRevEstimateSum / 1000000 | number: "1.0-3" }}
                  </td>
                  <td>{{ deal.qtrInvGlRevSum / 1000000 | number: "1.0-3" }}</td>
                  <td>
                    {{ deal.qtrAccrualGlRevSum / 1000000 | number: "1.0-3" }}
                  </td>
                  <td>{{ deal.qtrRevRecogSum / 1000000 | number: "1.0-3" }}</td>
                  <td>{{ deal.revNotRecogSum / 1000000 | number: "1.0-3" }}</td>
                </tr>
                @if (deal.expanded) {
                  @for (status of deal.orderStatuses; track status) {
                    <tr class="rs-status-row">
                      <td class="rs-first-col" style="padding-left: 2.5rem">
                        {{ status.status }}
                      </td>
                      <td>{{ status.salesOrderCount | number }}</td>
                      <td>
                        {{ status.totalOrderValue / 1000000 | number: "1.0-3" }}
                      </td>
                      <td>
                        {{ status.qtrRevEstimate / 1000000 | number: "1.0-3" }}
                      </td>
                      <td>
                        {{ status.qtrInvGlRev / 1000000 | number: "1.0-3" }}
                      </td>
                      <td>
                        {{ status.qtrAccrualGlRev / 1000000 | number: "1.0-3" }}
                      </td>
                      <td>
                        {{ status.qtrRevRecog / 1000000 | number: "1.0-3" }}
                      </td>
                      <td>
                        {{ status.revNotRecog / 1000000 | number: "1.0-3" }}
                      </td>
                    </tr>
                  }
                }
              }
            }
          }
        </tbody>
      </table>
    </div>

    @if (!paginatedData?.length) {
      <div class="rs-empty-state">
        <app-loading-symbol></app-loading-symbol>
      </div>
    }
  </div>

  @if (paginatedData?.length) {
    <app-pagination
      [pageIndex]="currentPage - 1"
      [pageSize]="pageSize"
      [totalItems]="groupedData.length"
      [pageSizeOptions]="[5, 10, 20]"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  }
</mat-dialog-content>
