<div class="chart-cards-container">
  <app-o2c-donut
    [data]="donutData"
    canvasId="donutChartLarge"
    [showCircleBackground]="false"
    [showLegend]="true"
    chartSize="150px"
    >
  </app-o2c-donut>

  <div class="cards-scroll-container scrollable">
    <app-o2c-card
      [title]="'Order'"
      [count]="orderCard.count"
      [value]="orderCard.value"
      [footer]="'Enter to Booked'"
      [countDoubleWide]="orderCard.countDoubleWide"
      [valueDoubleWide]="orderCard.valueDoubleWide"
      [footerDoubleWide]="'Booked to Fulfillment'"
    ></app-o2c-card>

    <app-o2c-card
      [title]="'Subscription'"
      [count]="subscriptionCard.count"
      [value]="subscriptionCard.value"
      [footer]="'Fulfillment to Invoicing'"
    ></app-o2c-card>

    <app-o2c-card
      [title]="'Invoice'"
      [count]="invoiceCard.count"
      [value]="invoiceCard.value"
      [footer]="'Fulfillment to Invoicing'"
    ></app-o2c-card>

    <app-o2c-card
      [title]="'Accounting'"
      [count]="accountingCard.count"
      [value]="accountingCard.value"
      [footer]="'Accounting'"
    ></app-o2c-card>

    <app-o2c-card
      [title]="'Cash'"
      [count]="cashCard.count"
      [value]="cashCard.value"
      [footer]="'Cash Collection'"
    ></app-o2c-card>
  </div>
</div>

<div class="o2c-tabs-container accordion-container">
  <div class="tab-wrapper">
    <div class="tab-header-with-refresh order-banner-light">
      <div class="sm-light-text">Last Refreshed Date:</div>
    </div>
    <mat-tab-group
      class="main-tabs"
      (selectedTabChange)="onTabChange($event)"
      [selectedIndex]="selectedTabIndex"
      >
      <mat-tab label="Order">
        <div class="full-width-content">
          @if (selectedTabIndex === 0) {
            <app-o2c-order></app-o2c-order>
          }
        </div>
      </mat-tab>
      <mat-tab label="Subscription">
        <div class="full-width-content">
          @if (selectedTabIndex === 1) {
            <app-o2c-subscription
            ></app-o2c-subscription>
          }
        </div>
      </mat-tab>
      <mat-tab label="Invoice">
        <div class="full-width-content">
          @if (selectedTabIndex === 2) {
            <app-o2c-invoice></app-o2c-invoice>
          }
        </div>
      </mat-tab>
      <mat-tab label="Accounting">
        <div class="full-width-content">
          @if (selectedTabIndex === 3) {
            <app-o2c-accounting
            ></app-o2c-accounting>
          }
        </div>
      </mat-tab>
      <mat-tab label="Cash">
        <div class="full-width-content">
          @if (selectedTabIndex === 4) {
            <app-o2c-cash></app-o2c-cash>
          }
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
