.tooltip-conatiner {
  /* border: 1px solid rgb(242, 242, 242); */
  box-shadow: 0px 1.850000023841858px 6.25px 0px rgba(0, 0, 0, 0.19),
    0px 0.5px 1.75px 0px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 0.8vh;
  background: white;
}
