<app-o2c-nav></app-o2c-nav>
<div class="o2c-360-container">
  <app-o2c-sidebar-nav [navItems]="navTotals"></app-o2c-sidebar-nav>

  <div class="o2c-column-container" [style.width]="invoiceContainerWidth">
    <p class="result-header">1 Order Result Found</p>

    <div class="o2c-card order-banner">
      <div class="order-info">
        <span class="status-dot"></span>
        <span class="order-id"
          ><strong>28221819418344</strong> Order Summary</span
        >
        <button class="details-button" (click)="showDetailsModal = true">
          Order Details
        </button>

        <app-modal
          *ngIf="showDetailsModal"
          [title]="'Subscription Details'"
          (close)="showDetailsModal = false"
        >
          <p>This is your custom modal content!</p>
        </app-modal>
      </div>
      <!-- <div class="chevron-icon"></div> -->
    </div>

    <div class="o2c-card order-banner process-flow-banner">
      <app-o2c-process-flow
        [circleStatus]="circleStatus"
        [stepValues]="{ Order: '$0', Subscription: '$63,000' }"
      ></app-o2c-process-flow>
    </div>

    <div class="o2c-card order-table" style="overflow-x: scroll">
      <table mat-table [dataSource]="orderSummaryDataSource">
        <ng-container
          *ngFor="let column of orderSummaryDisplayedColumns1"
          [matColumnDef]="column"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ formatColumnName(column) }}
          </th>

          <td mat-cell *matCellDef="let element">
            {{
              column === "CREATION_DATE" || column === "ORDER_BOOKED_DATE"
                ? (element[column] | date : "MM/dd/yyyy")
                : element[column]
            }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="orderSummaryDisplayedColumns1"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: orderSummaryDisplayedColumns1"
        ></tr>
      </table>
      <table
        mat-table
        [dataSource]="orderSummaryDataSource"
        class="order-table"
      >
        <ng-container
          *ngFor="let column of orderSummaryDisplayedColumns2"
          [matColumnDef]="column"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [ngClass]="{
              'wide-column': column === 'PARTNER' || column === 'END_CUSTOMER'
            }"
          >
            {{ formatColumnName(column) }}
          </th>

          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="{
              'wide-column': column === 'PARTNER' || column === 'END_CUSTOMER'
            }"
          >
            {{ element[column] }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="orderSummaryDisplayedColumns2"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: orderSummaryDisplayedColumns2"
        ></tr>
      </table>
    </div>

    <div
      class="o2c-card order-banner table-banner"
      (click)="toggleAccordion('subscription')"
    >
      <div class="order-info accordion-header">
        <i
          [ngClass]="{
            'plus-icon': !expanded.subscription,
            'minus-icon': expanded.subscription
          }"
        ></i>
        Subscription Summary - {{ navTotals[1].count }}
        <a class="view-all-button" href="/o2c-sub">View All</a>
      </div>
    </div>
    <div *ngIf="expanded.subscription" class="accordion-content o2c-card">
      <div class="invoice-summary-table">
        <table mat-table [dataSource]="subscriptionSummaryDataSource">
          <ng-container
            *ngFor="let column of subscriptionSummaryDisplayedColumns"
            [matColumnDef]="column"
          >
            <th mat-header-cell *matHeaderCellDef>
              {{ formatColumnName(column) }}
            </th>

            <td mat-cell *matCellDef="let element">
              <a
                *ngIf="column === 'SUBSCRIPTION_ID'"
                href="#"
                (click)="
                  openSubscriptionModal(element[column]);
                  $event.preventDefault()
                "
              >
                {{ element[column] }}
              </a>
              <span *ngIf="column !== 'SUBSCRIPTION_ID'">{{
                element[column]
              }}</span>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="subscriptionSummaryDisplayedColumns"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: subscriptionSummaryDisplayedColumns"
          ></tr>
        </table>
      </div>
    </div>

    <div
      class="o2c-card order-banner table-banner"
      (click)="toggleAccordion('invoice')"
    >
      <div class="order-info accordion-header">
        <i
          [ngClass]="{
            'plus-icon': !expanded.invoice,
            'minus-icon': expanded.invoice
          }"
        ></i>
        Invoice Summary - {{ navTotals[2].count }}
        <a class="view-all-button" href="/o2c-invoice">View All</a>
      </div>
    </div>
    <div *ngIf="expanded.invoice" class="accordion-content o2c-card">
      <div class="invoice-summary-table">
        <table mat-table [dataSource]="invoiceSummaryDataSource">
          <ng-container
            *ngFor="let column of invoiceSummaryDisplayedColumns"
            [matColumnDef]="column"
          >
            <th mat-header-cell *matHeaderCellDef>
              {{ formatColumnName(column) }}
            </th>

            <td mat-cell *matCellDef="let element">
              <ng-container
                *ngIf="column === 'TRANSACTION_NUMBER'; else otherCell"
              >
                <a
                  href="#"
                  (click)="
                    openInvoiceModal(element[column]); $event.preventDefault()
                  "
                >
                  {{ element[column] }}
                </a>
              </ng-container>

              <ng-template #otherCell>
                {{
                  column === "TRANSACTION_DATE" || column === "DUE_DATE"
                    ? (element[column] | date : "yyyy/MM/dd")
                    : element[column]
                }}
              </ng-template>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="invoiceSummaryDisplayedColumns"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: invoiceSummaryDisplayedColumns"
          ></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<app-modal
  *ngIf="showSubscriptionModal"
  [title]="
    'Subscription Line Summary &nbsp; -  &nbsp; ' +
    selectedSubscriptionId +
    ' &nbsp;&nbsp; | &nbsp;&nbsp;
    Web Order ID &nbsp; - &nbsp; ' +
    orderID
  "
  (close)="showSubscriptionModal = false"
>
  <div class="invoice-summary-table">
    <table mat-table [dataSource]="dataSourceSubscriptionModal">
      <ng-container
        *ngFor="let column of displayedColumnsSubscriptionModal"
        [matColumnDef]="column"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ formatColumnName(column) }}
        </th>

        <td mat-cell *matCellDef="let element">
          {{ element[column] }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumnsSubscriptionModal"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsSubscriptionModal"
      ></tr>
    </table>
  </div>
</app-modal>

<app-modal
  *ngIf="showInvoiceModal"
  [title]="
    'Invoice Line Summary  &nbsp; -  &nbsp; ' +
    selectedTransactionNumber +
    '  &nbsp;&nbsp; | &nbsp;&nbsp; Web Order ID  &nbsp; -  &nbsp; ' +
    orderID
  "
  (close)="showInvoiceModal = false"
>
  <!-- PRINT STATUS TABLE -->
  <div class="invoice-summary-table">
    <div style="font-size: 14px; font-weight: bold; margin-bottom: 6px">
      Print Status
    </div>
    <table
      mat-table
      style="width: 100%"
      [dataSource]="dataSourceInvoicePrintStatus"
    >
      <ng-container
        *ngFor="let column of displayedColumnsInvoicePrintStatus"
        [matColumnDef]="column"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ formatColumnName(column) }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumnsInvoicePrintStatus"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsInvoicePrintStatus"
      ></tr>
    </table>
  </div>

  <!-- E-INVOICE STATUS TABLE -->
  <div class="invoice-summary-table" style="margin-top: 18px">
    <div style="font-size: 14px; font-weight: bold; margin-bottom: 6px">
      E-Invoice Status & Collector Info
    </div>
    <table mat-table style="width: 100%" [dataSource]="dataSourceInvoiceStatus">
      <ng-container
        *ngFor="let column of displayedColumnsInvoiceStatus"
        [matColumnDef]="column"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ formatColumnName(column) }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsInvoiceStatus"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsInvoiceStatus"
      ></tr>
    </table>
  </div>

  <!-- CASH APPLICATION TABLE -->
  <div class="invoice-summary-table" style="margin-top: 18px">
    <div style="font-size: 14px; font-weight: bold; margin-bottom: 6px">
      Cash Application
    </div>
    <table mat-table style="width: 100%" [dataSource]="dataSourceInvoiceCash">
      <ng-container
        *ngFor="let column of displayedColumnsInvoiceCash"
        [matColumnDef]="column"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ formatColumnName(column) }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsInvoiceCash"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsInvoiceCash"
      ></tr>
    </table>
  </div>
</app-modal>
