<app-o2c-nav></app-o2c-nav>

<div class="circle-header">
  <app-o2c-process-flow
    [circleStatus]="circleStatus"
    [stepValues]="{ Order: '$0', Subscription: '$63,000' }"
  ></app-o2c-process-flow>
</div>

<div class="order-banner">
  <div class="order-table">
    <table mat-table [dataSource]="orderSummaryDataSource">
      <ng-container
        *ngFor="let column of orderSummaryDisplayedColumns1"
        [matColumnDef]="column"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ formatColumnName(column) }}
        </th>

        <td mat-cell *matCellDef="let element">
          {{
            column === "CREATION_DATE" || column === "ORDER_BOOKED_DATE"
              ? (element[column] | date : "MM/dd/yyyy")
              : element[column]
          }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="orderSummaryDisplayedColumns1"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: orderSummaryDisplayedColumns1"
      ></tr>
    </table>
    <table mat-table [dataSource]="orderSummaryDataSource" class="order-table">
      <ng-container
        *ngFor="let column of orderSummaryDisplayedColumns2"
        [matColumnDef]="column"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          [ngClass]="{
            'wide-column': column === 'PARTNER' || column === 'END_CUSTOMER'
          }"
        >
          {{ formatColumnName(column) }}
        </th>

        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="{
            'wide-column': column === 'PARTNER' || column === 'END_CUSTOMER'
          }"
        >
          {{ element[column] }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="orderSummaryDisplayedColumns2"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: orderSummaryDisplayedColumns2"
      ></tr>
    </table>
    <hr />

    <a
      class="details-button"
      href="https://ccw-cstg.cisco.com/icw/pdrqo/portal.order"
      >View complete order details in CCW</a
    >
  </div>
</div>

<div class="table-container">
  <div class="table-banner">
    <div class="order-info accordion-header">
      Invoices -
      {{
        invoiceSummaryDataSource.data.length
          ? invoiceSummaryDataSource.data.length
          : null
      }}
    </div>
  </div>
  <div class="accordion-content o2c-card">
    <div class="invoice-summary-table">
      <ng-container
        *ngIf="invoiceSummaryDataSource?.data?.length; else loading"
      >
        <table mat-table [dataSource]="invoiceSummaryDataSource">
          <ng-container
            *ngFor="let column of invoiceSummaryDisplayedColumns"
            [matColumnDef]="column"
          >
            <th mat-header-cell *matHeaderCellDef>
              {{ formatColumnName(column) }}
            </th>

            <td mat-cell *matCellDef="let element">
              {{
                column === "TRANSACTION_DATE" || column === "DUE_DATE"
                  ? (element[column] | date : "yyyy/MM/dd")
                  : element[column]
              }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="invoiceSummaryDisplayedColumns"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: invoiceSummaryDisplayedColumns"
          ></tr>
        </table>
      </ng-container>

      <ng-template #loading>
        <div class="loading-container">
          <app-loading-symbol></app-loading-symbol>
          <br /><br /><br />
        </div>
      </ng-template>
    </div>
  </div>
</div>
