.esp-dashboard {
  padding: 2rem;
  margin: 0 auto;
}

.dashboard-header {
  margin-bottom: 0.5rem;
  text-align: left;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.dashboard-header h1 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.period-info {
  display: flex;
  align-items: center;
}

.period-details {
  font-size: 0.8rem;
  color: #606162;
  font-weight: 400;
}

.period-details strong {
  font-weight: 600;
  color: #373c42;
}

.subtitle {
  font-size: 0.9rem;
  color: #1990fa;
  margin-bottom: 0.3rem;
}

/* 1x8 horizontal layout container */
.metrics-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0; /* Space for the triangle */
}

hr {
  margin: 0;
}

/* Responsive design */
@media (max-width: 768px) {
  .header-main {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  
  .period-details {
    font-size: 0.75rem;
  }

  .metrics-container {
    gap: 0.5rem;
  }

  .dashboard-header h1 {
    font-size: 2rem;
  }

  .esp-dashboard {
    padding: 1rem;
  }
}