<div class="esp-dashboard">
  <div class="dashboard-header">
    <p class="subtitle">
      Hello <strong>{{ userName }},</strong> welcome!
    </p>
    <div class="header-main">
      <h1>ESP Case Data Review</h1>
      <div class="period-info">
        <span class="period-details">
          Period name: <strong>SEP-26 (W4)</strong> | Period end date:
          <strong>09/20/2025</strong> | Last Updated:
          <strong>9/9/2025, 4:45:17 PM</strong>
        </span>
      </div>
    </div>
  </div>

  <hr />

  <div class="metrics-container">
    <app-metric-tile
      *ngFor="let metric of metricTiles"
      [name]="metric.name"
      [percentage]="metric.percentage"
      [isActive]="isActive(metric.name)"
      (tileClick)="onTileClick($event)"
    ></app-metric-tile>
  </div>

  <hr />
</div>
