<h4 style="margin-top: 5px">Mid Close Invoice Volumes</h4>
<div class="periodclosetbale sortArrow" style="overflow: auto; max-width: 100%">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z6 table table-responsive table-striped"
  >
    <ng-container *ngFor="let column of displayedColumns">
      <ng-container matColumnDef="{{ column }}">
        <th mat-header-cell *matHeaderCellDef>
          {{ formatColumnHeader(column) }}
        </th>
        <td mat-cell *matCellDef="let record">{{ record[column] }}</td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
