@if (isLoading) {
  <div class="overall-loading">
    <app-loading-symbol></app-loading-symbol>
  </div>
}

@if (!isLoading) {
  <div class="overall-legend">
    <div class="legend-item">
      <span class="legend-label">Legend: </span>
    </div>
    <div class="legend-item">
      <div class="legend-item">
        <span class="legend-label">Service Requests - &nbsp;</span>
      </div>
      <div class="legend-item">
        <span
          class="legend-color"
          style="background-color: rgba(144, 238, 144, 0.7)"
        ></span>
        <span class="legend-label">Resolved(Agent) &nbsp;</span>
      </div>
      <!-- <span class="divider"> &nbsp; | &nbsp;</span> -->
      <div class="legend-item">
        <span
          class="legend-color"
          style="background-color: rgba(135, 206, 250, 0.7)"
        ></span>
        <span class="legend-label">Resolved (Ops)</span>
      </div>
    </div>
    <span class="divider"> | </span>

    <div class="legend-item">
      <div class="legend-item">
        <span class="legend-label">Routed - &nbsp;</span>
      </div>

      <div class="legend-item">
        <span
          class="legend-color"
          style="background-color: rgba(255, 214, 102, 0.7)"
        ></span>
        <span class="legend-label">Routed (Agent) &nbsp;</span>
      </div>
      <!-- <span class="divider">&nbsp; | &nbsp;</span> -->

      <div class="legend-item">
        <span
          class="legend-color"
          style="background-color: rgba(255, 179, 102, 0.7)"
        ></span>
        <span class="legend-label">Routed (Ops)</span>
      </div>
    </div>
    <span class="divider"> | </span>

    <div class="legend-item">
      <div class="legend-item">
        <span class="legend-label">Cancelled - &nbsp;</span>
      </div>

      <div class="legend-item">
        <span
          class="legend-color"
          style="background-color: rgba(218, 165, 255, 0.7)"
        ></span>
        <span class="legend-label">Recommended (Agent) &nbsp;</span>
      </div>
      <!-- <span class="divider">&nbsp; | &nbsp;</span> -->

      <div class="legend-item">
        <span
          class="legend-color"
          style="background-color: rgba(144, 220, 210, 0.7)"
        ></span>
        <span class="legend-label">Cancelled (Ops)</span>
      </div>
    </div>
  </div>

  <div class="overall-grid">
    @for (sectionName of sections(); track sectionName; let i = $index) {
      <div class="overall-section" [class.p2p-section]="sectionName === 'P2P'">
        <div class="overall-header">
          <div class="overall-header-left">
            Total Cases: <b>{{ getTotalCases(sectionName) | number }}</b>
          </div>
          <div class="overall-title">
            {{ sectionName }}
          </div>
          <div class="overall-header-right">
            @switch (sectionName) {
              @case ("OM") {
                Resolution Agents - 14/14
              }
              @case ("SM") {
                Resolution Agents - 0/8
              }
              @case ("I2C") {
                Resolution Agents - 14/19
              }
              @case ("AIT") {
                Resolution Agents - 10/10
              }
              @case ("FPP") {
                Resolution Agents - 0/14
              }
              @case ("P2P") {
                Resolution Agents - 5/5
              }
              @case ("CAPITAL") {
                Resolution Agents - 3/8
              }
              @case ("Finance IT") {
                Resolution Agents - 46/78
              }
            }
          </div>
        </div>
        <div class="overall-bar">
          <canvas
            class="overall-bar-canvas"
            [attr.id]="'overall-bar-' + i"
          ></canvas>
        </div>
      </div>
    }
  </div>
}
