<br />
<br />
<div>
  <div>
    <h4>
      <label>Quarter:</label> &nbsp;&nbsp; {{ quarter }} &nbsp;&nbsp; |
      &nbsp;&nbsp; <label>Period:</label> &nbsp;&nbsp; {{ period }}
    </h4>
    <br />
    <p><label>Start:</label> &nbsp;&nbsp; {{ preCloseStartTime }}</p>
    <p><label>End:</label> &nbsp;&nbsp;&nbsp;&nbsp; {{ preCloseEndTime }}</p>
    <p>
      <label>Expected Close Time:</label> &nbsp;&nbsp; {{ preCloseEndTime }}
      <!-- <span *ngIf="!closeTimeEdit">
        {{ preCloseEndTime }}
        <i
          id="editCloseTime"
          class="fa fa-edit"
          (click)="editContent($event)"
        ></i>
      </span>
      <span *ngIf="closeTimeEdit">
        <input type="date" id="closeTime" name="closeTime" />&nbsp;
        <input
          id="updateCloseTime"
          type="submit"
          value="Update"
          (click)="updateContent($event)"
        />
      </span> -->
    </p>
    <br /><br />
    <div>
      <h2>Entity View</h2>
      <span style="display: flex; align-items: center">
        <div>
          <mat-form-field appearance="standard" a>
            <mat-label>Select Entites</mat-label>
            <mat-select
              [value]="defaultSelectedEntity"
              id="entity"
              name="entity"
              [(ngModel)]="selectedEntities"
              (ngModelChange)="selectedEntity()"
              multiple
            >
              <mat-option *ngFor="let entity of entityList" [value]="entity">{{
                entity
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard" a>
            <mat-label>Select Statuses</mat-label>
            <mat-select
              [formControl]="statuses"
              id="status"
              name="status"
              [(ngModel)]="selectedStatuses"
              (ngModelChange)="selectedStatus()"
              multiple
            >
              <mat-option *ngFor="let status of statusList" [value]="status">{{
                status
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          &nbsp; &nbsp; &nbsp; &nbsp; Legend: &nbsp; &nbsp; ✓ Completed &nbsp;
          &nbsp; ⏳ In progress &nbsp; &nbsp; ⚠️ Delayed &nbsp; &nbsp; 🛑
          Stopped &nbsp; &nbsp; ⏸️ Yet to start
        </div>
      </span>
    </div>
  </div>

  <table mat-table class="table table-responsive equal-width">
    <thead>
      <tr>
        <th *ngFor="let col of meStatusColumns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="selectedEntities && selectedEntities.length > 0">
        <td></td>
        <td
          *ngFor="
            let category of templateObject.keys(pCloseProgBarStatusMapping)
          "
        >
          <p>
            <circle-progress
              [percent]="pCloseProgBarStatusMapping[category]['value']"
            ></circle-progress>
          </p>
        </td>
      </tr>
      <tr *ngIf="selectedEntities && selectedEntities.length > 0">
        <td *ngFor="let row of pcloseExecutionWindow">{{ row }}</td>
      </tr>
      <tr *ngFor="let row of pcloseSelectedMonthEndStatusTableData">
        <td *ngFor="let category of templateObject.keys(row)">
          <span *ngIf="row[category].toLowerCase() === 'completed'">✓</span>
          <span *ngIf="row[category].toLowerCase() === 'na'">N/A</span>
          <span *ngIf="row[category].toLowerCase() === 'in progress'">⏳</span>
          <span *ngIf="row[category].toLowerCase() === 'yet to start'">⏸️</span>
          <span *ngIf="row[category].toLowerCase() === 'delayed'">⚠️</span>
          <span *ngIf="row[category].toLowerCase() === 'stopped'">🛑</span>
          <span
            *ngIf="
              [
                'completed',
                'na',
                'in progress',
                'yet to start',
                'delayed',
                'stopped'
              ].indexOf(row[category].toLowerCase()) === -1
            "
            >{{ row[category] }}</span
          >
        </td>
      </tr>
    </tbody>
  </table>

  <br /><br />
  <h2>Interface Load</h2>
  <div class="header-container">
    <p>Legend: &nbsp;&nbsp; Number of lines</p>
    <button
      mat-stroked-button
      (click)="
        exportTableToCSV(precloseInterfaceLoadData, pcloseInterfaceLoadColumns)
      "
    >
      Download
    </button>
  </div>
  <table class="table table-responsive table-bordered table-striped">
    <thead>
      <tr>
        <th *ngFor="let col of pcloseInterfaceLoadColumns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of precloseInterfaceLoadTableData">
        <ng-container *ngFor="let cell of row; let i = index">
          <td *ngIf="i < row.length - 2">{{ cell }}</td>
          <td *ngIf="i >= row.length - 2">
            <span *ngIf="cell.slice(0, -1) > 0">⬆ {{ cell }}</span>
            <span *ngIf="cell.slice(0, -1) < 0"
              >⬇ {{ getAbsoluteValue(cell.slice(0, -1)) }}%</span
            >
            <span *ngIf="cell.slice(0, -1) == 0">0%</span>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>

  <br /><br />
  <h2>Invoices Generated</h2>
  <br />
  <cui-table
    *ngIf="preCloseProgramTableData.length"
    [options]="programTableOptions"
    [data]="preCloseProgramTableData"
    style="justify-content: center"
  ></cui-table>
  <br />
  <div>
    <h3>Comments</h3>
    <form>
      <input
        name="comments"
        class="form-control form-control-sm"
        type="text"
        placeholder="Add a comment"
        [(ngModel)]="updatedComments"
        (focus)="showCommentSave = true"
        style="width: 40%; height: 60px"
      />
      <br />
      <span *ngIf="showCommentSave">
        <button
          mat-raised-button
          (click)="updateComments()"
          style="background-color: #049fd9; color: white"
        >
          Save</button
        >&nbsp;
        <button
          mat-raised-button
          (click)="showCommentSave = false"
          style="color: #049fd9"
        >
          Cancel
        </button>
        <br /><br />
      </span>
    </form>
    <div>
      <div *ngFor="let comment of dashComments">
        <ul *ngIf="comment.CLOSE_TYPE === 'PRECLOSE'">
          <li>
            <p style="margin-bottom: 10px">
              <b>admin</b> &nbsp;
              <span style="color: #6b6a6a">{{ comment.CREATION_DATE }}</span>
            </p>
            <p>{{ comment.PERIOD_NAME }}: {{ comment.COMMENTS }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <br />
  <br />
</div>
