<div class="givemespace">
    <app-daily-monitoring></app-daily-monitoring>
</div>
<br />
<div class="givemespace"><h4>Program Run Details</h4>
    <div>
        RevenueAccrualsAM : Sat-Fri (5am,3pm)<br />
        RevenueAccrualsPM : Sun-Fri (Daily AI)
    </div>
</div>
<br />
<div class="givemespace">
    <h4>Last Program Run</h4>
    <cui-table *ngIf="programTableData.length" [options]="programTableOptions" [data]="programTableData" [limit]="limit" [offset]="offset"></cui-table>
</div>

<ng-template #dateCell let-row="celldata">{{row.COMPLETION_DATE | date:'M/d/yy, h:mm a z'}}</ng-template>