<div class="modal-overlay" (click)="onOverlayClicked()">
  <div class="dialog-callout-box" (click)="$event.stopPropagation()">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      "
    >
      <h4 style="font-weight: 600; padding: 1.7vh 1.5vh 0vh 1.6vh">
        SFTP Status
      </h4>
      <div style="display: flex; gap: 1vh">
        <button mat-icon-button mat-dialog-close aria-label="Close">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>

    <div class="mat-dialog-content">
      <div style="display: flex; justify-content: center">
        <ng-container *ngIf="!data?.length">
          <div class="loading-container">
            <app-loading-symbol></app-loading-symbol>
            <br /><br /><br />
          </div>
        </ng-container>
      </div>
      <table class="table table-hover table-responsive-xl" *ngIf="data?.length">
        <thead>
          <tr>
            <th>Directory</th>
            <th>Extract</th>
            <th>Unprocessed Files</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of data">
            <tr>
              <td>{{ item.directory }}</td>
              <td>{{ item.extract }}</td>
              <td>
                <ng-container
                  *ngIf="item.unprocessedFiles?.length > 0; else noFiles"
                >
                  <table class="nested-table">
                    <thead>
                      <tr>
                        <th>File Name</th>
                        <th>Timestamp</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let file of item.unprocessedFiles">
                        <td>{{ file.fileName }}</td>
                        <td>{{ formatTimestamp(file.timeStamp) }}</td>
                      </tr>
                    </tbody>
                  </table>
                </ng-container>
                <ng-template #noFiles>No Unprocessed Files</ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
