<div class="cs-header">
  <h5 class="cs-title">Displayed Columns</h5>
  <button type="button" class="cs-icon-btn" (click)="closeDialog()">
    <i class="fa fa-close" aria-hidden="true"></i>
  </button>
</div>

<mat-dialog-content class="cs-content">
  <div class="cs-table-container">
    <div class="cs-table-scroll">
      <table class="cs-table">
        <thead>
          <tr>
            <th>Column Name</th>
            <th class="cs-th-check">Visible</th>
          </tr>
        </thead>
        <tbody>
          @for (col of displayedColumns; track col.name) {
            <tr (click)="toggleColumn(col)" class="cs-row">
              <td>{{ col.displayName }}</td>
              <td class="cs-td-check">
                <input
                  type="checkbox"
                  class="fit-bulk-checkbox"
                  [checked]="isSelected(col)"
                  (click)="$event.stopPropagation()"
                  (change)="toggleColumn(col)"
                />
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <div class="cs-footer">
    <button type="button" class="cs-save-btn" (click)="save()">Save</button>
  </div>
</mat-dialog-content>
