.mat-mdc-header-row {
  background-color: #ffffff !important;
  border-bottom: 2px solid #373c42 !important; /* Add a bar below the header row */
}

.mat-mdc-header-cell {
  color: rgb(46, 46, 46) !important;
  text-align: center !important;
  border-bottom: 0px !important;
  font-size: 12px !important;
  padding: 1vh !important;
}

/* Styling for table rows */
.mat-mdc-row:nth-child(odd) {
  background-color: #f2f2f2 !important;
}

.mat-mdc-row:nth-child(even) {
  background-color: #ffffff !important;
}

.mat-mdc-cell {
  text-align: center !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  padding: 0.4vh !important;
  border: 0px !important;
}

tr.mat-mdc-row {
  height: 30px;
  border-bottom: 0px;
}

td {
  font-size: 11px;
}

th {
  text-align: center !important;
  border-bottom: 0px !important;
  font-size: 12px;
  padding: 0.5vh !important ;
}

td {
  text-align: center !important;
  font-size: 11px;
  padding: 0.4vh !important ;
  border: 0px !important;
}

tr.mat-mdc-header-row {
  height: 28px;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  align-items: center;
  justify-content: center !important;
}

::ng-deep .mat-sort-header-arrow {
  color: #ffffff; /* Change to your desired color */
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28vw;
  min-height: 14vw;
  width: 100%;
  height: 100%;
}

.dialog-callout-box {
  margin: 1vw;
  display: flex;
  min-width: 9vw;
  width: fit-content;
  min-height: 5vw;
  flex-direction: column;
  padding: 0;
  gap: 8px;
  word-wrap: break-word;
  background-color: #f2f2f2;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  align-items: center;
  height: fit-content;
}

::ng-deep .mat-dialog-content {
  /* border-radius: 8px; */
  display: block;
  margin: 0px;
  padding: 0px;
  max-height: 65vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

::ng-deep .mat-dialog-container {
  padding: 0;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.mat-dialog-title {
  margin: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
