.mat-header-cell {
  font-size: 13px;
  /* padding-left: 25px !important; */
}

.mat-cell {
  font-size: 13px;
  text-align: center;
}

th.mat-header-cell {
  padding-bottom: unset !important;
  padding-top: unset !important;
}

.bold {
  font-weight: bold;
}

td {
  text-align: center !important;
}

th {
  text-align: center !important;
}
