.table-responsive {
  overflow: auto;
}

.mat-header-cell {
  font-size: 12px;
  white-space: normal !important;
  justify-content: center !important;
}

.mat-cell {
  font-size: 12px;
  /* white-space: normal !important; */
}

th.mat-header-cell {
  padding-bottom: unset !important;
  padding-top: unset !important;
  padding-left: 15px !important;
}

td {
  text-align: center !important;
}

.highlight {
  background: #42a948 !important; /* green */
}

.mat-column-COMMENTS {
  text-align: left !important;
}

.mat-column-ACCOUNT {
  white-space: normal !important;
}

.mat-column-ORDER_STATUS {
  white-space: normal !important;
}

.progPanel {
  min-width: calc(100% + 30px) !important;
}

.hoverIcon {
  cursor: pointer;
}

.mat-column-HOLD_RELEASE_DATE .mat-form-field-infix {
  width: 80px;
  padding-bottom: 0.3em 0;
  border-top: 0.8em solid transparent;
}

.mat-column-HOLD_RELEASE_STATUS .mat-form-field-infix {
  width: 100px;
  padding-bottom: 0.3em 0;
  border-top: 0.3em solid transparent;
}

.cui input {
  font-size: 12px !important;
}

.table > tbody > tr > td {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
