.table-responsive {
  overflow: auto;
}

.mat-header-cell {
  font-size: 12px;
  white-space: normal !important;
  justify-content: center !important;
}

.mat-cell {
  font-size: 12px;
  /* white-space: normal !important; */
}

th.mat-header-cell {
  padding-bottom: unset !important;
  padding-top: unset !important;
  padding-left: 15px !important;
}

td {
  text-align: center !important;
}

.highlight {
  background: #42a948 !important; /* green */
}

.mat-column-COMMENTS {
  text-align: left !important;
}

.mat-column-ACCOUNT {
  white-space: normal !important;
}

.mat-column-ORDER_STATUS {
  white-space: normal !important;
}

.progPanel {
  min-width: calc(100% + 30px) !important;
}
