<br />
<div style="float: right">Dashboard updated: Today at {{ timeNow }}</div>
<br />
<div>
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 8px;
    "
  >
    <form [formGroup]="searchForm" class="search__form">
      <mat-form-field appearance="standard">
        <mat-label>Select Program Name</mat-label>
        <mat-select
          id="progname"
          name="progname"
          formControlName="progName"
          [(value)]="programNameFilter"
          multiple
        >
          <mat-option
            *ngFor="let progName of progNameOptions"
            [value]="progName"
            (onSelectionChange)="filter()"
            >{{ progName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="standard">
        <mat-label>Select Account</mat-label>
        <mat-select
          id="account"
          name="account"
          formControlName="account"
          [(value)]="accountFilter"
          multiple
        >
          <mat-option
            *ngFor="let acc of accountOptions"
            [value]="acc"
            (onSelectionChange)="filter()"
            >{{ acc }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="standard">
        <mat-label>Select Order Status</mat-label>
        <mat-select
          id="orderstatus"
          name="orderstatus"
          formControlName="orderStats"
          [(value)]="orderStatusFilter"
          multiple
        >
          <mat-option
            *ngFor="let ordstats of orderStatusOptions"
            [value]="ordstats"
            (onSelectionChange)="filter()"
            >{{ ordstats }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="standard">
        <mat-label>Select Invoicing Status</mat-label>
        <mat-select
          id="invoicestatus"
          name="invoicestatus"
          formControlName="invoiceStats"
          [(value)]="invoiceStatusFilter"
          multiple
        >
          <mat-option
            *ngFor="let invStats of invoiceStatusOptions"
            [value]="invStats"
            (onSelectionChange)="filter()"
            >{{ invStats }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="standard">
        <mat-label>Select Flexible Invoicing Eligibility</mat-label>
        <mat-select
          id="flexibleinvoice"
          name="flexibleinvoice"
          formControlName="flexibleInvoice"
          [(value)]="flexibleInvoiceFilter"
          multiple
        >
          <mat-option
            *ngFor="let flexInvoice of flexibleInvoiceOptions"
            [value]="flexInvoice"
            (onSelectionChange)="filter()"
            >{{ flexInvoice }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search Sales Order Number</mat-label>
        <input matInput (keyup)="filter()" formControlName="salesOrdr" />
        <i
          matSuffix
          class="fa fa-search"
          style="color: gray"
          (click)="applyFilter()"
        ></i>
      </mat-form-field>
      <!-- &nbsp;
      <mat-form-field appearance="standard">
        <input
          matInput
          class="form-field"
          formControlName="salesOrder"
          placeholder="Search Sales Order"
        />
      </mat-form-field> -->
    </form>
    <div>
      <button mat-stroked-button (click)="openDialog()">View Summary</button>
      &nbsp;
      <button
        mat-stroked-button
        (click)="
          export('Large Order Lifecycle Status', 'large_order_lifecycle_status')
        "
      >
        Download
      </button>
    </div>
  </div>
  <div
    class="periodclosetbale sortArrow"
    style="overflow: auto; max-width: 100%"
  >
    <table
      style="width: -webkit-fill-available"
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8 table table-responsive orderTable"
    >
      <!-- Selection Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- PROGRAM_NAME Column -->
      <ng-container matColumnDef="PROGRAM_NAME">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          PROGRAM NAME
        </th>
        <td mat-cell *matCellDef="let record">
          {{ record.PROGRAM_NAME }}
        </td>
      </ng-container>

      <!-- ACCOUNT Column -->
      <ng-container matColumnDef="ACCOUNT">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          ACCOUNT
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.ACCOUNT }}
        </td>
      </ng-container>

      <!-- STATUS_AS_OF_DATE Column -->
      <ng-container matColumnDef="STATUS_AS_OF_DATE">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          STATUS AS OF DATE
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{
            record.STATUS_AS_OF_DATE == null
              ? "TBD"
              : (record.STATUS_AS_OF_DATE | date : "M/d/yyyy")
          }}
        </td>
      </ng-container>

      <!-- EXPECTED_BOOK_DATE Column -->
      <!-- <ng-container matColumnDef="EXPECTED_BOOK_DATE">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          EXPECTED BOOK DATE
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{
            record.EXPECTED_BOOK_DATE == "NA"
              ? "NA"
              : (record.EXPECTED_BOOK_DATE | date : "M/d/yyyy")
          }}
        </td>
      </ng-container> -->

      <ng-container matColumnDef="ACTUAL_BOOK_DATE">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          ACTUAL BOOK DATE
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{
            record.ACTUAL_BOOK_DATE == null
              ? "TBD"
              : (record.ACTUAL_BOOK_DATE | date : "M/d/yyyy")
          }}
        </td>
      </ng-container>

      <!-- AGING_BOOKING Column -->
      <!-- <ng-container matColumnDef="AGING_BOOKING">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          AGING BOOKING
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.AGING_BOOKING }}
        </td>
      </ng-container> -->

      <!-- AGING_HOLD_RELEASE Column -->
      <!-- <ng-container matColumnDef="AGING_HOLD_RELEASE">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          AGING HOLD RELEASE
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.AGING_HOLD_RELEASE }}
        </td>
      </ng-container> -->

      <!-- SALES_ORDER Column -->
      <ng-container matColumnDef="SALES_ORDER">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          SALES ORDER (#)
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.SALES_ORDER }}
        </td>
      </ng-container>

      <!-- ORDER_VALUE Column -->
      <ng-container matColumnDef="ORDER_VALUE">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          ORDER VALUE ($M)
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.ORDER_VALUE }}
        </td>
      </ng-container>

      <!-- ORDER_STATUS Column -->
      <ng-container matColumnDef="ORDER_STATUS">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          ORDER STATUS
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.ORDER_STATUS.split("_").join(" ") }}
        </td>
      </ng-container>

      <!-- INVOICING_STATUS Column -->
      <ng-container matColumnDef="INVOICING_STATUS">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          INVOICING STATUS
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.INVOICING_STATUS }}
        </td>
      </ng-container>

      <!-- REV_ACCR_STATUS Column -->
      <ng-container matColumnDef="REV_ACCR_STATUS">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          REVENUE ACCRUALS STATUS
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.REV_ACCR_STATUS }}
        </td>
      </ng-container>

      <!-- GL_POSTING_STATUS Column -->
      <ng-container matColumnDef="GL_POSTING_STATUS">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          GL POSTING STATUS
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.GL_POSTING_STATUS }}
        </td>
      </ng-container>

      <!-- HOLD_RELEASE_TARGET_DATE Column -->
      <!-- <ng-container matColumnDef="HOLD_RELEASE_TARGET_DATE">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          HOLD RELEASE TARGET DATE
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{
            record.HOLD_RELEASE_TARGET_DATE == "NA"
              ? "NA"
              : (record.HOLD_RELEASE_TARGET_DATE | date : "M/d/yyyy")
          }}
        </td>
      </ng-container> -->

      <!-- ACCRUALS_EXECUTION_TIME Column -->
      <ng-container matColumnDef="ACCRUALS_EXECUTION_TIME">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          ACCRUALS EXECUTION TIME
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.ACCRUALS_EXECUTION_TIME }}
        </td>
      </ng-container>

      <!-- ORDER_TOTAL Column -->
      <!-- <ng-container matColumnDef="ORDER_TOTAL">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          ORDER TOTAL
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.ORDER_TOTAL }}
        </td>
      </ng-container> -->

      <!-- TOTAL_CONTRACT_VALUE Column -->
      <!-- <ng-container matColumnDef="TOTAL_CONTRAC_VALUE">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          TOTAL CONTRACT VALUE
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.TOTAL_CONTRAC_VALUE }}
        </td>
      </ng-container> -->

      <!-- SUBSCRIPTION_ID Column -->
      <ng-container matColumnDef="SUBSCRIPTION_ID">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          SUBSCRIPTION ID
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.SUBSCRIPTION_ID }}
        </td>
      </ng-container>

      <!-- INVOICE_DATE Column -->
      <ng-container matColumnDef="INVOICE_DATE">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          INVOICE DATE
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{
            record.INVOICE_DATE == null
              ? "TBD"
              : (record.INVOICE_DATE | date : "M/d/yyyy")
          }}
        </td>
      </ng-container>

      <!-- BILLING_SCHEDULE Column -->
      <!-- <ng-container matColumnDef="BILLING_SCHEDULE">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          BILLING SCHEDULE
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.BILLING_SCHEDULE }}
        </td>
      </ng-container> -->

      <!-- PERIODIC BILLING ELIGIBLE Column -->
      <ng-container matColumnDef="FLEXIBLE_INVOICE_ELIGIBLE">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          FLEXIBLE INVOICE ELIGIBLE
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.FLEXIBLE_INVOICE_ELIGIBLE }}
        </td>
      </ng-container>

      <!-- INVOICE_AMOUNT Column -->
      <ng-container matColumnDef="INVOICE_AMOUNT">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          INVOICE AMOUNT ($M)
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.INVOICE_AMOUNT }}
        </td>
      </ng-container>

      <!-- Term Column -->
      <ng-container matColumnDef="TERM_IN_YEARS">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          TERM
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.TERM_IN_YEARS }} Yrs
        </td>
      </ng-container>

      <!-- DEAL_ID Column -->
      <ng-container matColumnDef="DEAL_ID">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          DEAL ID
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.DEAL_ID }}
        </td>
      </ng-container>

      <!-- SFDC_STATUS Column -->
      <!-- <ng-container matColumnDef="SFDC_STATUS">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          SFDC STATUS
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.SFDC_STATUS }}
        </td>
      </ng-container> -->

      <!-- LINE_TYPE Column -->
      <!-- <ng-container matColumnDef="LINE_TYPE">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          LINE TYPE
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.LINE_TYPE }}
        </td>
      </ng-container> -->

      <!-- ORDER_TOTAL_USD Column -->
      <ng-container matColumnDef="TOTAL_LINE_COUNT">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          TOTAL LINE COUNT
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.TOTAL_LINE_COUNT }}
        </td>
      </ng-container>

      <!-- ORDER_TOTAL_USD Column -->
      <ng-container matColumnDef="LINES_ON_HOLD">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          LINES ON HOLD
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.LINES_ON_HOLD }}
        </td>
      </ng-container>

      <!-- INVOICE_LINES Column -->
      <ng-container matColumnDef="INVOICE_LINES">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          INVOICE LINES
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.INVOICE_LINES }}
        </td>
      </ng-container>

      <!-- INVOICE RELEASE DATE Column -->
      <ng-container matColumnDef="FUTURE_INVOICE_RELEASE_DATE">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          FUTURE INVOICE RELEASE DATE
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{
            record.FLEXIBLE_INVOICE_ELIGIBLE === "N"
              ? "N/A"
              : record.FUTURE_INVOICE_RELEASE_DATE == null
              ? "TBD"
              : (record.FUTURE_INVOICE_RELEASE_DATE | date : "M/d/yyyy")
          }}
        </td>
      </ng-container>

      <!-- COMMENTS Column -->
      <ng-container matColumnDef="COMMENTS">
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          COMMENTS
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{ record.COMMENTS }}
        </td>
      </ng-container>

      <!-- Table header -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- Table rows -->
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let entry"
        [ngClass]="{ highlight: entry.INVOICING_STATUS == 'Completed' }"
      ></tr>
    </table>
  </div>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!dataSource?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    [pageSize]="100"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<br />
