.table-responsive {
  overflow: auto;
}

.mat-header-cell {
  font-size: 13px;
  white-space: normal !important;
}

.mat-cell {
  font-size: 13px;
}

td {
  text-align: center !important;
}

th {
  padding-left: 30px !important;
}

.highlight {
  background: #42a948; /* green */
}
