:root {
  --grey: #c6c7ca;
  --blue: #333;
}

:host-context(.dark-theme) {
  --grey: #2a3f50;
  --blue: #e0e6ed;
}

@keyframes loading {
  25% {
    fill: var(--grey);
  }

  50% {
    fill: var(--blue);
  }

  75% {
    fill: var(--grey);
  }
}

.logo {
  width: 180px;
  fill: var(--grey);
}

.logo__mark-rect {
  animation: loading 1.3s ease-in-out infinite;
}
