<!-- <mat-tab-group>
  <mat-tab label="Large Deal Tracker">
    <app-invoice-status></app-invoice-status>
  </mat-tab>
  <mat-tab label="Midclose Status">
    <app-wd0-dash></app-wd0-dash>
  </mat-tab>
  <mat-tab label="Midclose Volumes">
    <app-wd0-historical-data></app-wd0-historical-data>
  </mat-tab>
</mat-tab-group> -->

<mat-tab-group
  [selectedIndex]="selectedIndex"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab *ngFor="let tab of filteredTabs; let i = index" [label]="tab.label">
    <ng-container [ngSwitch]="tab.component">
      <ng-container *ngSwitchCase="'app-large-deal'">
        <app-invoice-status *ngIf="selectedIndex === i"></app-invoice-status>
      </ng-container>
      <ng-container *ngSwitchCase="'app-wd0-status'">
        <app-wd0-dash *ngIf="selectedIndex === i"></app-wd0-dash>
      </ng-container>
      <ng-container *ngSwitchCase="'app-wd0-historical-data'">
        <app-wd0-historical-data
          *ngIf="selectedIndex === i"
        ></app-wd0-historical-data>
      </ng-container>
      <ng-container *ngSwitchCase="'app-issue-reporting'">
        <app-issue-reporting *ngIf="selectedIndex === i"></app-issue-reporting>
      </ng-container>
    </ng-container>
  </mat-tab>
</mat-tab-group>
