<app-o2c-nav></app-o2c-nav>

<div class="flowchart-container">
  <div class="slider-bar">
    <div
      *ngFor="let step of circleSteps; let i = index"
      [ngStyle]="getSliderBarStyle(i)"
    >
      <div class="circle-wrapper-loop" (click)="navigateToStep(step)">
        <p class="circle-caption-loop">{{ step }}</p>
        <p class="circle-loop" [ngClass]="getCircleClass(step)"></p>
      </div>

      <div *ngIf="i < circleSteps.length - 1" class="chevron-wrapper-loop">
        <div class="chevron"></div>
        <div class="chevron-white"></div>
      </div>
    </div>
  </div>
</div>

<!-- Business Rules Tab -->
<div
  class="grid-1"
  style="display: grid; gap: 1.2rem; padding-top: 1.2rem; margin: 1rem 5rem"
>
  <!-- <p class="section-title">O2C Summary Dashboard</p> -->
  <div class="header-table" style="border-top: solid 1px #e0e0e0">
    <table
      mat-table
      [dataSource]="dataSourceBusinessRules"
      class="gridded-table"
      style="border-bottom: 1px solid #e0e0e0"
    >
      <ng-container *ngFor="let column of displayedColumnsBusinessRules">
        <ng-container [matColumnDef]="column">
          <td
            style="border-bottom: 1px solid #e0e0e0; cursor: pointer"
            mat-cell
            *matCellDef="let element"
            (click)="toggleTable(element['1'])"
          >
            {{ element[column] }}
          </td>
        </ng-container>
      </ng-container>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsBusinessRules"
      ></tr>
    </table>
  </div>
</div>

<br />

<ng-container *ngIf="selectedTable === 'order'">
  <p class="section-title" style="margin: 1rem 5rem">Order</p>
  <div class="grid-1 card" style="width: auto; margin: 1rem 5rem">
    <div class="card">
      <table
        mat-table
        [dataSource]="dataSourceOrders"
        class="header-card table table-condensed gridded-table"
      >
        <ng-container *ngFor="let column of displayedColumnsOrders">
          <ng-container [matColumnDef]="column">
            <th
              mat-header-cell
              *matHeaderCellDef
              [ngClass]="{
                'no-border-left': column === displayedColumnsOrders[0],
                'no-border-right':
                  column ===
                  displayedColumnsOrders[displayedColumnsOrders.length - 1]
              }"
            >
              {{ removeUnderscores(column) }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              (click)="goToO2cOrder(element)"
              style="cursor: pointer; border-bottom: 1px solid #ddd"
            >
              {{ element[column] }}
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsOrders"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsOrders"></tr>
      </table>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="selectedTable === 'sub'">
  <p class="section-title" style="margin: 1rem 5rem">Subscriptions</p>
  <div class="grid-1 card" style="width: auto; margin: 1rem 5rem">
    <div class="card">
      <table
        mat-table
        [dataSource]="dataSourceSub"
        class="header-card table table-condensed gridded-table"
      >
        <ng-container *ngFor="let column of displayedColumnsSub">
          <ng-container [matColumnDef]="column">
            <th
              mat-header-cell
              *matHeaderCellDef
              [ngClass]="{
                'no-border-left': column === displayedColumnsSub[0],
                'no-border-right':
                  column === displayedColumnsSub[displayedColumnsSub.length - 1]
              }"
            >
              {{ removeUnderscores(column) }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              (click)="goToO2cSub(element)"
              style="cursor: pointer; border-bottom: 1px solid #ddd"
            >
              {{ element[column] }}
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSub"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSub"></tr>
      </table>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="selectedTable === 'accrual'">
  <p class="section-title" style="margin: 1rem 5rem">Accruals</p>
  <div class="grid-1 card" style="width: auto; margin: 1rem 5rem">
    <div class="card">
      <table
        mat-table
        [dataSource]="dataSourceAccruals"
        class="header-card table table-condensed gridded-table"
      >
        <ng-container *ngFor="let column of displayedColumnsAccruals">
          <ng-container [matColumnDef]="column">
            <th
              mat-header-cell
              *matHeaderCellDef
              [ngClass]="{
                'no-border-left': column === displayedColumnsAccruals[0],
                'no-border-right':
                  column ===
                  displayedColumnsAccruals[displayedColumnsAccruals.length - 1]
              }"
            >
              {{ removeUnderscores(column) }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              (click)="goToO2cAccrual(element)"
              style="cursor: pointer; border-bottom: 1px solid #ddd"
            >
              {{ element[column] }}
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAccruals"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsAccruals"
        ></tr>
      </table>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="selectedTable === 'invoice'">
  <p class="section-title" style="margin: 1rem 5rem">Invoice</p>
  <div class="grid-1 card" style="width: auto; margin: 1rem 5rem">
    <div class="card">
      <table
        mat-table
        [dataSource]="dataSourceInvoice"
        class="header-card table table-condensed gridded-table"
      >
        <ng-container *ngFor="let column of displayedColumnsInvoice">
          <ng-container [matColumnDef]="column">
            <th
              mat-header-cell
              *matHeaderCellDef
              [ngClass]="{
                'no-border-left': column === displayedColumnsInvoice[0],
                'no-border-right':
                  column ===
                  displayedColumnsInvoice[displayedColumnsInvoice.length - 1]
              }"
            >
              {{ removeUnderscores(column) }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              (click)="goToO2cInvoicing(element)"
              style="cursor: pointer; border-bottom: 1px solid #ddd"
            >
              {{ element[column] }}
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsInvoice"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsInvoice"></tr>
      </table>
    </div>
  </div>
</ng-container>
