@import "src/assets/o2c-common-styles.css";

:host {
  font-family: "Inter", sans-serif;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
  padding: 0;
  /* border: none; */
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 1px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  /* height: 104px; */
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100%;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}

.mat-row:nth-child(even) {
  /* background-color: #fafafa !important; */
}

.mat-row:nth-child(odd) {
  background-color: #ffffff !important;
}

th.mat-header-cell {
  /* background-color: #fafafa; */
  font-weight: 600;
  color: #404040;
}

tr.mat-row,
td.mat-row,
tr.mat-cell,
td.mat-cell,
tr.mat-header-row,
td.mat-header-row,
th.mat-header-cell {
  padding: 6px 6px 6px 6px;
  margin: 0 0 -2px 0;
  height: 0px;
  text-align: center;
  color: #5c5b5b;
}

.mat-header-row {
  background-color: #ffffff !important;
  border-bottom: 2px solid #c2c2c2 !important; /* Add a bar below the header row */
}

.mat-header-cell {
  color: rgb(46, 46, 46) !important;
  /* text-align: center !important; */
  /* border-bottom: 0px !important; */
  font-size: 12px !important;
  height: 30px;
}

.mat-cell {
  /* text-align: center !important; */
  font-weight: 500 !important;
  /* border: 0px !important; */
}

th {
  /* text-align: center !important; */
  font-size: 12px;
  height: 30px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  /* height: 50px !important; */
}

.table-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: -12px;
}

.row {
  display: flex;
  margin: 0 0 0 0 !important;
}

.container {
  margin: 1rem 5rem;
}

.header-table {
  overflow-x: auto;
  background-color: rgb(241, 241, 241);
  margin: 0 -5rem;
  padding: 0 5rem;
}

.table-background {
  background-color: #ffffff;
}

.card {
  overflow-x: auto;
  border: none;
  background-color: rgb(241, 241, 241);
  border-radius: 0px;
  padding: 0;
}

.gridded-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed; /* Ensure fixed table layout */
}

.gridded-table th,
.gridded-table td {
  font-size: 12px;
  width: 10vw; /* Set equal width for all columns */
  padding: 5px;
  background-color: #f1f1f1; /* Light gray background */
  font-weight: bold;
  text-align: left;
  border: none;
  color: #333;
  overflow-x: auto;
  border-right: 1px solid #ddd; /* Border between columns */
  word-wrap: break-word; /* Ensure words wrap */
  white-space: normal; /* Allow wrapping */
  vertical-align: top;
}

.gridded-table th {
  font-weight: bold;
}

.gridded-table td {
  font-weight: normal;
}

.gridded-table tr {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.gridded-table th.no-border-left,
.gridded-table td.no-border-left {
  border-left: none;
}

.gridded-table th:last-child,
.gridded-table td:last-child {
  border-right: none; /* Remove right border from the last column */
}

tr.mat-header-row {
  height: unset;
}

.header-card {
  margin: 0px;
  position: relative;
  transition: all linear 0.5s;
  width: 100%;
  overflow-x: auto;
}
