:host {
  font-family: "Inter", sans-serif;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
  padding: 0;
  /* border: none; */
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  /* height: 104px; */
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100%;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}

.mat-row:nth-child(even) {
  /* background-color: #fafafa !important; */
}

.mat-row:nth-child(odd) {
  background-color: #ffffff !important;
}

tr.mat-row,
td.mat-row,
tr.mat-cell,
td.mat-cell,
tr.mat-header-row,
td.mat-header-row,
th.mat-header-cell {
  padding: 8px 0 0 0;
  margin: 0 0 -2px 0;
  height: 0px;
  align-items: center;
}

.mat-header-row {
  background-color: #ffffff !important;
  border-bottom: 2px solid #373c42 !important; /* Add a bar below the header row */
}

.mat-header-cell {
  color: rgb(46, 46, 46) !important;
  /* text-align: center !important; */
  /* border-bottom: 0px !important; */
  font-size: 12px !important;
  height: 30px;
}

.mat-cell {
  /* text-align: center !important; */
  font-size: 11px !important;
  font-weight: 500 !important;
  /* border: 0px !important; */
}

th {
  /* text-align: center !important; */
  font-size: 12px;
  height: 30px;
}
