<mat-tab-group [selectedIndex]="0">
  <mat-tab label="CM Amortization">
    <app-monitoring-dashboard
      [urls]="cmAmortUrls"
      [keysToMap]="preAndAutoInvoiceKeysToMap"
      [processFlowKeys]="cmAmortTotals"
      [periodStatus]="periodStatus"
      [componentName]="'CM Amortization'"
      [processFlowTabsToDisplay]="[
        'Pre-Invoicing',
        'Auto-Invoicing',
        'CM Amortization',
        'Print'
      ]"
      [specialWords]="specialWords"
      [skippedWords]="skippedWords"
      [dynamicTemplate]=""
      [dynamicCss]=""
      [isSubAppMapping]="false"
      [warningMessage]="'Invoice processing is delayed '"
      [columnsToFilter]="postInvoicingFilters"
      [detailsColumnsToHide]="['TRANSACTION_DATE']"
      [submitKeysToMap]="[
        'PERIOD_NAME',
        'APPLICATION_NAME',
        'PROCESS_FLOW',
        'ORG_NAME',
        'TRANSACTION_DATE',
        'AMOUNT'
      ]"
      [webexKeysToMap]="[
        'PERIOD_NAME',
        'APPLICATION_NAME',
        'PROCESS_FLOW',
        'ORG_NAME',
        'TRANSACTION_DATE',
        'AMOUNT'
      ]"
    ></app-monitoring-dashboard>
  </mat-tab>
  <mat-tab label="Invoice Delivery">
    <app-monitoring-dashboard
      [urls]="printUrls"
      [keysToMap]="preAndAutoInvoiceKeysToMap"
      [processFlowKeys]="printTotals"
      [periodStatus]="periodStatus"
      [componentName]="'Print'"
      [processFlowTabsToDisplay]="[
        'Pre-Invoicing',
        'Auto-Invoicing',
        'CM Amortization',
        'Print'
      ]"
      [specialWords]="specialWords"
      [skippedWords]="skippedWords"
      [dynamicTemplate]=""
      [dynamicCss]=""
      [isSubAppMapping]="false"
      [warningMessage]="'Invoice processing is delayed '"
      [columnsToFilter]="postInvoicingFilters"
      [detailsColumnsToHide]="['TRANSACTION_DATE']"
      [submitKeysToMap]="[
        'PERIOD_NAME',
        'APPLICATION_NAME',
        'PROCESS_FLOW',
        'ORG_NAME',
        'TRANSACTION_DATE',
        'AMOUNT'
      ]"
      [webexKeysToMap]="[
        'PERIOD_NAME',
        'APPLICATION_NAME',
        'PROCESS_FLOW',
        'ORG_NAME',
        'TRANSACTION_DATE',
        'AMOUNT'
      ]"
    ></app-monitoring-dashboard>
  </mat-tab>
  <mat-tab label="Digital Payments">
    <app-monitoring-dashboard
      [urls]="creditCardUrls"
      [keysToMap]=""
      [processFlowKeys]="creditCardTotals"
      [periodStatus]="periodStatus"
      [componentName]="'Credit Card'"
      [processFlowTabsToDisplay]="[]"
      [specialWords]="specialWords"
      [skippedWords]="skippedWords"
      [dynamicTemplate]=""
      [dynamicCss]=""
      [isSubAppMapping]="false"
      [warningMessage]="'Invoice processing is delayed '"
      [columnsToFilter]="postInvoicingFilters"
      [detailsColumnsToHide]="[]"
      [submitKeysToMap]="[]"
      [webexKeysToMap]="[]"
    ></app-monitoring-dashboard>
  </mat-tab>
</mat-tab-group>
