<div class="grid-1 container">
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: -36px;
    "
  >
    <p class="section-title">SBP Summary</p>
    <div style="display: flex; gap: 1vh">
      <i
        (click)="
          exportTableToExcel(
            sbpSummaryData.data,
            'SBP Summary Data',
            'SBP_Summary_Data'
          )
        "
        class="fa fa-download"
      ></i>
    </div>
  </div>

  <div style="margin-top: 1vh">
    <ng-container *ngIf="sbpSummaryData?.data?.length">
      <div style="overflow-x: auto">
        <table mat-table [dataSource]="sbpSummaryData" style="width: 100%">
          <ng-container *ngFor="let column of summaryColumns">
            <ng-container [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef>
                {{ replaceUnderscore(column) }}
              </th>

              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="{ 'clickable-cell': element[column] !== null }"
                (click)="
                  element[column] !== null &&
                    filterDetails(element['ENTITY'], column)
                "
              >
                <!-- If column is OPERATING_UNIT, remove underscores in data -->
                <ng-container
                  *ngIf="column === 'OPERATING_UNIT'; else defaultCell"
                >
                  {{ replaceUnderscore(element[column]) }}
                </ng-container>
                <ng-template #defaultCell>
                  {{ element[column] }}
                </ng-template>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="summaryColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: summaryColumns"></tr>
        </table>
      </div>
    </ng-container>
    <ng-container *ngIf="summaryLoading">
      <div class="loading-container">
        <app-loading-symbol></app-loading-symbol>
        <br /><br /><br />
      </div>
    </ng-container>
  </div>
</div>

<div class="grid-1 container">
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: -36px;
    "
  >
    <p class="section-title">SBP Details</p>
    <div style="display: flex; gap: 1vh">
      <i
        (click)="
          exportTableToExcel(
            sbpDetailsData.data,
            'SBP Details Data',
            'SBP Details Data'
          )
        "
        class="fa fa-download"
      ></i>
    </div>
  </div>

  <div style="margin-top: 1vh">
    <ng-container *ngIf="sbpDetailsData?.data?.length">
      <div style="overflow-x: auto">
        <table mat-table [dataSource]="sbpDetailsData" style="width: 100%">
          <ng-container *ngFor="let column of detailsColumns">
            <ng-container [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef>
                {{ replaceUnderscore(column) }}
              </th>

              <td mat-cell *matCellDef="let element">
                <!-- If column is OPERATING_UNIT, remove underscores in data -->
                <ng-container
                  *ngIf="column === 'OPERATING_UNIT'; else defaultCell"
                >
                  {{ replaceUnderscore(element[column]) }}
                </ng-container>
                <ng-template #defaultCell>
                  {{ element[column] }}
                </ng-template>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="detailsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: detailsColumns"></tr>
        </table>
      </div>
    </ng-container>
    <ng-container *ngIf="detailsLoading">
      <div class="loading-container">
        <app-loading-symbol></app-loading-symbol>
        <br /><br /><br />
      </div>
    </ng-container>
    <ng-container *ngIf="!sbpDetailsData?.data?.length && !detailsLoading">
      <div class="loading-container">
        <div class="card-subtitle">No Data to Display</div>
        <br /><br /><br />
      </div>
    </ng-container>
  </div>
</div>
<br /><br /><br />
