@import "src/assets/o2c-common-styles.css";

.toggle-button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #3d3d3d;
  cursor: pointer;
  margin-left: 10px;
}

.toggle-button:hover {
  color: #3f3f3f;
  text-decoration: none;
}

.show-more-container {
  text-align: right;
  margin-top: 10px;
}

.show-more-button {
  color: rgb(60, 60, 60);
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.show-more-button:hover {
  background-color: #efefef;
}
