<app-o2c-nav></app-o2c-nav>

<app-o2c-process-flow
  [circleStatus]="circleStatus"
  [navigationMap]="navigationMap"
></app-o2c-process-flow>

<div class="o2c-rows" style="margin-top: -24px">
  <!-- Order Section -->
  <div class="section-title expander-margin">
    <button class="toggle-button" (click)="toggleSection('order')">
      {{ expandedSections["order"] ? "-" : "+" }}
    </button>
    Order Summary
  </div>
  <app-o2c-table
    [displayedColumns]="displayedColumnsOrder"
    [dataSource]="dataSourceOrder"
    [wideColumns]="['Offer_Name']"
    [navigationMap]="navigationMap"
    tableType="header"
    class="header-table"
  ></app-o2c-table>
  <app-o2c-table
    [displayedColumns]="displayedColumnsOrder2"
    [dataSource]="dataSourceOrder"
    [wideColumns]="['Bill-To', 'End_Customer']"
    [navigationMap]="navigationMap"
    tableType="header"
    class="header-table"
    style="margin-top: -14px"
  ></app-o2c-table>

  <div
    [@expandCollapse]="expandedSections['order'] ? 'expanded' : 'collapsed'"
    style="overflow-x: auto"
  >
    <div class="section-title">Order Details</div>
    <app-o2c-table
      [displayedColumns]="displayedColumnsOrderDetails"
      [dataSource]="dataSourceOrderDetails"
      [wideColumns]="['']"
      [navigationMap]="navigationMap"
      tableType="body"
    ></app-o2c-table>
  </div>

  <!-- SUBSCRIPTION SECTION1 -->
  <div class="section-title expander-margin">
    <button class="toggle-button" (click)="toggleSection('subscription')">
      {{ expandedSections["subscription"] ? "-" : "+" }}
    </button>
    Subscription Summary

    <a href="https://ccrc.cisco.com/subscriptions/detail/Sub1797786"
      >Sub1797786</a
    >
  </div>
  <app-o2c-table
    [displayedColumns]="displayedColumnsSubscription"
    [dataSource]="dataSourceSubscription"
    [wideColumns]="['']"
    [navigationMap]="navigationMap"
    tableType="header"
    class="header-table"
  ></app-o2c-table>

  <div
    [@expandCollapse]="
      expandedSections['subscription'] ? 'expanded' : 'collapsed'
    "
    style="overflow-x: auto"
  >
    <div class="section-title">Subscription Details</div>
    <app-o2c-table
      [displayedColumns]="displayedColumnsSubscriptionDetails"
      [dataSource]="dataSourceSubscriptionDetails"
      [wideColumns]="['SKU_Description', 'Bill_Line_Reference']"
      [navigationMap]="navigationMap"
      tableType="body"
      style="margin-top: -14px"
    ></app-o2c-table>
    <app-o2c-table
      [displayedColumns]="displayedColumnsAccrualDetails"
      [dataSource]="dataSourceAccrualDetails"
      [wideColumns]="['']"
      [navigationMap]="navigationMap"
      tableType="body"
    ></app-o2c-table>

    <div style="margin-top: 16px">
      <app-o2c-table
        [displayedColumns]="displayedColumnsSubscriptionDetails"
        [dataSource]="dataSourceSubscriptionDetails1"
        [wideColumns]="['SKU_Description', 'Bill_Line_Reference']"
        [navigationMap]="navigationMap"
        tableType="header"
      ></app-o2c-table>
      <app-o2c-table
        [displayedColumns]="displayedColumnsAccrualDetails"
        [dataSource]="dataSourceAccrualDetails1"
        [wideColumns]="['']"
        [navigationMap]="navigationMap"
        tableType="header"
      ></app-o2c-table>
    </div>
  </div>

  <!-- SUBSCRIPTION SECTION 2 -->
  <div class="section-title expander-margin">
    <button class="toggle-button" (click)="toggleSection('subscription2')">
      {{ expandedSections["subscription2"] ? "-" : "+" }}
    </button>
    Subscription Summary
    <a href="https://ccrc.cisco.com/subscriptions/detail/Sub1797787"
      >Sub1797787</a
    >
  </div>
  <app-o2c-table
    [displayedColumns]="displayedColumnsSubscription"
    [dataSource]="dataSourceSubscription2"
    [wideColumns]="['']"
    [navigationMap]="navigationMap"
    tableType="header"
    class="header-table"
  ></app-o2c-table>

  <div
    [@expandCollapse]="
      expandedSections['subscription2'] ? 'expanded' : 'collapsed'
    "
    style="overflow-x: auto"
  >
    <div class="section-title">Subscription Details</div>
    <app-o2c-table
      [displayedColumns]="displayedColumnsSubscriptionDetails"
      [dataSource]="dataSourceSubscriptionDetails2"
      [wideColumns]="['SKU_Description', 'Bill_Line_Reference']"
      [navigationMap]="navigationMap"
      tableType="body"
      style="margin-top: -14px"
    ></app-o2c-table>

    <app-o2c-table
      [displayedColumns]="displayedColumnsAccrualDetails"
      [dataSource]="dataSourceAccrualDetails2"
      [wideColumns]="['']"
      [navigationMap]="navigationMap"
      tableType="body"
    ></app-o2c-table>

    <div style="margin-top: 16px">
      <app-o2c-table
        [displayedColumns]="displayedColumnsSubscriptionDetails"
        [dataSource]="dataSourceSubscriptionDetails3"
        [wideColumns]="['SKU_Description', 'Bill_Line_Reference']"
        [navigationMap]="navigationMap"
        tableType="header"
      ></app-o2c-table>
      <app-o2c-table
        [displayedColumns]="displayedColumnsAccrualDetails"
        [dataSource]="dataSourceAccrualDetails3"
        [wideColumns]="['']"
        [navigationMap]="navigationMap"
        tableType="header"
      ></app-o2c-table>
    </div>
  </div>

  <!-- ACCRUAL SECTION -->
  <!-- <div class="section-title expander-margin">
    <button class="toggle-button" (click)="toggleSection('accrual')">
      {{ expandedSections["accrual"] ? "-" : "+" }}
    </button>
    Accrual Summary 4910686
  </div>
  <app-o2c-table
    [displayedColumns]="displayedColumnsAccrual"
    [dataSource]="dataSourceAccrual"
    [wideColumns]="['']"
    [navigationMap]="navigationMap"
    tableType="header"
    class="header-table"
  ></app-o2c-table>

  <div
    [@expandCollapse]="expandedSections['accrual'] ? 'expanded' : 'collapsed'"
    style="overflow-x: auto"
  >
    <div class="section-title">Accrual Details</div>
    <app-o2c-table
      [displayedColumns]="displayedColumnsAccrualDetails"
      [dataSource]="dataSourceAccrualDetails"
      [wideColumns]="['']"
      [navigationMap]="navigationMap"
      tableType="body"
    ></app-o2c-table>
  </div> -->

  <!-- ACCRUAL SECTION2 -->
  <!-- <div class="section-title expander-margin">
    <button class="toggle-button" (click)="toggleSection('accrual2')">
      {{ expandedSections["accrual2"] ? "-" : "+" }}
    </button>
    Accrual Summary 4910695
  </div>
  <app-o2c-table
    [displayedColumns]="displayedColumnsAccrual"
    [dataSource]="dataSourceAccrual2"
    [wideColumns]="['']"
    [navigationMap]="navigationMap"
    tableType="header"
    class="header-table"
  ></app-o2c-table>

  <div
    [@expandCollapse]="expandedSections['accrual2'] ? 'expanded' : 'collapsed'"
    style="overflow-x: auto"
  >
    <div class="section-title">Accrual Details</div>
    <app-o2c-table
      [displayedColumns]="displayedColumnsAccrualDetails"
      [dataSource]="dataSourceAccrualDetails2"
      [wideColumns]="['']"
      [navigationMap]="navigationMap"
      tableType="body"
    ></app-o2c-table>
  </div> -->

  <!-- Invoicing Section -->
  <div class="section-title expander-margin">
    <button class="toggle-button" (click)="toggleSection('invoicing')">
      {{ expandedSections["invoicing"] ? "-" : "+" }}
    </button>
    Invoice Summary
  </div>

  <!-- Main Invoicing Summary Table -->
  <app-o2c-table
    [displayedColumns]="displayedColumnsInvoicing"
    [dataSource]="dataSourceInvoicing"
    [wideColumns]="['Invoice_ID']"
    [navigationMap]="navigationMap"
    tableType="header"
    class="header-table"
  ></app-o2c-table>

  <!-- Show More Summary Lines Button -->
  <div class="show-more-container">
    <button class="show-more-button" (click)="toggleSection('summary')">
      {{ showMoreSummary ? "Show Less" : "Invoice Summary Additional Info" }}
    </button>
  </div>

  <!-- Additional Summary Tables (Animated) -->
  <div
    [@expandCollapse]="showMoreSummary ? 'expanded' : 'collapsed'"
    style="overflow-x: auto"
  >
    <div class="section-title">Print & Deliver</div>
    <app-o2c-table
      [displayedColumns]="displayedColumnsInvoicing2"
      [dataSource]="dataSourceInvoicing2"
      [wideColumns]="['Invoice_ID']"
      [navigationMap]="navigationMap"
      tableType="header"
    ></app-o2c-table>

    <div class="section-title">E-Invoice Status</div>
    <app-o2c-table
      [displayedColumns]="displayedColumnsInvoicing3"
      [dataSource]="dataSourceInvoicing3"
      [wideColumns]="['Invoice_ID']"
      [navigationMap]="navigationMap"
      tableType="header"
    ></app-o2c-table>

    <div class="section-title">Cash Apps</div>

    <app-o2c-table
      [displayedColumns]="displayedColumnsInvoicing1"
      [dataSource]="dataSourceInvoicing"
      [wideColumns]="['Invoice_ID']"
      [navigationMap]="navigationMap"
      tableType="header"
    ></app-o2c-table>
  </div>

  <!-- Invoice Breakdown Section (Animated) -->
  <div
    [@expandCollapse]="expandedSections['invoicing'] ? 'expanded' : 'collapsed'"
    style="overflow-x: auto"
  >
    <div class="section-title">Invoice Details</div>

    <!-- Main Detail Table -->
    <app-o2c-table
      [displayedColumns]="displayedColumnsInvoicingDetails"
      [dataSource]="dataSourceInvoicingDetails"
      [wideColumns]="['SKU_Description']"
      [navigationMap]="navigationMap"
      tableType="body"
    ></app-o2c-table>
    <app-o2c-table
      [displayedColumns]="displayedColumnsInvoicingDetails2"
      [dataSource]="dataSourceInvoicingDetails00"
      [wideColumns]="['Bill_Line_Number']"
      [navigationMap]="navigationMap"
      tableType="body"
    ></app-o2c-table>

    <div style="margin-top: 16px">
      <app-o2c-table
        [displayedColumns]="displayedColumnsInvoicingDetails"
        [dataSource]="dataSourceInvoicingDetails1"
        [wideColumns]="['SKU_Description']"
        [navigationMap]="navigationMap"
        tableType="header"
      ></app-o2c-table>
      <app-o2c-table
        [displayedColumns]="displayedColumnsInvoicingDetails2"
        [dataSource]="dataSourceInvoicingDetails11"
        [wideColumns]="['Bill_Line_Number']"
        [navigationMap]="navigationMap"
        tableType="header"
      ></app-o2c-table>
    </div>

    <div style="margin-top: 16px">
      <app-o2c-table
        [displayedColumns]="displayedColumnsInvoicingDetails"
        [dataSource]="dataSourceInvoicingDetails2"
        [wideColumns]="['SKU_Description']"
        [navigationMap]="navigationMap"
        tableType="body"
      ></app-o2c-table>
      <app-o2c-table
        [displayedColumns]="displayedColumnsInvoicingDetails2"
        [dataSource]="dataSourceInvoicingDetails22"
        [wideColumns]="['Bill_Line_Number']"
        [navigationMap]="navigationMap"
        tableType="body"
      ></app-o2c-table>
    </div>

    <div style="margin-top: 16px">
      <app-o2c-table
        [displayedColumns]="displayedColumnsInvoicingDetails"
        [dataSource]="dataSourceInvoicingDetails3"
        [wideColumns]="['SKU_Description']"
        [navigationMap]="navigationMap"
        tableType="header"
      ></app-o2c-table>
      <app-o2c-table
        [displayedColumns]="displayedColumnsInvoicingDetails2"
        [dataSource]="dataSourceInvoicingDetails33"
        [wideColumns]="['Bill_Line_Number']"
        [navigationMap]="navigationMap"
        tableType="header"
      ></app-o2c-table>
    </div>

    <!-- Show More Detail Lines Button -->
    <!-- <div class="show-more-container">
      <button class="show-more-button" (click)="toggleSection('details')">
        {{ showMoreDetails ? "Show Less" : "Show More Detail Lines" }}
      </button>
    </div> -->

    <!-- Additional Breakdown Detail Tables (Animated) -->
    <!-- <div [@expandCollapse]="showMoreDetails ? 'expanded' : 'collapsed'">
      <app-o2c-table
        [displayedColumns]="displayedColumnsInvoicingDetails2"
        [dataSource]="dataSourceInvoicingDetails2"
        [wideColumns]="['Bill_Line_Number']"
        [navigationMap]="navigationMap"
        tableType="body"
      ></app-o2c-table>
    </div> -->
  </div>
</div>
