@import "src/assets/o2c-common-styles.css";

.expander-container {
  display: flex;
  align-items: flex-end; /* Align the +/- button with the table */
  gap: 8px; /* Space between button and table */
  margin-left: -31px;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  height: 22px;
  line-height: 22px;
  z-index: 1;
}

.toggle-button:hover {
  color: #3f3f3f;
  text-decoration: none;
}

.show-more-container {
  text-align: left;
}

.show-more-button {
  color: #227bb1;
  /* padding: 6px 12px; */
  margin-top: -6px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  background-color: #fff;
}

.show-more-button:hover {
  /* background-color: #efefef; */
}
