<div class="table-header">
  <p class="section-title">{{ title }}</p>
  @if (exportFileName) {
    <div class="table-links">
      <i (click)="exportTableToExcel()" class="svg-icon download-icon"></i>
    </div>
  }
</div>

<div style="margin-top: 1vh">
  @if (dataSource?.data?.length > 0) {
    <div style="overflow-x: auto">
      <table mat-table [dataSource]="dataSource" style="width: 100%">
        @for (column of displayedColumns; track column) {
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>
              {{ column | titleCaseWithExceptions }}
            </th>
            <td mat-cell *matCellDef="let element">
              @if (
                column.includes('TIME') || column.includes('DATE')) {
                {{ element[column] | date : "MM/dd/yy" }}
              } @else {
                @if (column.includes('%')) {
                  @if (element[column] < 0) {
                    <span style="color: #b02863">
                      ▼ {{ element[column] }}%
                    </span>
                  }
                  @if (element[column] >= 0) {
                    <span style="color: black">
                      ▲ {{ element[column] }}%
                    </span>
                  }
                } @else {
                  {{ element[column] }}
                }
              }
            </td>
          </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  }
  @if (!dataSource?.data?.length) {
    <div class="loading-container">
      <app-loading-symbol></app-loading-symbol>
    </div>
  }
</div>
