<div class="table-header">
  <p class="section-title">{{ title }}</p>
  <div class="table-links" *ngIf="exportFileName">
    <i (click)="exportTableToExcel()" class="svg-icon download-icon"></i>
  </div>
</div>

<div style="margin-top: 1vh">
  <ng-container *ngIf="dataSource?.data?.length > 0">
    <div style="overflow-x: auto">
      <table mat-table [dataSource]="dataSource" style="width: 100%">
        <ng-container *ngFor="let column of displayedColumns">
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>
              {{ column | titleCaseWithExceptions }}
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container
                *ngIf="
                  column.includes('TIME') || column.includes('DATE');
                  else percentCheck
                "
              >
                {{ element[column] | date : "MM/dd/yy" }}
              </ng-container>
              <ng-template #percentCheck>
                <ng-container *ngIf="column.includes('%'); else defaultCell">
                  <span *ngIf="element[column] < 0" style="color: #b02863">
                    ▼ {{ element[column] }}%
                  </span>
                  <span *ngIf="element[column] >= 0" style="color: black">
                    ▲ {{ element[column] }}%
                  </span>
                </ng-container>
              </ng-template>
              <ng-template #defaultCell>{{ element[column] }}</ng-template>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </ng-container>
  <ng-container *ngIf="!dataSource?.data?.length">
    <div class="loading-container">
      <app-loading-symbol></app-loading-symbol>
    </div>
  </ng-container>
</div>
