<ng-template #processToolTip>
  <div class="flowchart-container">
    <br />
    <div class="slider">
      <div class="slider-bar">
        <!-- Circle 1 -->
        <div class="circle-wrapper circle-wrapper-1">
          <p class="circle-caption">1. Interface</p>
          <span class="circle circle-1"></span>
          <!-- <p class="circle-subcaption">XXCFIR_REV_INTERFACE_ALL</p> -->
          <p class="circle-subcaption">Total Impact: $4,874.92</p>
        </div>

        <!-- Chevron 1 -->
        <div class="chevron chevron-1"></div>
        <div class="chevron-white chevron-1"></div>

        <!-- Circle 2 -->
        <div class="circle-wrapper circle-wrapper-2">
          <p class="circle-caption">2. Extraction</p>
          <span class="circle circle-2"></span>
          <!-- <p class="circle-subcaption">XXCFIR_REVENUE_EXTRACT_ALL</p> -->
          <p class="circle-subcaption">Total Impact: $-9,572.55</p>
        </div>

        <!-- Chevron 2 -->
        <div class="chevron chevron-2"></div>
        <div class="chevron-white chevron-2"></div>

        <!-- Circle 3 -->
        <div class="circle-wrapper circle-wrapper-3">
          <p class="circle-caption">3. Distribution</p>
          <span class="circle circle-3"></span>
          <!-- <p class="circle-subcaption">XXCFIR_REVENUEU_DIST_ALL</p> -->
        </div>

        <!-- Chevron 3 -->
        <div class="chevron chevron-3"></div>
        <div class="chevron-white chevron-3"></div>

        <!-- Circle 4 -->
        <div class="circle-wrapper circle-wrapper-4">
          <p class="circle-caption">4. Summarization</p>
          <span class="circle circle-4"></span>
          <!-- <p class="circle-subcaption">XXCFIR_ROL_XLA_SUMMARY</p> -->
        </div>

        <!-- Chevron 4 -->
        <div class="chevron chevron-4"></div>
        <div class="chevron-white chevron-4"></div>

        <!-- Circle 5 -->
        <div class="circle-wrapper circle-wrapper-5">
          <p class="circle-caption">5. SLA</p>
          <span class="circle circle-5"></span>
          <!-- <p class="circle-subcaption">XLA_AE_HEADERS</p> -->
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-8"> -->
<!-- ROL Error Summary Data Section (Right) -->
<div
  style="
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(150px, auto);
    gap: 1.2rem;
    padding-top: 1.2rem;
  "
>
  <!-- Chart Container -->
  <div
    class="container chart-container"
    style="padding: 8px 12px 36px 12px; max-height: 20vh; overflow: hidden"
  >
    <h5 class="section-title">Historical Error Trend</h5>
    <canvas id="historicalErrorTrend"></canvas>
  </div>

  <div class="container rol-error-summary-container">
    <div class="header-container">
      <h5 class="section-title">ROL Errors Summary</h5>
      <div *ngIf="selection.hasValue()">
        <button
          mat-stroked-button
          (click)="viewDetails()"
          style="display: flex !important"
        >
          Assign User
        </button>
      </div>
      <div style="font-size: small">
        <span><b>Period name:</b> {{ periodName }}</span> &nbsp;|&nbsp;
        <span><b>Period end date:</b> {{ periodEnd }}</span>
      </div>

      <div class="action-buttons">
        <button
          mat-icon-button
          (click)="
            exportTableToExcel(
              rolErrorSummaryData.data,
              'ROL Error Summary Data',
              'ROL_Error_Summary_Data'
            )
          "
        >
          <i class="fa fa-download"></i>
        </button>
      </div>
    </div>

    <ng-container *ngIf="rolErrorSummaryData?.data?.length">
      <div class="table-container" style="overflow-y: hidden !important">
        <table
          mat-table
          [dataSource]="rolErrorSummaryData"
          class="custom-table table-responsive"
        >
          <ng-container
            matColumnDef="select"
            style="padding-top: 10px !important"
          >
            <th mat-header-cell *matHeaderCellDef>
              <!-- <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox> -->
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container *ngFor="let column of rolErrorColumns">
            <ng-container [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef class="no-wrap">
                <ng-container *ngIf="column === 'PROCESS_FLOW'; else noTooltip">
                  <span
                    [customToolTip]="column === 'PROCESS_FLOW' ? 'true' : ''"
                    [contentTemplate]="
                      column === 'PROCESS_FLOW' ? processToolTip : null
                    "
                  >
                    {{ replaceUnderscore(column) }}
                  </span>
                </ng-container>
                <ng-template #noTooltip>
                  {{ replaceUnderscore(column) }}
                </ng-template>
              </th>

              <td mat-cell *matCellDef="let element">
                <ng-container [ngSwitch]="column">
                  <ng-container *ngSwitchCase="'PROCESS_FLOW'">
                    {{ subAppMapping(element[column]) }}
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ element[column] }}
                  </ng-container>
                </ng-container>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="rolErrorDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: rolErrorDisplayedColumns"
          ></tr>
        </table>
      </div>
    </ng-container>

    <ng-container *ngIf="!rolErrorSummaryData?.data?.length">
      <div class="loading-container">
        <app-loading-symbol></app-loading-symbol>
        <br /><br /><br />
      </div>
    </ng-container>
  </div>
</div>
<!-- </div>
</div> -->

<!-- ROL Transaction Data Section -->
<div class="container">
  <div class="header-container">
    <h5 class="section-title">ROL Transaction Details</h5>
    <div class="action-buttons">
      <button
        mat-icon-button
        (click)="
          exportTableToExcel(
            dataSource.data,
            'ROL Transaction Data',
            'ROL_Transaction_Data'
          )
        "
      >
        <i class="fa fa-download"></i>
      </button>
    </div>
  </div>

  <ng-container *ngIf="!isLoading && dataSource?.data?.length > 0">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="custom-table">
        <ng-container *ngFor="let column of displayedColumns">
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef class="no-wrap">
              {{ replaceUnderscore(column) }}
            </th>

            <td
              mat-cell
              *matCellDef="let element"
              [class.error-message-cell]="column === 'error_MESSAGE'"
              [class.no-wrap]="column === 'application_NAME'"
            >
              <ng-container [ngSwitch]="column">
                <ng-container *ngSwitchCase="'sub_APPLICATION'">
                  {{ subAppMapping(element[column]) }}
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ element[column] }}
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </ng-container>

  <ng-container *ngIf="isLoading">
    <div class="loading-container">
      <app-loading-symbol></app-loading-symbol>
      <div class="circle-subcaption">
        This usually takes around 30 seconds to load. Please wait.
      </div>
      <br /><br /><br />
    </div>
  </ng-container>

  <mat-paginator
    [pageSize]="20"
    length="totalRecords"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  ></mat-paginator>
</div>

<!-- <div class="widget-tray">
  <div class="callout-box callout-box-widget">
    <div class="box-header">Applications Monitored</div>
    <div class="box-body">
      <li>
        <ul>
          Cisco Offer Attribution
        </ul>
        <ul>
          Cisco NAT Adjustments
        </ul>
        <ul>
          Cisco Manual Adjustments
        </ul>
        <ul>
          Revenue Attribution
        </ul>
        <ul>
          Cisco Partner Rebates
        </ul>
        <ul>
          Cisco Service Rebates
        </ul>
        <ul>
          Cisco Open RMA
        </ul>
        <ul>
          Cisco Two Tier
        </ul>
        <ul>
          Cisco Residual Adjustments
        </ul>
      </li>
    </div>
  </div>
</div> -->

<br /><br /><br />
