<app-assign-dialog
  *ngIf="isModalOpen"
  [data]="selectedSummaryData"
  (close)="closeAssignModal($event)"
></app-assign-dialog>

<ng-template #processToolTip>
  <div class="flowchart-container">
    <br />
    <div class="slider">
      <div class="slider-bar">
        <!-- Circle 1 -->
        <div class="circle-wrapper circle-wrapper-1">
          <p class="circle-caption">1. Interface</p>
          <span class="circle circle-1"></span>
          <p class="circle-subcaption">
            Total Impact: {{ processFlowTotals["XXCFIR_REV_INTERFACE_ALL"] }}
          </p>
        </div>

        <!-- Chevron 1 -->
        <div class="chevron chevron-1"></div>
        <div class="chevron-white chevron-1"></div>

        <!-- Circle 2 -->
        <div class="circle-wrapper circle-wrapper-2">
          <p class="circle-caption">2. Extraction</p>
          <span class="circle circle-2"></span>
          <p class="circle-subcaption">
            Total Impact: {{ processFlowTotals["XXCFIR_REVENUE_EXTRACT_ALL"] }}
          </p>
        </div>

        <!-- Chevron 2 -->
        <div class="chevron chevron-2"></div>
        <div class="chevron-white chevron-2"></div>

        <!-- Circle 3 -->
        <div class="circle-wrapper circle-wrapper-3">
          <p class="circle-caption">3. Distribution</p>
          <span class="circle circle-3"></span>
          <p class="circle-subcaption">
            Total Impact:
            {{ processFlowTotals["XXCFIR_REVENUE_DIST_ALL"] || "N/A" }}
          </p>
        </div>

        <!-- Chevron 3 -->
        <div class="chevron chevron-3"></div>
        <div class="chevron-white chevron-3"></div>

        <!-- Circle 4 -->
        <div class="circle-wrapper circle-wrapper-4">
          <p class="circle-caption">4. Summarization</p>
          <span class="circle circle-4"></span>
          <p class="circle-subcaption">
            Total Impact:
            {{ processFlowTotals["XXCFIR_ROL_XLA_SUMMARY"] || "N/A" }}
          </p>
        </div>

        <!-- Chevron 4 -->
        <div class="chevron chevron-4"></div>
        <div class="chevron-white chevron-4"></div>

        <!-- Circle 5 -->
        <div class="circle-wrapper circle-wrapper-5">
          <p class="circle-caption">5. SLA</p>
          <span class="circle circle-5"></span>
          <p class="circle-subcaption">
            Total Impact: {{ processFlowTotals["XLA_AE_HEADERS"] || "N/A" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="modal-overlay" *ngIf="openChartModal" (click)="closeModal()">
  <div
    class="callout-box"
    style="width: fit-content; padding: 0"
    (click)="$event.stopPropagation()"
  >
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      "
    >
      <h4 style="font-weight: 600; padding: 1.7vh 1.5vh 0vh 1.6vh">
        Historical Error Trends
      </h4>
      <button mat-icon-button (click)="closeModal()">
        <i class="svg-icon close-icon"></i>
      </button>
    </div>
    <div class="modal-body">
      <canvas style="z-index: 20" id="historicalErrorTrend"></canvas>
      <app-loading-symbol *ngIf="chartLoading"></app-loading-symbol>
    </div>
  </div>
</div>

<!-- ROL Error Summary Data Section (Right) -->
<div>
  <div class="container rol-error-summary-container">
    <div class="header-container">
      <h5 class="section-title action-buttons">
        ROL Errors Summary

        <span class="action-buttons" *ngIf="selection.hasValue()">
          &nbsp;&nbsp;
          <button
            class="custom-button-primary"
            (click)="viewTransactionDetails()"
          >
            View Details
          </button>
          &nbsp;&nbsp;
          <button class="custom-button-primary" (click)="viewDetails()">
            Assign User
          </button>
        </span>
      </h5>

      <div class="action-buttons">
        <div
          style="
            font-size: 12px;
            padding: 5px 0vw 0 0;
            display: flex;
            flex-direction: column;
          "
        >
          <div style="display: flex">
            <span><b>Period name:</b> {{ periodName }}</span> &nbsp;|&nbsp;
            <span><b>Period end date:</b> {{ periodEnd }}</span>
          </div>
          <p
            class="card-subtitle"
            style="
              margin: 0px 0px 0 0;
              font-size: 12px;
              display: flex;
              justify-content: flex-end;
            "
          >
            {{ summaryLoadTime }}
          </p>
        </div>
        <div style="display: flex; margin: 0vw 0vw 0 0">
          <!-- <p
            class="card-subtitle"
            style="padding: 0.9vw 0vw 0 0; font-size: 12px"
          >
            {{ summaryLoadTime }}
          </p> -->
          <button mat-icon-button (click)="getRolErrorSummaryData()">
            <i class="svg-icon refresh-icon"></i>
          </button>
        </div>
        <button mat-icon-button (click)="openChart()">
          <i class="svg-icon chart-icon"></i>
        </button>
        <button
          mat-icon-button
          (click)="
            exportTableToExcel(
              rolErrorSummaryData.data,
              'ROL Error Summary Data',
              'ROL_Error_Summary_Data'
            )
          "
        >
          <i class="svg-icon download-icon"></i>
        </button>
      </div>
    </div>

    <ng-container *ngIf="rolErrorSummaryData?.data?.length">
      <div class="table-container" style="overflow-y: hidden !important">
        <table
          mat-table
          [dataSource]="rolErrorSummaryData"
          class="custom-table table-responsive"
        >
          <ng-container
            matColumnDef="select"
            style="padding-top: 10px !important"
          >
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="onRowSelectionChange($event, row)"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container *ngFor="let column of rolErrorColumns">
            <ng-container [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef class="no-wrap">
                <ng-container *ngIf="column === 'PROCESS_FLOW'; else noTooltip">
                  <span
                    [customToolTip]="column === 'PROCESS_FLOW' ? 'true' : ''"
                    [contentTemplate]="
                      column === 'PROCESS_FLOW' ? processToolTip : null
                    "
                  >
                    {{ replaceUnderscore(column) }}
                  </span>
                </ng-container>
                <ng-template #noTooltip>
                  {{ replaceUnderscore(column) }}
                </ng-template>
              </th>

              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="{ highlight: element.PERIOD_NAME !== periodName }"
              >
                <ng-container [ngSwitch]="column">
                  <ng-container *ngSwitchCase="'PROCESS_FLOW'">
                    {{ subAppMapping(element[column]) }}
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ element[column] }}
                  </ng-container>
                </ng-container>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="rolErrorDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: rolErrorDisplayedColumns"
          ></tr>
        </table>
      </div>
    </ng-container>

    <ng-container *ngIf="!rolErrorSummaryData?.data?.length">
      <div class="loading-container">
        <app-loading-symbol></app-loading-symbol>
        <br /><br /><br />
      </div>
    </ng-container>

    <!-- <ng-container
        *ngIf="!rolErrorSummaryData?.data?.length && !summaryLoading"
      >
        <div class="loading-container">
          <div class="card-subtitle">No Data to Display</div>
          <br /><br /><br />
        </div>
      </ng-container> -->
  </div>
</div>

<!-- ROL Transaction Data Section -->
<div class="container">
  <div class="header-container">
    <h5 class="section-title">ROL Transaction Details</h5>
    <div class="action-buttons">
      <button
        mat-icon-button
        (click)="
          exportTableToExcel(
            dataSource.data,
            'ROL Transaction Data',
            'ROL_Transaction_Data'
          )
        "
      >
        <i class="svg-icon download-icon"></i>
      </button>
    </div>
  </div>

  <ng-container
    *ngIf="
      !isLoading &&
      (isFiltered
        ? filtereddataSource?.data?.length > 0
        : dataSource?.data?.length > 0)
    "
  >
    <div class="table-container">
      <table
        mat-table
        [dataSource]="isFiltered ? filtereddataSource : dataSource"
        class="custom-table"
      >
        <ng-container *ngFor="let column of displayedColumns">
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef class="no-wrap">
              {{ replaceUnderscore(column) }}
            </th>

            <td
              mat-cell
              *matCellDef="let element"
              [class.error-message-cell]="column === 'error_MESSAGE'"
              [class.no-wrap]="column === 'application_NAME'"
            >
              <ng-container [ngSwitch]="column">
                <ng-container *ngSwitchCase="'process_FLOW'">
                  {{ subAppMapping(element[column]) }}
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ element[column] }}
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </ng-container>

  <ng-container *ngIf="isLoading">
    <div class="loading-container">
      <app-loading-symbol></app-loading-symbol>
      <div class="circle-subcaption"></div>
      <br /><br /><br />
    </div>
  </ng-container>

  <ng-container *ngIf="!dataSource?.data?.length && !isLoading">
    <div class="loading-container">
      <div class="card-subtitle">No Data to Display</div>
      <br /><br /><br />
    </div>
  </ng-container>

  <mat-paginator
    [pageSize]="20"
    length="totalRecords"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  ></mat-paginator>
</div>

<!-- <div class="widget-tray">
  <div class="callout-box callout-box-widget">
    <div class="box-header">Applications Monitored</div>
    <div class="box-body">
      <li>
        <ul>
          Cisco Offer Attribution
        </ul>
        <ul>
          Cisco NAT Adjustments
        </ul>
        <ul>
          Cisco Manual Adjustments
        </ul>
        <ul>
          Revenue Attribution
        </ul>
        <ul>
          Cisco Partner Rebates
        </ul>
        <ul>
          Cisco Service Rebates
        </ul>
        <ul>
          Cisco Open RMA
        </ul>
        <ul>
          Cisco Two Tier
        </ul>
        <ul>
          Cisco Residual Adjustments
        </ul>
      </li>
    </div>
  </div>
</div> -->

<br /><br /><br />
<!-- </div>
</div> -->
