<app-o2c-nav></app-o2c-nav>

<div class="flowchart-container">
  <div class="slider-bar">
    <div
      *ngFor="let step of circleSteps; let i = index"
      [ngStyle]="getSliderBarStyle(i)"
    >
      <div class="circle-wrapper-loop" (click)="navigateToStep(step)">
        <p class="circle-caption-loop">{{ removeUnderscores(step) }}</p>
        <p class="circle-loop" [ngClass]="getCircleClass(step)"></p>
      </div>

      <div *ngIf="i < circleSteps.length - 1" class="chevron-wrapper-loop">
        <div class="chevron"></div>
        <div class="chevron-white"></div>
      </div>
    </div>
  </div>
</div>

<div
  class="grid-1"
  style="display: grid; gap: 1.2rem; padding-top: 1.2rem; margin: 1rem 5rem"
>
  <div class="section-title">Subscription Details</div>

  <div class="header-table" style="border-top: solid 1px #e0e0e0">
    <table
      mat-table
      [dataSource]="dataSourceSummary"
      class="gridded-table"
      style="border-bottom: 1px solid #e0e0e0"
    >
      <ng-container *ngFor="let column of displayedColumnsSummary">
        <ng-container [matColumnDef]="column">
          <!-- Header Row -->
          <th mat-header-cell *matHeaderCellDef>
            {{ removeUnderscores(column) }}
          </th>

          <!-- Data Row -->
          <td mat-cell *matCellDef="let element">
            {{ element[column] }}
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsSummary"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSummary"></tr>
    </table>
  </div>

  <div class="section-title">Subscription Line Details</div>
  <div class="card">
    <table
      mat-table
      [dataSource]="dataSourceLineSummary"
      class="header-card table table-condensed gridded-table"
    >
      <ng-container *ngFor="let column of displayedColumnsLineSummary">
        <ng-container [matColumnDef]="column">
          <th
            mat-header-cell
            *matHeaderCellDef
            [ngClass]="{
              'no-border-left': column === displayedColumnsLineSummary[0],
              'no-border-right':
                column ===
                displayedColumnsLineSummary[
                  displayedColumnsLineSummary.length - 1
                ]
            }"
          >
            {{ removeUnderscores(column) }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element[column] }}
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsLineSummary"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsLineSummary"
      ></tr>
    </table>
  </div>

  <div class="section-title">Subscription Details</div>
  <div class="header-table" style="border-top: solid 1px #e0e0e0">
    <table
      mat-table
      [dataSource]="dataSourceSummary2"
      class="gridded-table"
      style="border-bottom: 1px solid #e0e0e0"
    >
      <ng-container *ngFor="let column of displayedColumnsSummary2">
        <ng-container [matColumnDef]="column">
          <!-- Header Row -->
          <th mat-header-cell *matHeaderCellDef>
            {{ removeUnderscores(column) }}
          </th>

          <!-- Data Row -->
          <td mat-cell *matCellDef="let element">
            {{ element[column] }}
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsSummary2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSummary2"></tr>
    </table>
  </div>

  <div class="section-title">Subscription Line Details</div>
  <div class="card">
    <table
      mat-table
      [dataSource]="dataSourceLine2"
      class="header-card table table-condensed gridded-table"
    >
      <ng-container *ngFor="let column of displayedColumnsLine2">
        <ng-container [matColumnDef]="column">
          <th
            mat-header-cell
            *matHeaderCellDef
            [ngClass]="{
              'no-border-left': column === displayedColumnsLine2[0],
              'no-border-right':
                column ===
                displayedColumnsLine2[displayedColumnsLine2.length - 1]
            }"
          >
            {{ removeUnderscores(column) }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element[column] }}
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsLine2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsLine2"></tr>
    </table>
  </div>

  <p
    style="
      display: inline-flex;
      justify-content: flex-end;
      font-size: 11px;
      margin-top: -10px;
    "
  >
    O2C: Details for Order {{ orderId }}
  </p>
</div>
