:host {
  display: block;
  /* Create a linear gradient background */
  background: linear-gradient(
    to right,
    white 0%,
    #f7f7f7 3.5%,
    #f7f7f7 50%,
    #f7f7f7 97.5%,
    white 100%
  );
  /* background: #f7f7f7; */
  min-height: 100vh; /* Ensure it covers the entire height of the viewport */
  padding: 1.2rem; /* Add padding to keep spacing from the edges */
  font-family: "Inter", sans-serif;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  color: #373c42;
  margin: 0px;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  color: #373c42;
  margin: 0px;
}

/* Grid container for 3x3 layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 3 columns */
  grid-auto-rows: minmax(300px, auto);
  gap: 1.2rem; /* Spacing between cards */
  padding-top: 1.2rem; /* Add some padding to the grid */
}

/* Fallback for empty grid spots */
.grid-item {
  display: flex;
  align-items: stretch;
}

.card,
.container {
  position: relative;
  display: block;
  padding: 18px;
  background-color: #fff;
  border: 2px solid #e1e4e8;
  border-radius: 8px;
  transition: all linear 0.5s;
  width: 100%;
}

.container {
  padding: 24px;
  border: 0px;
  border-radius: 12px;
  box-shadow: 0 3px 8px #00000014;
}

.card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.card-stack {
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  gap: 16px;
  justify-content: flex-start;
}

.card-title-stack {
  align-items: stretch;
  display: flex;
  flex: 0 1 auto;
  flex-flow: column;
  gap: 2px;
  justify-content: flex-start;
}

.card-title {
  font-size: 14px;
  font-weight: 600;
  color: #373c42;
  margin: 0px;
}

.card-subtitle {
  font-size: 12px;
  font-weight: 400;
  color: #596069;
  margin: 0px;
}

.card-placeholder {
  height: 20vh;
  align-items: stretch;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row;
  gap: 0px;
  justify-content: flex-start;
  background-color: #f7f7f7;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* Make the layout responsive by stacking the cards in a single column on smaller screens */
  .grid-container {
    grid-template-columns: 1fr; /* Single column layout */
  }
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  align-content: center;
}

.progress-item {
  display: flex;
  align-items: center;
}

.progress-caption {
  margin-left: 10px; /* Add spacing between circle and text */
}

.caption-title {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  text-wrap: nowrap;
}

.caption-subtitle {
  font-size: 11px;
  color: gray;
  margin: 0;
  text-wrap: nowrap;
}

.card-status {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Light background for the status bar */
  color: #3b7bd9; /* Example color for text */
  padding: 8px;
  border-top: 1px solid #e1e4e8; /* Separate the bar visually */
  font-size: 14px;
  font-weight: 500;
  margin: 0 -18px -18px -18px;
  border-radius: 0 0 6px 6px;
}

/* Status icon styling */
.status-icon {
  margin: 0 -26px 0 10px; /* Space between icon and text */
  font-size: 16px; /* Adjust icon size */
  color: #28a745; /* Example color for a positive status icon */
}

/* Status text styling */
.status-text {
  text-align: center;
  flex-grow: 1; /* Center the text within the bar */
  color: #3b7bd9; /* Ensure it matches the desired color scheme */
}

.small-loading-container {
  min-height: calc(10px + 1.3vw);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
