<br />

<h2>Invoice Tracker</h2>

<br />
<div style="display: flex; justify-content: space-between; align-items: center">
  <div style="display: flex; justify-content: start; align-items: flex-end">
    <h4 style="padding: 10px">Line Level Control</h4>
  </div>
</div>

<div class="periodclosetable sortArrow" style="overflow: auto; max-width: 100%">
  <table
    style="width: -webkit-fill-available; text-align: center"
    mat-table
    [dataSource]="dataSourceLine"
    matSort
    #lineSort="matSort"
    class="mat-elevation-z6 table-responsive table"
    aria-describedby="Invoice tracker table"
  >
    <tr
      mat-header-row
      *matHeaderRowDef="lineColumns"
      style="align-items: center !important"
    ></tr>

    <tr mat-row *matRowDef="let row; columns: lineColumns"></tr>

    <ng-container *ngFor="let column of lineColumns" [matColumnDef]="column">
      <th class="custom-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ formatHeader(column) }}
      </th>
      <td class="custom-cell" mat-cell *matCellDef="let record">
        {{ formatColumn(column, record[column]) }}
      </td>
    </ng-container>
  </table>
</div>
<mat-paginator
  #linePaginator
  [pageSize]="10"
  length="lengthLine"
  [pageSizeOptions]="[]"
  showFirstLastButtons
  aria-label="Select page"
>
</mat-paginator>
<div style="display: flex; justify-content: center">
  <ng-container *ngIf="!dataSourceLine?.data?.length">
    <tr>
      <td colspan="100%" style="text-align: center">
        <app-loading-symbol></app-loading-symbol>
      </td>
    </tr>
  </ng-container>
</div>

<br />

<div>
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div style="display: flex; justify-content: start; align-items: flex-end">
      <h4 style="padding: 10px">Header Level Control</h4>
    </div>
  </div>
  <div
    class="periodclosetable sortArrow"
    style="overflow: auto; max-width: 100%"
  >
    <table
      style="width: -webkit-fill-available"
      mat-table
      [dataSource]="dataSourceHeader"
      matSort
      #headerSort="matSort"
      class="table table-responsive mat-elevation-z8"
      aria-describedby="Invoice tracker table"
    >
      <tr
        mat-header-row
        *matHeaderRowDef="headerColumns"
        style="text-align: center"
      ></tr>

      <tr mat-row *matRowDef="let row; columns: headerColumns"></tr>

      <ng-container
        *ngFor="let column of headerColumns"
        [matColumnDef]="column"
      >
        <th
          class="custom-cell"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          {{ formatHeader(column) }}
        </th>
        <td class="custom-cell" mat-cell *matCellDef="let record">
          {{
            column === "TRX_DATE"
              ? (record[column] | date : "M/d/yyyy")
              : column === "USD AMOUNT"
              ? "$" + record[column]
              : record[column]
          }}
        </td>
      </ng-container>
    </table>
  </div>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!dataSourceHeader?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    #headerPaginator
    [pageSize]="10"
    [length]="lengthHeader"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<br /><br />
