<h3>Contract Asset Balances</h3>

<cui-modal></cui-modal>

<div class="tableFilter givemespace">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group input--icon">
                <div class="form-group__text">
                    <input type="search" [ngModel]="subId" (ngModelChange)="onSubIdChange($event)">
                    <label>Subscription ID</label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group input--icon">
                <div class="form-group__text">
                    <input type="search" [ngModel]="itemName" (ngModelChange)="onItemNameChange($event)" />
                    <label>Item Name</label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group input--icon">
                <div class="form-group__text select">
                    <select id="select-type-basic" [ngModel]="selectedTrxStatus" (ngModelChange)="onTrxStatusChange($event)">
                        <option *ngFor="let status of trxStatus" [ngValue]="status" [selected]="status==selectedTrxStatus">{{status}}</option>
                    </select>
                    <label for="select-type-basic">Transaction Status</label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group input--icon">
                <div class="form-group__text">
                    <input type="search" [ngModel]="ouName" (ngModelChange)="onOuNameChange($event)" />
                    <label>OU Name</label>
                    <button type="button" class="link">
                        <span class="icon-"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group input--icon">
                <div class="form-group__text">
                    <input id="input-type-date" type="date" [ngModel]="startDate" (ngModelChange)="onStartDateChange($event)">
                    <label for="input-type-date">Start Date</label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group input--icon">
                <div class="form-group__text">
                    <input id="input-type-date" type="date" [ngModel]="endDate" (ngModelChange)="onEndDateChange($event)">
                    <label for="input-type-date">End Date</label>
                </div>
            </div>
        </div>
    </div>
</div>

<cui-loader *ngIf="cabTableLoading" label="Loading..." color="info"></cui-loader>
<cui-table *ngIf="cabTableAllData.length" [options]="cabTableOptions" [data]="cabTableFiltered" [limit]="limit" [offset]="offset"></cui-table>
<cui-pager *ngIf="cabTableFiltered.length" [page]="offset" [limit]="limit" [totalItems]="size" [showPageDetails]="true" (onPageChanged)="onPageUpdated($event)"></cui-pager>

<ng-template #viewDetails let-item="celldata"><span><a class="link" (click)="viewTrxDetails(item)">View Details</a></span></ng-template>

<ng-template #bdomDateCell let-row="celldata"><span>{{row.BDOM_DATE | date:'dd-MMM-yyyy' }}</span></ng-template>
<ng-template #firstRecordedDateCell let-row="celldata"><span>{{row.FIRST_RECORDED_DATE | date:'dd-MMM-yyyy' }}</span></ng-template>
<ng-template #amountCell let-row="celldata" let-column="celltemplate">
    {{transformNumber(row, column)}}
</ng-template>

<ng-template #commentsCell let-row="celldata"><span id="linebreaks">{{row.COMMENTS}}</span></ng-template>

<ng-template #viewDetailsRow>
    <h3>View Details </h3>
    <cui-loader *ngIf="detailsLoading" label="Loading..." color="info"></cui-loader>
    <cui-table *ngIf="!detailsLoading" [options]="cabDetailsOptions" [data]="cabDetailsData"></cui-table>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="form-group__text select">
                    <select id="select-type-basic" [(ngModel)]="selectedOwner">
                        <option *ngFor="let owner of owners" [ngValue]="owner" [selected]="owner == selectedRow?.OWNER">{{owner}}</option>
                    </select>
                    <label for="select-type-basic">Owner</label>
                </div>
            </div>
        </div>
    </div>
    <cui-input type="textarea" [(model)]="comments" label="Add a comment"></cui-input>

    <button class="btn" (click)="save()">Save</button>
    <button class="btn" (click)="closeModal()">Close</button>
</ng-template>
