<br />
<div>
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 8px;
    "
  >
    <h2>Order Lifecycle Status</h2>
  </div>
  <table
    style="width: -webkit-fill-available"
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z6"
  >
    <!-- OPERATING_UNIT Column -->
    <ng-container matColumnDef="OPERATING_UNIT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Operating Unit</th>
      <td mat-cell *matCellDef="let record">{{ record.OPERATING_UNIT }}</td>
    </ng-container>

    <!-- SALES_ORDER Column -->
    <ng-container matColumnDef="SALES_ORDER">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Order</th>
      <td mat-cell *matCellDef="let record">{{ record.SALES_ORDER }}</td>
    </ng-container>

    <!-- LINE_ID Column -->
    <ng-container matColumnDef="LINE_ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Line ID</th>
      <td mat-cell *matCellDef="let record">{{ record.LINE_ID }}</td>
    </ng-container>

    <!-- TRX_NUMBER Column -->
    <ng-container matColumnDef="TRX_NUMBER">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Trx Number</th>
      <td mat-cell *matCellDef="let record">{{ record.TRX_NUMBER }}</td>
    </ng-container>

    <!-- TRX_DATE Column -->
    <ng-container matColumnDef="TRX_DATE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Trx Date</th>
      <td mat-cell *matCellDef="let record">{{ record.TRX_DATE }}</td>
    </ng-container>

    <!-- CURRENCY Column -->
    <ng-container matColumnDef="CURRENCY">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
      <td mat-cell *matCellDef="let record">{{ record.CURRENCY }}</td>
    </ng-container>

    <!-- LINE_AMOUNT Column -->
    <ng-container matColumnDef="LINE_AMOUNT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Line Amount</th>
      <td mat-cell *matCellDef="let record">{{ record.LINE_AMOUNT }}</td>
    </ng-container>

    <!-- TAX_AMOUNT Column -->
    <ng-container matColumnDef="TAX_AMOUNT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Amount</th>
      <td mat-cell *matCellDef="let record">{{ record.TAX_AMOUNT }}</td>
    </ng-container>

    <!-- ORDERED_ITEM Column -->
    <ng-container matColumnDef="ORDERED_ITEM">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ordered Item</th>
      <td mat-cell *matCellDef="let record">{{ record.ORDERED_ITEM }}</td>
    </ng-container>

    <!-- RULE_START_DATE Column -->
    <ng-container matColumnDef="RULE_START_DATE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rule Start Date</th>
      <td mat-cell *matCellDef="let record">{{ record.RULE_START_DATE }}</td>
    </ng-container>

    <!-- RULE_END_DATE Column -->
    <ng-container matColumnDef="RULE_END_DATE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rule End Date</th>
      <td mat-cell *matCellDef="let record">{{ record.RULE_END_DATE }}</td>
    </ng-container>

    <!-- TRX_TYPE Column -->
    <ng-container matColumnDef="TRX_TYPE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Trx Type</th>
      <td mat-cell *matCellDef="let record">{{ record.TRX_TYPE }}</td>
    </ng-container>

    <!-- PAYMENT_TERM Column -->
    <ng-container matColumnDef="PAYMENT_TERM">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Term</th>
      <td mat-cell *matCellDef="let record">{{ record.PAYMENT_TERM }}</td>
    </ng-container>

    <!-- COLLECTOR_NAME Column -->
    <ng-container matColumnDef="COLLECTOR_NAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Collector Name</th>
      <td mat-cell *matCellDef="let record">{{ record.COLLECTOR_NAME }}</td>
    </ng-container>

    <!-- BILL_TO_CUSTOMER_NAME Column -->
    <ng-container matColumnDef="BILL_TO_CUSTOMER_NAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Bill To Customer Name
      </th>
      <td mat-cell *matCellDef="let record">
        {{ record.BILL_TO_CUSTOMER_NAME }}
      </td>
    </ng-container>

    <!-- STATUS Column -->
    <ng-container matColumnDef="STATUS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let record">{{ record.STATUS }}</td>
    </ng-container>

    <!-- Accounting Column -->
    <ng-container matColumnDef="Accounting">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Accounting</th>
      <td mat-cell *matCellDef="let record">{{ record.Accounting }}</td>
    </ng-container>

    <!-- GL Posting Column -->
    <ng-container matColumnDef="GL_Posting">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GL Posting</th>
      <td mat-cell *matCellDef="let record">{{ record.GL_Posting }}</td>
    </ng-container>

    <!-- Table header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Table rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!dataSource?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    [pageSize]="15"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<br />
