<div style="display: flex; height: calc(90vh - 78px)">
  <div class="o2c-sidebar" [class.collapsed]="collapsed">
    <button class="menu-button" (click)="toggleSidebar()">
      <i class="fa fa-bars"></i>
      <span>Search Results</span>
    </button>

    <nav>
      @for (item of navItems; track item) {
        <div
          class="nav-item"
          [class.active]="item.label === activeItem"
          (click)="selectItem(item.label)"
          >
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
          @if (item.count !== undefined) {
            <span class="count">
              {{ item.count }}
            </span>
          }
        </div>
      }
    </nav>
  </div>
  <button class="collapse-toggle" (click)="toggleSidebar()">
    <i
      [ngClass]="
        collapsed
          ? 'chevron-icon chevron-alignment-close'
          : 'chevron-icon chevron-alignment-open'
      "
    ></i>
  </button>
</div>
