<div style="float: right; margin-top: 5px">
  Dashboard updated: Today at {{ timeNow }}
</div>
<h4 style="margin-left: 10px; margin-top: 5px">
  AR Period Close Progress: Mid-close
</h4>
<div style="overflow-x: hidden; padding-left: 10px">
  <div>
    <div class="row">
      <span class="col-sm-9" style="float: left; font-size: small">
        <p>
          <label>Expected Start Time:</label> &nbsp;
          {{ midCloseStartTime }} &nbsp;|&nbsp;
          <label>Expected End Time:</label> &nbsp;
          {{ midCloseEndTime }}
          <br />
          <label>Actual End Time:</label> &nbsp;
          {{ midCloseActualEndTime }} &nbsp;|&nbsp;
          <label>Estimated Completion Time:</label> &nbsp;
          {{ mcloseEstimatedCompletionTime }}
        </p>
      </span>
      <span class="col-sm-3">
        <p style="float: right; font-size: 15px">
          <label>Quarter:</label> &nbsp; {{ midcloseQuarter }} &nbsp;|&nbsp;
          <label>Period:</label> &nbsp;
          {{ midclosePeriod }}
        </p>
      </span>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <br />
        <h4>&nbsp;Entity View</h4>
      </div>
      <div class="col-sm-5" style="text-align: center; margin-top: 10px">
        <br />
        Legend: ✓ Completed &nbsp; ⏳ In progress &nbsp; ⚠️ Delayed &nbsp; 🛑
        Stopped &nbsp; ⏸️ Yet to start
      </div>
      <div class="col-sm-4">
        <div style="float: right">
          <span *ngIf="showmidStatusFilter">
            <mat-form-field appearance="standard" a>
              <mat-label>Select Statuses</mat-label>
              <mat-select
                [formControl]="midcloseStatuses"
                id="status"
                name="status"
                multiple
              >
                <mat-option
                  *ngFor="let status of statusList"
                  [value]="status"
                  (onSelectionChange)="statusChange('MIDCLOSE')"
                  [disabled]="status !== 'All' && midcloseAllStatusSelected"
                  >{{ status }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </span>
          &nbsp;&nbsp;
          <span>
            <mat-form-field appearance="standard" a>
              <mat-label>Select Entites</mat-label>
              <mat-select
                [formControl]="midcloseEntities"
                id="entity"
                name="entity"
                multiple
              >
                <mat-option
                  *ngFor="let entity of entityList"
                  [value]="entity"
                  (onSelectionChange)="entityChange('MIDCLOSE')"
                  [disabled]="entity !== 'All' && midcloseAllEntitiesSelected"
                  >{{ entity }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </span>
        </div>
      </div>
    </div>

    <div class="periodclosetable">
      <table class="table table-responsive equal-width table-striped">
        <thead>
          <tr>
            <th *ngFor="let col of meStatusColumns">{{ col }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngIf="
              midcloseSelectedEntities && midcloseSelectedEntities.length > 0
            "
          >
            <td></td>
            <td
              *ngFor="
                let category of templateObject.keys(mCloseProgBarStatusMapping)
              "
            >
              <p>
                <circle-progress
                  [percent]="mCloseProgBarStatusMapping[category]['value']"
                  [outerStrokeColor]="
                    getCircleColor(
                      category,
                      mcloseSelectedMonthEndStatusTableData
                    )
                  "
                ></circle-progress>
              </p>
            </td>
          </tr>
          <tr
            *ngIf="
              midcloseSelectedEntities && midcloseSelectedEntities.length > 0
            "
          >
            <td *ngFor="let row of mcloseExecutionWindow">{{ row }}</td>
          </tr>
          <tr *ngFor="let row of mcloseSelectedMonthEndStatusTableData">
            <td *ngFor="let category of templateObject.keys(row)">
              <span *ngIf="row[category].toLowerCase() === 'completed'">✓</span>
              <span *ngIf="row[category].toLowerCase() === 'na'">N/A</span>
              <span *ngIf="row[category].toLowerCase() === 'in progress'"
                >⏳</span
              >
              <span *ngIf="row[category].toLowerCase() === 'yet to start'"
                >⏸️</span
              >
              <span
                matTooltipPosition="right"
                matTooltip="Details included in period close communications."
                *ngIf="row[category].toLowerCase() === 'delayed'"
                >⚠️</span
              >
              <span
                matTooltipPosition="right"
                matTooltip="Details included in period close communications."
                *ngIf="row[category].toLowerCase() === 'stopped'"
                >🛑</span
              >
              <span
                *ngIf="
                  [
                    'completed',
                    'na',
                    'in progress',
                    'yet to start',
                    'delayed',
                    'stopped'
                  ].indexOf(row[category].toLowerCase()) === -1
                "
                >{{ row[category] }}</span
              >
            </td>
          </tr>
        </tbody>
      </table>
      <span style="display: flex; justify-content: center">
        <ng-container *ngIf="midcloseSelectedEntities.length == 0">
          <tr>
            <td colspan="100%" style="text-align: center">
              <app-loading-symbol></app-loading-symbol>
            </td>
          </tr>
        </ng-container>
      </span>
    </div>
  </div>
  <br />

  <div class="header-container">
    <h5 class="section-title action-buttons">Interface Load</h5>
    <span style="margin-top: 15px">
      <p>Legend: Number of lines</p>
    </span>
    <div class="action-buttons">
      <button
        mat-icon-button
        (click)="
          exportTableToExcel(
            midcloseInterfaceLoadData,
            'Midclose Interface Load',
            'mcloseInterfaceLoadTableData'
          )
        "
      >
        <i class="svg-icon download-icon"></i>
      </button>
    </div>
  </div>

  <ng-container *ngIf="midcloseInterfaceLoadDatasource?.data?.length">
    <div class="table-container" style="overflow-y: hidden !important">
      <table
        mat-table
        [dataSource]="midcloseInterfaceLoadDatasource"
        class="custom-table table-responsive"
      >
        <ng-container *ngFor="let column of mcloseInterfaceLoadColumns">
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef class="nowrap no-wrap">
              <ng-container [ngSwitch]="column">
                <ng-container *ngSwitchDefault>
                  {{ replaceUnderscoreWithEmpty(column) }}
                </ng-container>
              </ng-container>
            </th>

            <td mat-cell *matCellDef="let element">
              <ng-container [ngSwitch]="column">
                <ng-container *ngSwitchDefault>
                  <span *ngIf="isPercentageColumn(column)">
                    <span *ngIf="element[column] > 0">⬆</span>
                    <span *ngIf="element[column] < 0">⬇</span>
                    {{ element[column] }}%
                  </span>
                  <span *ngIf="!isPercentageColumn(column)">
                    {{ element[column] }}
                  </span>
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="mcloseInterfaceLoadColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: mcloseInterfaceLoadColumns"
        ></tr>
      </table>
    </div>
  </ng-container>
  <br />
  <div class="header-container">
    <h5 class="section-title action-buttons">Invoices Generated</h5>
    <div class="action-buttons">
      <button
        mat-icon-button
        (click)="
          exportTableToExcel(
            midCloseProgramTableData,
            'Midclose Invoices Generated',
            'mcloseInvoicesGeneratedTableData'
          )
        "
      >
        <i class="svg-icon download-icon"></i>
      </button>
    </div>
  </div>
  <ng-container *ngIf="midcloseInvGenDatasource?.data?.length">
    <div class="table-container" style="overflow-y: hidden !important">
      <table
        mat-table
        [dataSource]="midcloseInvGenDatasource"
        class="custom-table table-responsive"
      >
        <ng-container *ngFor="let column of mcloseInvGenTableColumns">
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef class="nowrap no-wrap">
              <ng-container [ngSwitch]="column">
                <ng-container *ngSwitchDefault>
                  {{ replaceUnderscoreWithEmpty(column) }}
                </ng-container>
              </ng-container>
            </th>

            <td mat-cell *matCellDef="let element">
              <ng-container [ngSwitch]="column">
                <ng-container *ngSwitchDefault>
                  {{ element[column] }}
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="mcloseInvGenTableColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: mcloseInvGenTableColumns"
        ></tr>
      </table>
    </div>
  </ng-container>
  <br />

  <div>
    <div class="header-container">
      <h5 class="section-title action-buttons">Cash Posted</h5>
      <div class="action-buttons">
        <button
          mat-icon-button
          (click)="
            exportTableToExcel(
              qeCashCollectedData,
              'Midclose QE Cash Posted',
              'mcloseQECashCollectedData'
            )
          "
        >
          <i class="svg-icon download-icon"></i>
        </button>
      </div>
    </div>
    <ng-container *ngIf="qeCashCollectedDatasource?.data?.length">
      <div class="table-container" style="overflow-y: hidden !important">
        <table
          mat-table
          [dataSource]="qeCashCollectedDatasource"
          class="custom-table table-responsive"
        >
          <ng-container *ngFor="let column of qeCashCollectedTableColumns">
            <ng-container [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef class="nowrap no-wrap">
                <ng-container [ngSwitch]="column">
                  <ng-container *ngSwitchCase="'PERIOD_NAME'">
                    {{ replaceUnderscoreWithEmpty(column) }}
                  </ng-container>

                  <ng-container *ngSwitchDefault>
                    {{ replaceUnderscoreWithDash(column) }}
                  </ng-container>
                </ng-container>
              </th>

              <td mat-cell *matCellDef="let element">
                <ng-container [ngSwitch]="column">
                  <ng-container *ngSwitchDefault>
                    {{ element[column] }}
                  </ng-container>
                </ng-container>
              </td>
            </ng-container>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="qeCashCollectedTableColumns"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: qeCashCollectedTableColumns"
          ></tr>
        </table>
      </div>
    </ng-container>
  </div>

  <mat-divider></mat-divider>
  <br />
  <div>
    <h3 *ngIf="(dashComments && dashComments.length > 0) || showComments">
      Comments
    </h3>
    <form *ngIf="showComments">
      <input
        name="comments"
        class="form-control form-control-sm"
        type="text"
        placeholder="Add a comment"
        [(ngModel)]="updatedComments"
        (focus)="showCommentSave = true"
        style="width: 40%; height: 60px"
      />
      <br />
      <span *ngIf="showCommentSave">
        <button
          mat-raised-button
          (click)="updateComments()"
          style="background-color: gray; color: white"
        >
          Save</button
        >&nbsp;
        <button
          mat-raised-button
          (click)="showCommentSave = false"
          style="color: #049fd9"
        >
          Cancel
        </button>
        <br /><br />
      </span>
    </form>
    <span style="float: right !important">
      For questions, please send an email to:
      <a href="mailto:i2c-close-monitoring@cisco.com">
        i2c-close-monitoring&#64;cisco.com
      </a></span
    >
    <br />
    <mat-divider></mat-divider>
    <br />
    <div>
      <div *ngFor="let comment of dashComments">
        <ul *ngIf="comment.CLOSE_TYPE === 'MIDCLOSE'">
          <li>
            <p style="margin-bottom: 10px">
              <b>Admin</b> &nbsp;
              <span style="color: #6b6a6a">{{ comment.CREATION_DATE }}</span>
            </p>
            <p>{{ comment.PERIOD_NAME }}: {{ comment.COMMENTS }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <br />
  <br />
</div>
