<div style="float: right; margin-top: 5px">
  Dashboard updated: Today at {{ timeNow }}
</div>
<h4 style="margin-left: 10px; margin-top: 5px">
  AR Period Close Progress: Mid-close
</h4>
<div style="overflow-x: hidden; padding-left: 10px">
  <div>
    <div class="row">
      <span class="col-sm-9" style="float: left; font-size: small">
        <p>
          <label>Expected Start Time:</label> &nbsp;
          {{ midCloseStartTime }} &nbsp;|&nbsp;
          <label>Expected End Time:</label> &nbsp;
          {{ midCloseEndTime }}
          <br />
          <label>Actual End Time:</label> &nbsp;
          {{ midCloseActualEndTime }} &nbsp;|&nbsp;
          <label>Estimated Completion Time:</label> &nbsp;
          {{ mcloseEstimatedCompletionTime }}
        </p>
      </span>
      <span class="col-sm-3">
        <p style="float: right; font-size: 15px">
          <label>Quarter:</label> &nbsp; {{ midcloseQuarter }} &nbsp;|&nbsp;
          <label>Period:</label> &nbsp;
          {{ midclosePeriod }}
        </p>
      </span>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-sm-3;">
        <br />
        <h2>Entity View</h2>
      </div>
      <div class="col-sm-5" style="text-align: center; margin-top: 10px">
        <br />
        Legend: ✓ Completed &nbsp; ⏳ In progress &nbsp; ⚠️ Delayed &nbsp; 🛑
        Stopped &nbsp; ⏸️ Yet to start
      </div>
      <div class="col-sm-4">
        <div style="float: right">
          <span *ngIf="showmidStatusFilter">
            <mat-form-field appearance="standard" a>
              <mat-label>Select Statuses</mat-label>
              <mat-select
                [formControl]="midcloseStatuses"
                id="status"
                name="status"
                multiple
              >
                <mat-option
                  *ngFor="let status of statusList"
                  [value]="status"
                  (onSelectionChange)="statusChange('MIDCLOSE')"
                  [disabled]="status !== 'All' && midcloseAllStatusSelected"
                  >{{ status }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </span>
          &nbsp;&nbsp;
          <span>
            <mat-form-field appearance="standard" a>
              <mat-label>Select Entites</mat-label>
              <mat-select
                [formControl]="midcloseEntities"
                id="entity"
                name="entity"
                multiple
              >
                <mat-option
                  *ngFor="let entity of entityList"
                  [value]="entity"
                  (onSelectionChange)="entityChange('MIDCLOSE')"
                  [disabled]="entity !== 'All' && midcloseAllEntitiesSelected"
                  >{{ entity }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="periodclosetable">
    <table class="table table-responsive equal-width">
      <thead>
        <tr>
          <th *ngFor="let col of meStatusColumns">{{ col }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngIf="
            midcloseSelectedEntities && midcloseSelectedEntities.length > 0
          "
        >
          <td></td>
          <td
            *ngFor="
              let category of templateObject.keys(mCloseProgBarStatusMapping)
            "
          >
            <p>
              <circle-progress
                [percent]="mCloseProgBarStatusMapping[category]['value']"
                [outerStrokeColor]="
                  getCircleColor(
                    category,
                    mcloseSelectedMonthEndStatusTableData
                  )
                "
              ></circle-progress>
            </p>
          </td>
        </tr>
        <tr
          *ngIf="
            midcloseSelectedEntities && midcloseSelectedEntities.length > 0
          "
        >
          <td *ngFor="let row of mcloseExecutionWindow">{{ row }}</td>
        </tr>
        <tr *ngFor="let row of mcloseSelectedMonthEndStatusTableData">
          <td *ngFor="let category of templateObject.keys(row)">
            <span *ngIf="row[category].toLowerCase() === 'completed'">✓</span>
            <span *ngIf="row[category].toLowerCase() === 'na'">N/A</span>
            <span *ngIf="row[category].toLowerCase() === 'in progress'"
              >⏳</span
            >
            <span *ngIf="row[category].toLowerCase() === 'yet to start'"
              >⏸️</span
            >
            <span
              matTooltipPosition="right"
              matTooltip="Details included in period close communications."
              *ngIf="row[category].toLowerCase() === 'delayed'"
              >⚠️</span
            >
            <span
              matTooltipPosition="right"
              matTooltip="Details included in period close communications."
              *ngIf="row[category].toLowerCase() === 'stopped'"
              >🛑</span
            >
            <span
              *ngIf="
                [
                  'completed',
                  'na',
                  'in progress',
                  'yet to start',
                  'delayed',
                  'stopped'
                ].indexOf(row[category].toLowerCase()) === -1
              "
              >{{ row[category] }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <span style="display: flex; justify-content: center">
      <ng-container *ngIf="midcloseSelectedEntities.length == 0">
        <tr>
          <td colspan="100%" style="text-align: center">
            <app-loading-symbol></app-loading-symbol>
          </td>
        </tr>
      </ng-container>
    </span>
  </div>

  <mat-divider></mat-divider>
  <br />
  <h2>Interface Load</h2>
  <div class="header-container">
    <p>Legend: &nbsp;&nbsp; Number of lines</p>
    <button
      mat-stroked-button
      (click)="
        exportTableToExcel(
          midcloseInterfaceLoadTableData,
          'Midclose Interface Load',
          'mcloseInterfaceLoadTableData'
        )
      "
    >
      Download
    </button>
  </div>
  <div class="periodclosetable">
    <table class="table table-responsive table-bordered table-striped">
      <thead>
        <tr>
          <th *ngFor="let col of mcloseInterfaceLoadColumns">{{ col }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of midcloseInterfaceLoadTableData">
          <ng-container
            *ngFor="let key of templateObject.keys(row); let i = index"
          >
            <td *ngIf="i < templateObject.keys(row).length - 2">
              {{ row[key] }}
            </td>
            <td *ngIf="i >= templateObject.keys(row).length - 2">
              <span *ngIf="row[key].slice(0, -1) > 0">⬆ {{ row[key] }}</span>
              <span *ngIf="row[key].slice(0, -1) < 0"
                >⬇ {{ getAbsoluteValue(row[key].slice(0, -1)) }}%</span
              >
              <span *ngIf="row[key].slice(0, -1) == 0">0%</span>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-divider></mat-divider>
  <br />
  <div class="header-container">
    <h2>Invoices Generated</h2>
    <button
      mat-stroked-button
      (click)="
        exportTableToExcel(
          midCloseProgramTableData,
          'Midclose Invoices Generated',
          'mcloseInvoicesGeneratedTableData'
        )
      "
    >
      Download
    </button>
  </div>
  <!-- <cui-table
    *ngIf="midCloseProgramTableData.length"
    [options]="mcloseInvGenTableOptions"
    [data]="midCloseProgramTableData"
    class="cuiAlign periodclosetable"
  ></cui-table> -->

  <div class="periodclosetable">
    <table
      *ngIf="midCloseProgramTableData.length"
      class="table table-striped table-bordered"
    >
      <thead>
        <tr>
          <th *ngFor="let column of mcloseInvGenTableColumns">
            {{ replaceUnderscoreWithEmpty(column) }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of midCloseProgramTableData">
          <td *ngFor="let column of mcloseInvGenTableColumns">
            {{ row[column] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-divider></mat-divider>
  <br />
  <div *ngIf="isQuarterEnd" class="header-container">
    <h2 id="tableHeading" *ngIf="qeCashCollectedData.length">Cash Posted</h2>
    <button
      mat-stroked-button
      (click)="
        exportTableToExcel(
          qeCashCollectedData,
          'Midclose QE Cash Posted',
          'mcloseQECashCollectedData'
        )
      "
    >
      Download
    </button>
  </div>
  <!-- <cui-table
    *ngIf="isQuarterEnd && qeCashCollectedData.length"
    [options]="qeCashCollectedTableOptions"
    [data]="qeCashCollectedData"
    class="cuiAlign periodclosetable"
  ></cui-table> -->
  <div class="periodclosetable" *ngIf="isQuarterEnd">
    <table
      *ngIf="qeCashCollectedData.length"
      class="table table-striped table-bordered"
    >
      <thead>
        <tr>
          <th *ngFor="let column of qeCashCollectedTableColumns">
            {{ replaceUnderscoreWithDash(column) }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of qeCashCollectedData">
          <td *ngFor="let column of qeCashCollectedTableColumns">
            {{ row[column] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-divider></mat-divider>
  <br />
  <div>
    <h3 *ngIf="(dashComments && dashComments.length > 0) || showComments">
      Comments
    </h3>
    <form *ngIf="showComments">
      <input
        name="comments"
        class="form-control form-control-sm"
        type="text"
        placeholder="Add a comment"
        [(ngModel)]="updatedComments"
        (focus)="showCommentSave = true"
        style="width: 40%; height: 60px"
      />
      <br />
      <span *ngIf="showCommentSave">
        <button
          mat-raised-button
          (click)="updateComments()"
          style="background-color: #049fd9; color: white"
        >
          Save</button
        >&nbsp;
        <button
          mat-raised-button
          (click)="showCommentSave = false"
          style="color: #049fd9"
        >
          Cancel
        </button>
        <br /><br />
      </span>
    </form>
    <span style="float: right !important">
      For questions, please send an email to:
      <a href="mailto:i2c-close-monitoring@cisco.com">
        i2c-close-monitoring&#64;cisco.com
      </a></span
    >
    <br />
    <mat-divider></mat-divider>
    <br />
    <div>
      <div *ngFor="let comment of dashComments">
        <ul *ngIf="comment.CLOSE_TYPE === 'MIDCLOSE'">
          <li>
            <p style="margin-bottom: 10px">
              <b>Admin</b> &nbsp;
              <span style="color: #6b6a6a">{{ comment.CREATION_DATE }}</span>
            </p>
            <p>{{ comment.PERIOD_NAME }}: {{ comment.COMMENTS }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <br />
  <br />
</div>
