:host {
  display: block;
  /* Create a linear gradient background */
  background: white;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 0px 0 0px 0;
  margin-bottom: 0px !important;
  border: 0px;
  border-radius: 12px;
  box-shadow: 0 3px 8px #00000014;
}

th {
  text-align: center !important;
  border-bottom: 2px solid #373c42 !important;
  background-color: #ffffff !important;
  font-weight: 600;
}

#editCloseTime:hover {
  cursor: pointer;
}

td {
  text-align: center !important;
  font-weight: 500;
}

.legendIcon {
  color: darkgrey;
}

.legendIcon:hover .tooltiptext {
  visibility: visible;
}

#tableHeading {
  text-align: left !important;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

::ng-deep .mat-ink-bar {
  background-color: #049fd9 !important;
}

::ng-deep .mat-select-panel {
  max-height: 500px !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 8px;
}

.cuiAlign {
  text-align: center !important;
}
