<!-- Page Title Container -->
<div class="section-title" style="margin: 1rem 2rem -1rem 2rem">
  AR Period Close Progress: Mid-close
  <span style="flex: 1"></span>
  <span class="card-subtitle"> Dashboard updated: Today at {{ timeNow }} </span>
</div>

<!-- Summary Container -->
<app-card [container]="false">
  <div class="card-title-stack">
    <div class="section-title summary-row">
      <div class="card-title summary-left">
        Quarter: {{ midcloseQuarter }}<br />
        Period: {{ midclosePeriod }}
      </div>
      <div class="card-subtitle summary-right">
        <div style="display: flex; flex-direction: column">
          <span><b>Expected Start Time:</b> {{ midCloseStartTime }}</span>
          <span><b>Actual End Time:</b> {{ midCloseActualEndTime }}</span>
        </div>
        <div style="display: flex; flex-direction: column">
          <span><b>Expected End Time:</b> {{ midCloseEndTime }}</span>
          <span
            ><b>Estimated Completion Time:</b>
            {{ mcloseEstimatedCompletionTime }}</span
          >
        </div>
      </div>
    </div>
  </div>
</app-card>

<!-- Entity View -->
<app-card [container]="true" style="margin-bottom: 12px">
  <div class="section-title" style="display: flex; align-items: center">
    Entity View
    <span style="flex: 1">
      <div class="card-subtitle entity-legend">
        Legend: ✓ Completed &nbsp; ⏳ In progress &nbsp; ⚠️ Delayed &nbsp; 🛑
        Stopped &nbsp; ⏸️ Yet to start
      </div>
    </span>
    <div class="entity-controls">
      <mat-form-field appearance="outline">
        <mat-label>Select Statuses</mat-label>
        <mat-select [formControl]="midcloseStatuses" multiple>
          <mat-option
            *ngFor="let status of statusList"
            [value]="status"
            (onSelectionChange)="statusChange('MIDCLOSE')"
            [disabled]="status !== 'All' && midcloseAllStatusSelected"
          >
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Select Entities</mat-label>
        <mat-select [formControl]="midcloseEntities" multiple>
          <mat-option
            *ngFor="let entity of entityList"
            [value]="entity"
            (onSelectionChange)="entityChange('MIDCLOSE')"
            [disabled]="entity !== 'All' && midcloseAllEntitiesSelected"
          >
            {{ entity }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="periodclosetable">
    <table class="table table-responsive equal-width table-striped">
      <thead>
        <tr>
          <th *ngFor="let col of meStatusColumns">{{ col }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngIf="
            midcloseSelectedEntities && midcloseSelectedEntities.length > 0
          "
        >
          <td></td>
          <td
            *ngFor="
              let category of templateObject.keys(mCloseProgBarStatusMapping)
            "
          >
            <p class="circle-progress-container">
              <circle-progress
                [titleFontSize]="'12'"
                [unitsFontSize]="'12'"
                [percent]="mCloseProgBarStatusMapping[category]['value']"
                [outerStrokeColor]="
                  getCircleColor(
                    category,
                    mcloseSelectedMonthEndStatusTableData
                  )
                "
              >
              </circle-progress>
            </p>
          </td>
        </tr>
        <tr
          *ngIf="
            midcloseSelectedEntities && midcloseSelectedEntities.length > 0
          "
        >
          <td *ngFor="let row of mcloseExecutionWindow">{{ row }}</td>
        </tr>
        <tr *ngFor="let row of mcloseSelectedMonthEndStatusTableData">
          <td *ngFor="let category of templateObject.keys(row)">
            <span *ngIf="row[category].toLowerCase() === 'completed'">✓</span>
            <span *ngIf="row[category].toLowerCase() === 'na'">N/A</span>
            <span *ngIf="row[category].toLowerCase() === 'in progress'"
              >⏳</span
            >
            <span *ngIf="row[category].toLowerCase() === 'yet to start'"
              >⏸️</span
            >
            <span
              matTooltip="Details included in period close communications."
              matTooltipPosition="right"
              *ngIf="row[category].toLowerCase() === 'delayed'"
              >⚠️</span
            >
            <span
              matTooltip="Details included in period close communications."
              matTooltipPosition="right"
              *ngIf="row[category].toLowerCase() === 'stopped'"
              >🛑</span
            >
            <span
              *ngIf="
                [
                  'completed',
                  'na',
                  'in progress',
                  'yet to start',
                  'delayed',
                  'stopped'
                ].indexOf(row[category].toLowerCase()) === -1
              "
            >
              {{ row[category] }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <span style="display: flex; justify-content: center">
      <ng-container *ngIf="midcloseSelectedEntities.length == 0">
        <tr>
          <td colspan="100%" class="centered">
            <app-loading-symbol></app-loading-symbol>
          </td>
        </tr>
      </ng-container>
    </span>
  </div>
</app-card>

<!-- Interface Load Container -->
<app-card [container]="true">
  <ng-container *ngIf="midcloseInterfaceLoadDatasource?.data?.length">
    <app-table
      [title]="'Interface Load'"
      [dataSource]="midcloseInterfaceLoadDatasource"
      [displayedColumns]="mcloseInterfaceLoadColumns"
      exportFileName="Midclose_Interface_Load"
    ></app-table>
  </ng-container>
  <div *ngIf="!midcloseInterfaceLoadDatasource?.data?.length">
    <app-loading-symbol></app-loading-symbol>
  </div>
</app-card>

<!-- Invoices Generated Container -->
<app-card [container]="true">
  <ng-container *ngIf="midcloseInvGenDatasource?.data?.length">
    <app-table
      [title]="'Invoices Generated'"
      [dataSource]="midcloseInvGenDatasource"
      [displayedColumns]="mcloseInvGenTableColumns"
      exportFileName="Midclose_Invoices_Generated"
    ></app-table>
  </ng-container>
  <div *ngIf="!midcloseInvGenDatasource?.data?.length">
    <app-loading-symbol></app-loading-symbol>
  </div>
</app-card>

<!-- Cash Posted Container -->
<app-card [container]="true">
  <ng-container *ngIf="qeCashCollectedDatasource?.data?.length">
    <app-table
      [title]="'Cash Posted'"
      [dataSource]="qeCashCollectedDatasource"
      [displayedColumns]="qeCashCollectedTableColumns"
      exportFileName="Midclose_QE_Cash_Posted"
    ></app-table>
  </ng-container>
  <div *ngIf="!qeCashCollectedDatasource?.data?.length">
    <app-loading-symbol></app-loading-symbol>
  </div>
</app-card>

<!-- Comments Container -->
<app-card [container]="false">
  <div class="card-title" style="display: flex; align-items: center">
    Comments
    <span style="flex: 1"></span>
    <span class="card-subtitle" style="font-size: 13px">
      For questions, email
      <a href="mailto:i2c-close-monitoring@cisco.com">
        i2c-close-monitoring&#64;cisco.com
      </a>
    </span>
  </div>
  <form *ngIf="showComments">
    <input
      name="comments"
      class="form-control form-control-sm"
      type="text"
      placeholder="Add a comment"
      [(ngModel)]="updatedComments"
      (focus)="showCommentSave = true"
      style="width: 40%; height: 60px"
    />
    <br />
    <span *ngIf="showCommentSave">
      <button
        mat-raised-button
        (click)="updateComments()"
        class="custom-button-primary"
      >
        Save
      </button>
      &nbsp;
      <button
        mat-raised-button
        (click)="showCommentSave = false"
        class="custom-button-secondary"
      >
        Cancel
      </button>
      <br /><br />
    </span>
  </form>
  <div>
    <div *ngFor="let comment of dashComments">
      <ul *ngIf="comment.CLOSE_TYPE === 'MIDCLOSE'">
        <li>
          <p style="margin-bottom: 10px; color: #454444">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
            <b>{{ username }}</b> &nbsp;
            <span style="color: #6b6a6a">{{ comment.CREATION_DATE }}</span>
          </p>
          <p>{{ comment.PERIOD_NAME }}: {{ comment.COMMENTS }}</p>
        </li>
      </ul>
    </div>
  </div>
</app-card>
<br /><br /><br />
