.chart-box {
  position: relative;
  min-width: 30vw;
  margin: 1vw;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--light-base-surface, #fff);
  box-shadow: 0px 1.850000023841858px 6.25px 0px rgba(0, 0, 0, 0.19),
    0px 0.5px 1.75px 0px rgba(0, 0, 0, 0.04);
  padding: 16px 16px 20px 16px;
  gap: 8px;
  transition: width 0.3s ease;
  min-height: 15vw;
}

.chart-box.expanded {
  width: 94.7vw;
  transition: width 1s ease;
}

.table-responsive {
  overflow: auto;
}

.active {
  width: 1500px;
  height: 800px;
}

.expand-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black !important;
  z-index: 2;
  cursor: pointer;
}

.chart-box.expanded .expand-icon {
  transform: rotate(180deg);
}

.table-icon {
  position: absolute;
  right: 32px;
  top: 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  color: black !important;
  margin-left: 10px;
  font-variant: all-small-caps;
}

.table-icon-2 {
  position: absolute;
  right: 58px;
  top: 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  color: black !important;
  margin-left: 10px;
  font-variant: all-small-caps;
}

.table-icon,
.table-icon-2,
.expand-icon:hover {
  text-decoration: none !important;
}

h4 {
  width: calc(100% - 110px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28vw;
  min-height: 15vw;
  width: 100%;
  height: 100%;
}

.table-symbol {
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  padding-right: 6px;
}
