<br />
<div class="row">
  <div class="chart-box">
    <h4>Inbound Errors</h4>

    <a (click)="setTable('kafkaerror')" class="table-icon">
      <i class="fa fa-table table-symbol"></i
    ></a>

    <a (click)="setTable('kafkainbound')" class="table-icon-2">
      <i class="fa fa-table table-symbol"></i
    ></a>

    <a (click)="setChart('inboundError')" class="expand-icon">
      <i class="fa fa-arrows-alt"></i>
    </a>

    <canvas
      baseChart
      [datasets]="kafkaInboundvsErrorchartData"
      [labels]="kafkaInboundvsErrorchartLabels"
      [type]="'line'"
    >
    </canvas>
  </div>

  <div class="chart-box">
    <h4>AR Trxn Missing</h4>
    <a (click)="setTable('artrxnmissing')" class="table-icon">
      <i class="fa fa-table table-symbol"></i
    ></a>
    <a (click)="setChart('artrxnMissing')" class="expand-icon">
      <i class="fa fa-arrows-alt"></i>
    </a>
    <canvas
      baseChart
      [datasets]="arTrxnMissingChartData"
      [labels]="arTrxnMissingChartLabels"
      [options]="chartOptions"
      [type]="'line'"
    >
    </canvas>
  </div>

  <div class="chart-box">
    <h4>Accruals Processing Error</h4>
    <a (click)="setTable('accrualsprocessingerror')" class="table-icon">
      <i class="fa fa-table table-symbol"></i
    ></a>
    <a (click)="setChart('accrualsprocessingError')" class="expand-icon">
      <i class="fa fa-arrows-alt"></i>
    </a>
    <canvas
      baseChart
      [datasets]="accrualsProcessingErrorChartData"
      [labels]="accrualsProcessingErrorChartLabels"
      [options]="chartOptions"
      [type]="'line'"
    >
    </canvas>
  </div>

  <div class="chart-box">
    <h4>Kafka Publish Downstream</h4>
    <a (click)="setTable('kakfapublishdownstream')" class="table-icon">
      <i class="fa fa-table table-symbol"></i
    ></a>
    <a (click)="setChart('kafkapublishDownstream')" class="expand-icon">
      <i class="fa fa-arrows-alt"></i>
    </a>
    <canvas
      baseChart
      [datasets]="kafkaPublishDownstreamChartData"
      [labels]="kafkaPublishDownstreamChartLabels"
      [options]="chartOptions"
      [type]="'line'"
    >
    </canvas>
  </div>

  <div class="chart-box">
    <h4>Accruals Summarization Error</h4>
    <a (click)="setTable('accrualssummarizationerror')" class="table-icon">
      <i class="fa fa-table table-symbol"></i
    ></a>
    <a (click)="setChart('accrualssummarizationError')" class="expand-icon">
      <i class="fa fa-arrows-alt"></i>
    </a>
    <canvas
      baseChart
      [datasets]="accrualsSummarizationErrorChartData"
      [labels]="accrualsSummarizationErrorChartLabels"
      [options]="chartOptions"
      [type]="'line'"
    >
    </canvas>
  </div>

  <div class="chart-box">
    <h4>Accruals Distribution Error</h4>
    <a (click)="setTable('accrualsdistributionerror')" class="table-icon">
      <i class="fa fa-table table-symbol"></i
    ></a>
    <a (click)="setChart('accrualsdistributionError')" class="expand-icon">
      <i class="fa fa-arrows-alt"></i>
    </a>
    <canvas
      baseChart
      [datasets]="accrualsDistributionErrorChartData"
      [labels]="accrualsDistributionErrorChartLabels"
      [options]="chartOptions"
      [type]="'bar'"
    >
    </canvas>
  </div>

  <div class="chart-box">
    <h4>Error Distribution Summarization</h4>
    <a (click)="setTable('errordistributionsummarization')" class="table-icon">
      <i class="fa fa-table table-symbol"></i
    ></a>

    <a (click)="setChart('errordistributionsummarization')" class="expand-icon">
      <i class="fa fa-arrows-alt"></i
    ></a>
    <canvas
      baseChart
      [datasets]="errorDistributionSummarizationChartData"
      [labels]="errorDistributionSummarizationChartLabels"
      [options]="chartOptions"
      [type]="'bar'"
    >
    </canvas>
  </div>
</div>
