.chart-box {
  position: relative;
  min-width: 30vw;
  margin: 1vw;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px;
  background: var(--light-base-surface, #fff);
  box-shadow: 0px 1.850000023841858px 6.25px 0px rgba(0, 0, 0, 0.19),
    0px 0.5px 1.75px 0px rgba(0, 0, 0, 0.04);
  padding: 1vw 1vw 1.5vw 1vw;
  min-height: 15vw;
}

.table-responsive {
  overflow: auto;
}

.expand-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black !important;
  z-index: 2;
  cursor: pointer;
}

.chart-box.expanded .expand-icon {
  transform: rotate(180deg);
}

.table-icon {
  position: absolute;
  right: 32px;
  top: 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  color: black !important;
  margin-left: 10px;
  font-variant: all-small-caps;
}

.table-icon-2 {
  position: absolute;
  right: 58px;
  top: 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  color: black !important;
  margin-left: 10px;
  font-variant: all-small-caps;
}

.table-icon,
.table-icon-2,
.expand-icon:hover {
  text-decoration: none !important;
}

h4 {
  width: calc(100% - 110px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28vw;
  min-height: 14vw;
  width: 100%;
  height: 100%;
}

.table-symbol {
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  padding-right: 6px;
}

.custom-line,
.custom-line-small {
  border: 0;
  height: 1px;
  background-color: #e0e0e0; /* Light gray color */
  width: 70%;
  margin: 1vw auto; /* auto for left and right margins to center the line */
}

.custom-line-small {
  margin: 0.5vw auto; /* Adjust top/bottom margin as needed */
}

.vertical-separator {
  width: 1px;
  height: auto;
  background-color: #e0e0e0;
  margin: 2vw 1vw 2.5vw 1vw;
}

.widget-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* Takes up half the space */
}

.right-content {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Left aligns the text */
  flex: 2; /* Takes up the other half of the space */
}

.icon {
  font-size: 41px;
}

.sub-heads {
  color: #000;
  text-align: center;
  font-family: Roboto Flex;
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 3px;
  text-transform: uppercase;
  width: max-content;
}

.amount {
  font-size: 28px;
  font-weight: 300;
  color: #000000;
  width: max-content;
}
