<br />
<div>
  <div class="flex-container">
    <div class="row">
      <div class="callout-box chart-box canvas-container">
        <h3>Inbound Errors</h3>
        <canvas
          baseChart
          [datasets]="kafkaInboundvsErrorchartData"
          [labels]="kafkaInboundvsErrorchartLabels"
          [type]="'line'"
        >
        </canvas>
        <div class="expand-icon">
          <i
            class="fa fa-arrows-alt"
            aria-hidden="true"
            (click)="setChart('inboundError')"
          ></i>
        </div>
      </div>
      <a (click)="setTable('kafkaError')">
        <div class="callout-box">
          <div class="box-header"></div>
          <div class="box-body">Kafka Errors</div>
        </div>
      </a>

      <a (click)="setTable('kafkaInbound')">
        <div class="callout-box">
          <div class="box-header"></div>
          <div class="box-body">Kafka Inbounds</div>
        </div>
      </a>
      <div class="callout-box chart-box canvas-container">
        <h2>AR Trxn Missing</h2>
        <canvas
          baseChart
          [datasets]="arTrxnMissingChartData"
          [labels]="arTrxnMissingChartLabels"
          [options]="chartOptions"
          [type]="'line'"
        >
        </canvas>
        <div class="expand-icon">
          <i
            class="fa fa-arrows-alt"
            aria-hidden="true"
            (click)="setChart('artrxnMissing')"
          ></i>
        </div>
      </div>
      <a (click)="setTable('artrxnmissing')">
        <div class="callout-box">
          <div class="box-body">AR Trxn Missings</div>
        </div>
      </a>
    </div>
    <div class="row">
      <div class="callout-box chart-box canvas-container">
        <h2>Accruals Processing Error</h2>
        <canvas
          baseChart
          [datasets]="accrualsProcessingErrorChartData"
          [labels]="accrualsProcessingErrorChartLabels"
          [options]="chartOptions"
          [type]="'line'"
        >
        </canvas>
        <div class="expand-icon">
          <i
            class="fa fa-arrows-alt"
            aria-hidden="true"
            (click)="setChart('accrualsprocessingError')"
          ></i>
        </div>
      </div>
      <a (click)="setTable('accrualsprocessingerror')">
        <div class="callout-box">
          <div class="box-body">Accruals Processing Errors</div>
        </div>
      </a>

      <div class="callout-box chart-box canvas-container">
        <h2>Kafka Publish Downstream</h2>
        <canvas
          baseChart
          [datasets]="kafkaPublishDownstreamChartData"
          [labels]="kafkaPublishDownstreamChartLabels"
          [options]="chartOptions"
          [type]="'line'"
        >
        </canvas>
        <div class="expand-icon">
          <i
            class="fa fa-arrows-alt"
            aria-hidden="true"
            (click)="setChart('kafkapublishDownstream')"
          ></i>
        </div>
      </div>
      <a (click)="setTable('kakfapublishdownstream')">
        <div class="callout-box">
          <div class="box-body">Kafka Publish Downstream</div>
        </div>
      </a>
    </div>
    <br />
    <div class="row">
      <div class="callout-box chart-box canvas-container">
        <h2>Accruals Summarization Error</h2>
        <canvas
          baseChart
          [datasets]="accrualsSummarizationErrorChartData"
          [labels]="accrualsSummarizationErrorChartLabels"
          [options]="chartOptions"
          [type]="'line'"
        >
        </canvas>
        <div class="expand-icon">
          <i
            class="fa fa-arrows-alt"
            aria-hidden="true"
            (click)="setChart('accrualssummarizationError')"
          ></i>
        </div>
      </div>
      <a (click)="setTable('accrualssummarizationerror')">
        <div class="callout-box">
          <div class="box-body">Accruals Summarization Errors</div>
        </div>
      </a>
      <div class="callout-box chart-box canvas-container">
        <h2>Accruals Distribution Error</h2>
        <canvas
          baseChart
          [datasets]="accrualsDistributionErrorChartData"
          [labels]="accrualsDistributionErrorChartLabels"
          [options]="chartOptions"
          [type]="'bar'"
        >
        </canvas>
        <div class="expand-icon">
          <i
            class="fa fa-arrows-alt"
            aria-hidden="true"
            (click)="setChart('accrualsdistributionError')"
          ></i>
        </div>
      </div>
      <a (click)="setTable('accrualsdistributionerror')">
        <div class="callout-box">
          <div class="box-body">Accruals Distribution Errors</div>
        </div>
      </a>
    </div>
  </div>
  <div>
    <div class="callout-box chart-box canvas-container">
      <h2>Error Distribution Summarization</h2>
      <canvas
        baseChart
        [datasets]="errorDistributionSummarizationChartData"
        [labels]="errorDistributionSummarizationChartLabels"
        [options]="chartOptions"
        [type]="'bar'"
      >
      </canvas>
      <div class="expand-icon">
        <i
          class="fa fa-arrows-alt"
          aria-hidden="true"
          (click)="setChart('errordistributionSummarization')"
        ></i>
      </div>
    </div>
    <a (click)="setTable('errordistributionsummarization')">
      <div class="callout-box">
        <div class="box-body">Error Distribution Summarization</div>
      </div>
    </a>
  </div>
</div>
