<mat-tab-group (selectedTabChange)="onTabClick($event)">
  <!-- Tab 1: This Quarter vs. Last Quarter -->
  <mat-tab label="This Quarter vs. Last Quarter">
    <div class="grid-2" style="margin: 0 12px">
      <div class="card">
        <div class="chart-canvas">
          <!-- Canvas for Backlog, Inflow, Routed Out, Misrouted -->
          <canvas id="backlogInflowChart"></canvas>
        </div>
        <p class="chart-description">
          <b>Backlog, Inflow, Routed Out, and Resolved</b> - Displays current
          and previous quarter data.
        </p>
      </div>

      <div class="card">
        <div class="chart-canvas">
          <!-- Canvas for PDF and Cancelled -->
          <canvas id="cancelledPdfChart"></canvas>
        </div>
        <p class="chart-description">
          <b>PDF, Routed Out, Misrouted, and Cancelled</b> - Displays current
          and previous quarter data.
        </p>
      </div>
    </div>

    <app-table
      title="Current Quarter Case Summary"
      [dataSource]="dataSourceCurrentQuarter"
      [displayedColumns]="displayedColumnsForCurrentQuarter"
      exportFileName="Current_Quarter_Case_Summary"
      reportLink="https://cisco.sharepoint.com/sites/InvoiceToCashITI2C/I2C%20and%20Rev%20Operate%20and%20Maintain/Forms/AllItems.aspx?newTargetListUrl=%2Fsites%2FInvoiceToCashITI2C%2FI2C%20and%20Rev%20Operate%20and%20Maintain&viewpath=%2Fsites%2FInvoiceToCashITI2C%2FI2C%20and%20Rev%20Operate%20and%20Maintain%2FForms%2FAllItems%2Easpx&id=%2Fsites%2FInvoiceToCashITI2C%2FI2C%20and%20Rev%20Operate%20and%20Maintain%2FWeekly%20ESP%20Case%20Report&viewid=f061e706%2Dfd9d%2D4b4c%2Da779%2D411e9290e79c
    "
      serviceNowLink="https://cisco.service-now.com/nav_to.do?uri=%2F$pa_dashboard.do%3Fsysparm_dashboard%3D6e2f7f0adbcf3340a89e96f8db96193a"
      [extraWideColumns]="['SERVICE_OFFERING']"
    ></app-table>

    <app-table
      title="Aging Backlog"
      [dataSource]="dataSourceAgingBacklog"
      [displayedColumns]="displayedColumnsForAgingBacklog"
      exportFileName="Q4FY24_Aging_Backlog"
      [extraWideColumns]="['SERVICE_OFFERING']"
    ></app-table>

    <br /><br /><br />
  </mat-tab>

  <mat-tab label="Last Quarter vs. Prior Quarter">
    <div class="grid-2" style="margin: 0 12px">
      <div class="card">
        <div class="chart-canvas">
          <!-- Canvas for Backlog, Inflow, Routed Out, Resolved -->
          <canvas id="backlogInflowChartPrior"></canvas>
        </div>
        <p class="chart-description">
          <b>Backlog, Inflow, Routed Out, and Resolved</b> - Displays last
          quarter and the prior quarter data.
        </p>
      </div>

      <div class="card">
        <div class="chart-canvas">
          <!-- Canvas for PDF, Routed Out, Misrouted, and Cancelled -->
          <canvas id="cancelledPdfChartPrior"></canvas>
        </div>
        <p class="chart-description">
          <b>PDF, Routed Out, Misrouted, and Cancelled</b> - Displays last
          quarter and the prior quarter data.
        </p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
