<br />
<div>
  <div style="display: flex; justify-content: space-between">
    <!-- <h1>Error Dashboard</h1> -->
    <!-- <h4>
      <label>Quarter:</label> &nbsp;&nbsp; {{ precloseQuarter }} &nbsp;&nbsp; |
      &nbsp;&nbsp; <label>Period:</label> &nbsp;&nbsp; {{ preclosePeriod }}
    </h4> -->
  </div>

  <!-- <img
    src="assets/viz_dummy.png"
    alt="Error Summary Image"
    style="width: 60vw"
  /> -->
  <h1>Error Summary</h1>
  <div style="display: flex; max-height: 50vh">
    <div class="callout-box chart-box">
      <!-- <canvas id="myChart"></canvas> -->

      <canvas
        baseChart
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="true"
        [type]="'line'"
      ></canvas>
    </div>
    <div class="callout-box chart-box">
      <!-- <canvas id="myChart"></canvas> -->

      <canvas
        baseChart
        [datasets]="chartDataAppName"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="true"
        [type]="'line'"
      ></canvas>
    </div>
  </div>
  <div
    style="
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-height: 30vh;
    "
  >
    <a [routerLink]="['/detail-view']" (click)="viewDetails(lowDollar)">
      <div class="callout-box">
        <div class="box-header">⬇ Top $ Error</div>
        <div class="box-body">${{ lowDollar?.AMOUNT_USD }}</div>
      </div>
    </a>

    <a [routerLink]="['/detail-view']" (click)="viewDetails(mostRecords)">
      <div class="callout-box">
        <div class="box-header">Top Source</div>
        <div class="box-body">
          {{
            mostRecords?.APPLICATION_NAME == "AI_ERROR"
              ? "AI Error"
              : mostRecords?.APPLICATION_NAME
          }}
        </div>
      </div>
    </a>

    <a [routerLink]="['/detail-view']" (click)="viewDetails(lowDollar)">
      <div class="callout-box">
        <div class="box-header">Most Expensive</div>
        <div class="box-body">
          {{
            lowDollar?.ENTITY | truncate | titleCaseWithExceptions : "US" : "UK"
          }}
        </div>
      </div>
    </a>

    <a [routerLink]="['/detail-view']" (click)="viewDetails(highDollar)">
      <div class="callout-box">
        <div class="box-header">⬆ Top $ Error</div>
        <div class="box-body">${{ highDollar?.AMOUNT_USD }}</div>
      </div>
    </a>

    <a [routerLink]="['/detail-view']" (click)="viewDetails(mostRecords)">
      <div class="callout-box">
        <div class="box-header">Most Records</div>
        <div class="box-body">
          {{
            mostRecords?.ENTITY
              | truncate
              | titleCaseWithExceptions : "US" : "UK"
          }}
        </div>
      </div>
    </a>
  </div>
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <form [formGroup]="searchForm" class="search__form">
      <mat-form-field appearance="standard">
        <mat-label>Select Application Name</mat-label>
        <mat-select
          id="appName"
          name="appName"
          formControlName="appName"
          [(value)]="applicationNameFilter"
          multiple
        >
          <mat-option
            *ngFor="let appName of appNameOptions"
            [value]="appName"
            (onSelectionChange)="filter()"
            >{{ appName == "AI_ERROR" ? "AI Error" : appName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="standard">
        <mat-label>Select Batch Source</mat-label>
        <mat-select
          id="batchSource"
          name="batchSource"
          formControlName="batchSource"
          [(value)]="batchSourceFilter"
          multiple
        >
          <mat-option
            *ngFor="let batchSource of batchSourceOptions"
            [value]="batchSource"
            (onSelectionChange)="filter()"
            >{{ batchSource }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="standard">
        <mat-label>Select Entity</mat-label>
        <mat-select
          id="entity"
          name="entity"
          formControlName="entity"
          [(value)]="entityFilter"
          multiple
        >
          <mat-option
            *ngFor="let entity of entityOptions"
            [value]="entity"
            (onSelectionChange)="filter()"
            >{{ entity }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </form>
    <div>
      <button
        mat-stroked-button
        (click)="viewDetails()"
        style="margin-right: 8px"
      >
        {{ selection.hasValue() ? "View Selected" : "View Details" }}
      </button>
      <button mat-stroked-button>Download</button>
    </div>
  </div>
  <table
    style="width: -webkit-fill-available"
    mat-table
    [dataSource]="dataSource"
    matSort
  >
    <!-- Selection Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Period Year Column -->
    <!-- <ng-container matColumnDef="PERIOD_YEAR">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Period Year</th>
      <td mat-cell *matCellDef="let record">{{ record.PERIOD_YEAR }}</td>
    </ng-container> -->

    <!-- Period Name Column -->
    <ng-container matColumnDef="PERIOD_NAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Period Name</th>
      <td mat-cell *matCellDef="let record">{{ record.PERIOD_NAME }}</td>
    </ng-container>

    <!-- Application Name Column -->
    <ng-container matColumnDef="APPLICATION_NAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Application Name
      </th>
      <td mat-cell *matCellDef="let record">
        {{
          record.APPLICATION_NAME == "AI_ERROR"
            ? "AI Error"
            : record.APPLICATION_NAME
        }}
      </td>
    </ng-container>

    <!-- Batch Source Column -->
    <ng-container matColumnDef="BATCH_SOURCE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Batch Source</th>
      <td mat-cell *matCellDef="let record">{{ record.BATCH_SOURCE }}</td>
    </ng-container>

    <!-- Entity Column -->
    <ng-container matColumnDef="ENTITY">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Entity</th>
      <td mat-cell *matCellDef="let record">
        {{ record.ENTITY | titleCaseWithExceptions : "US" : "UK" }}
      </td>
    </ng-container>

    <!-- Transaction Type Column -->
    <ng-container matColumnDef="TRANSACTION_TYPE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Transaction Type
      </th>
      <td mat-cell *matCellDef="let record">{{ record.TRANSACTION_TYPE }}</td>
    </ng-container>

    <!-- Amount USD Column -->
    <ng-container matColumnDef="AMOUNT_USD">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount USD</th>
      <td mat-cell *matCellDef="let record">{{ record.AMOUNT_USD }}</td>
    </ng-container>

    <!-- Number of Records Column -->
    <ng-container matColumnDef="NO_OF_RECORDS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No. of Records</th>
      <td mat-cell *matCellDef="let record">{{ record.NO_OF_RECORDS }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="CREATION_DATE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation Date</th>
      <td mat-cell *matCellDef="let record">{{ record.CREATION_DATE }}</td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="PROCESSED_DATE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Processed Date</th>
      <td mat-cell *matCellDef="let record">{{ record.PROCESSED_DATE }}</td>
    </ng-container> -->

    <!-- Table header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Table rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!dataSource?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    [pageSize]="100"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<br />
