<div
  style="
    background-color: #08ace4;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  "
>
  <!-- Title on the left -->
  <h5 style="margin: 0; font-weight: 450; font-size: 14px">Deal Upload</h5>

  <!-- Icons on the right (Download and Close) -->
  <a style="text-decoration: none; cursor: pointer">
    <i
      class="fa fa-close"
      style="font-size: 16px; color: white"
      (click)="closeDialog('closed')"
    ></i>
  </a>
</div>

<mat-tab-group style="margin: 20px">
  <mat-tab label="File Upload" style="text-align: center">
    <br />
    <div style="display: flex; justify-content: flex-end; align-items: center">
      <a href="../../assets/Large Order Upload Sample.csv" download
        ><i class="svg-icon download-icon" aria-hidden="true"></i>
        <span>&nbsp;Download Sample Template</span>
      </a>
    </div>
    <br />
    <div
      class="file-drop-zone"
      (drop)="onDrop($event)"
      (dragover)="onDragOver($event)"
      cdkDropList
    >
      <i style="color: gray" class="fa fa-2x fa-cloud-upload"></i>
      <p>Drag and drop your file here</p>
      <p>or</p>
      <button mat-raised-button (click)="fileInput.click()">Select File</button>
      <input
        [multiple]="false"
        style="display: none"
        (change)="onFileSelected($event)"
        #fileInput
        type="file"
        accept=".csv"
      />
      <br />
      <br />
      @if (selectedFile) {
      <span>
        <i class="fa fa-close" style="color: gray" (click)="removeFile()"></i>
        File selected:
        <a
          ><b style="font-weight: 500">{{ selectedFile.name }}</b></a
        >
        &nbsp;<i class="fa fa-check-circle" style="color: #32a50f"></i>
      </span>
      } @if (validationError) {
      <mat-error style="text-align: center"
        ><i class="fa fa-times-circle" style="color: #ff052b">
          {{ validationError }}</i
        ></mat-error
      >
      }
    </div>
    <br />
    @if (fileSelected) {
    <div style="text-align: center">
      <button
        class="btn btn-primary"
        mat-stroked-button
        (click)="uploadDealsFile(dialogTemplate)"
        style="color: white"
      >
        Upload
      </button>
    </div>
    }
    <!-- <mat-error
        style="text-align: center; margin-top: 5px"
        *ngIf="noFileSelected"
        >
        <i class="fa fa-times-circle" style="color: #ff052b"> No file selected</i>
      </mat-error> -->
  </mat-tab>
  <mat-tab label="Enter Deals">
    <br />
    <form [formGroup]="updateForm">
      <mat-form-field appearance="outline">
        <mat-label>Program Name</mat-label>
        <input
          matInput
          formControlName="programName"
          placeholder="Enter Program Name"
          name="programName"
          required
        />
        @if (updateForm.get('programName').hasError('required')) {
        <mat-error>Program Name is required</mat-error>
        } @if (updateForm.get('programName').hasError('pattern')) {
        <mat-error
          >Invalid input. Please enter only one Program Name using alphabets
          only.</mat-error
        >
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Account</mat-label>
        <input
          matInput
          formControlName="account"
          placeholder="Enter Account"
          name="account"
          required
        />
        @if (updateForm.get('account').hasError('required')) {
        <mat-error>Account is required</mat-error>
        } @if (updateForm.get('account').hasError('pattern')) {
        <mat-error
          >Invalid input. Please enter only one Account using alphabets
          only.</mat-error
        >
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label
          >Deal Ids ( Please enter comma-separated string of numbers
          )</mat-label
        >
        <input
          matInput
          formControlName="dealIds"
          placeholder="Enter Deal Ids"
          name="dealIds"
          required
        />
        @if (updateForm.get('dealIds').hasError('required')) {
        <mat-error>Deal Ids are required</mat-error>
        } @if (updateForm.get('dealIds').hasError('pattern')) {
        <mat-error>Invalid input. Please enter only numbers.</mat-error>
        }
      </mat-form-field>
    </form>

    <br />
    <div style="text-align: center">
      <button
        mat-stroked-button
        class="btn btn-primary"
        type="submit"
        (click)="submitDealIds(dialogTemplate)"
        style="background-color: gray; color: white"
      >
        Upload
      </button>
    </div>

    @if (validForm) {
    <mat-error style="text-align: center; margin-top: 5px">
      <i class="fa fa-times-circle" style="color: #ff052b">
        Form cannot have empty values</i
      >
    </mat-error>
    }
  </mat-tab>
</mat-tab-group>

<div style="display: flex; justify-content: space-between; align-items: end">
  <ng-template #dialogTemplate>
    <br />
    <h6>
      @if (uploadText === 'Deals upload failed!') {
      <span
        ><i class="fa fa-times-circle fa-lg" style="color: #ff052b"></i
      ></span>
      } @if (uploadText === 'Deals upload successful!') {
      <span
        ><i class="fa fa-check-circle fa-lg" style="color: #32a50f"></i
      ></span>
      }
      <b style="font-weight: 500">&nbsp;{{ uploadText }}</b>
    </h6>
    <br />
    <div style="text-align: center">
      <button
        class="btn btn-primary"
        mat-stroked-button
        (click)="closeOkDialog()"
      >
        Ok
      </button>
    </div>
  </ng-template>
</div>
