<div class="flowchart-container">
  <div class="slider-bar">
    <div
      *ngFor="let step of circleSteps; let i = index"
      [ngStyle]="getSliderBarStyle(i)"
    >
      <div class="circle-wrapper-loop" (click)="navigateToRoute(step)">
        <p class="circle-caption-loop">{{ removeUnderscores(step) }}</p>
        <p class="circle-loop" [ngClass]="getCircleClass(step)"></p>
      </div>

      <div *ngIf="i < circleSteps.length - 1" class="chevron-wrapper-loop">
        <div class="chevron"></div>
        <div class="chevron-white"></div>
      </div>
    </div>
  </div>
</div>
