<div class="flowchart-container">
  <div class="slider-bar">
    <div
      *ngFor="let step of circleSteps; let i = index"
      [ngStyle]="getSliderBarStyle(i)"
    >
      <div class="circle-wrapper-loop" (click)="navigateToRoute(step)">
        <p class="circle-loop" [ngClass]="getCircleClass(step)"></p>
        <p class="circle-caption-loop" [ngClass]="getCaptionClass(step)">
          {{ removeUnderscores(step) }}
        </p>
        <p class="step-value" [ngClass]="getCaptionClass(step)">
          {{ stepValues[step] || "$0" }}
        </p>
      </div>
    </div>
  </div>
</div>
