<br />

<div class="periodclosetbale sortArrow">
  <table
    mat-table
    [dataSource]="kafkaErrorDataSource"
    matSort
    #kafkaErrors="matSort"
    class="mat-elevation-z8 table table-responsive"
  >
    <ng-container
      *ngFor="let column of kafkaErrorsDisplayedColumns"
      matColumnDef="{{ column }}"
    >
      <th class="custom-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ formatColumnHeader(column) }}
      </th>
      <td class="custom-cell" mat-cell *matCellDef="let record">
        {{ record[column] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="kafkaErrorsDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: kafkaErrorsDisplayedColumns"></tr>
  </table>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!kafkaErrorDataSource?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    #kafkaErrorPaginator
    [pageSize]="10"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<div class="periodclosetbale sortArrow">
  <table
    mat-table
    [dataSource]="kafkaInboundDataSource"
    matSort
    #kafkaInboundSort="matSort"
    class="mat-elevation-z8 table table-responsive"
  >
    <ng-container
      *ngFor="let column of kafkaInboundDisplayedColumns"
      matColumnDef="{{ column }}"
    >
      <th class="custom-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ formatColumnHeader(column) }}
      </th>
      <td class="custom-cell" mat-cell *matCellDef="let record">
        {{ record[column] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="kafkaInboundDisplayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: kafkaInboundDisplayedColumns"
    ></tr>
  </table>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!kafkaInboundDataSource?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    #kafkaInboundPaginator
    [pageSize]="10"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<div class="periodclosetbale sortArrow">
  <table
    mat-table
    [dataSource]="arTrxnMissingDataSource"
    matSort
    #arTrxnMissingSort="matSort"
    class="mat-elevation-z8 table table-responsive"
  >
    <ng-container
      *ngFor="let column of aRTrxnMissingDisplayedColumns"
      matColumnDef="{{ column }}"
    >
      <th class="custom-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ formatColumnHeader(column) }}
      </th>
      <td class="custom-cell" mat-cell *matCellDef="let record">
        {{ record[column] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="aRTrxnMissingDisplayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: aRTrxnMissingDisplayedColumns"
    ></tr>
  </table>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!arTrxnMissingDataSource?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    #arTrxnMissingPaginator
    [pageSize]="10"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<div class="periodclosetbale sortArrow">
  <table
    mat-table
    [dataSource]="accrualsProcessingErrorsDataSource"
    matSort
    #accrualsProcessingErrorsSort="matSort"
    class="mat-elevation-z8 table table-responsive"
  >
    <ng-container
      *ngFor="let column of accrualsProcessingErrorDisplayedColumns"
      matColumnDef="{{ column }}"
    >
      <th class="custom-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ formatColumnHeader(column) }}
      </th>
      <td class="custom-cell" mat-cell *matCellDef="let record">
        {{ record[column] }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="accrualsProcessingErrorDisplayedColumns"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: accrualsProcessingErrorDisplayedColumns"
    ></tr>
  </table>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!accrualsProcessingErrorsDataSource?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    #accrualsProcessingErrorsPaginator
    [pageSize]="10"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<div class="periodclosetbale sortArrow">
  <table
    mat-table
    [dataSource]="kafkaPublishDownstreamDataSource"
    matSort
    #kafkaPublishDownstreamSort="matSort"
    class="mat-elevation-z8 table table-responsive"
  >
    <ng-container
      *ngFor="let column of kafkaPublishDownstreamDisplayedColumns"
      matColumnDef="{{ column }}"
    >
      <th class="custom-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ formatColumnHeader(column) }}
      </th>
      <td class="custom-cell" mat-cell *matCellDef="let record">
        {{ record[column] }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="kafkaPublishDownstreamDisplayedColumns"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: kafkaPublishDownstreamDisplayedColumns"
    ></tr>
  </table>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!kafkaPublishDownstreamDataSource?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    #kafkaPublishDownstreamPaginator
    [pageSize]="10"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<div class="periodclosetbale sortArrow">
  <table
    mat-table
    [dataSource]="accrualsSummarizationErrorDataSource"
    matSort
    #accrualsSummarizationErrorSort="matSort"
    class="mat-elevation-z8 table table-responsive"
  >
    <ng-container
      *ngFor="let column of accrualsSummarizationErrorDisplayedColumns"
      matColumnDef="{{ column }}"
    >
      <th class="custom-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ formatColumnHeader(column) }}
      </th>
      <td class="custom-cell" mat-cell *matCellDef="let record">
        {{ record[column] }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="accrualsSummarizationErrorDisplayedColumns"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: accrualsSummarizationErrorDisplayedColumns"
    ></tr>
  </table>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!accrualsSummarizationErrorDataSource?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    #accrualsSummarizationErrorPaginator
    [pageSize]="10"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<div class="periodclosetbale sortArrow">
  <table
    mat-table
    [dataSource]="accrualsDistributionErrorDataSource"
    matSort
    #accrualsDistributionErrorSort="matSort"
    class="mat-elevation-z8 table table-responsive"
  >
    <ng-container
      *ngFor="let column of accrualsDistributionErrorDisplayedColumns"
      matColumnDef="{{ column }}"
    >
      <th class="custom-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ formatColumnHeader(column) }}
      </th>
      <td class="custom-cell" mat-cell *matCellDef="let record">
        {{ record[column] }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="accrualsDistributionErrorDisplayedColumns"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: accrualsDistributionErrorDisplayedColumns"
    ></tr>
  </table>

  <div style="display: flex; justify-content: center">
    <ng-container *ngIf="!accrualsDistributionErrorDataSource?.data?.length">
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    #accrualsDistributionErrorPaginator
    [pageSize]="10"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<div class="periodclosetbale sortArrow">
  <table
    mat-table
    [dataSource]="errorDistributionSummarizationDataSource"
    matSort
    #errorDistributionSummarizationSort="matSort"
    class="mat-elevation-z8 table table-responsive"
  >
    <ng-container
      *ngFor="let column of errorDistributionSummarizationDisplayedColumns"
      matColumnDef="{{ column }}"
    >
      <th class="custom-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ formatColumnHeader(column) }}
      </th>
      <td class="custom-cell" mat-cell *matCellDef="let record">
        {{ record[column] }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="errorDistributionSummarizationDisplayedColumns"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: errorDistributionSummarizationDisplayedColumns
      "
    ></tr>
  </table>

  <div style="display: flex; justify-content: center">
    <ng-container
      *ngIf="!errorDistributionSummarizationDataSource?.data?.length"
    >
      <tr>
        <td colspan="100%" style="text-align: center">
          <app-loading-symbol></app-loading-symbol>
        </td>
      </tr>
    </ng-container>
  </div>

  <mat-paginator
    #errorDistributionSummarizationPaginator
    [pageSize]="10"
    length="length"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>
