.flowchart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  /* background: #ffffff; */
  padding-left: 5px;
  padding-right: 5px;
}

.slider-bar {
  margin-top: 34px;
  position: absolute;
  width: fit-content;
  height: 4px;
  border-radius: 10px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  transition: background 0.3s ease-in-out; /* Smooth transition */
}

.circle-wrapper-loop {
  align-items: center;
  text-align: center;
  position: relative;
  width: 150px;
  top: -24px;
}

.circle-loop {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #08ace4;
  position: relative;
  margin-top: -0px;
  left: 67px;
}

/* Circle states */
.completed-circle {
  background: #00cb5b; /* Green for completed */
}

.current-circle {
  background: #08ace4; /* Blue for current step */
}

.uncompleted-circle {
  background: #16371e43; /* Gray for uncompleted */
}

.circle-caption-loop {
  font-size: 12px;
  color: #333;
  text-align: center;
  margin: 0 0 0 0;
}

.chevron-wrapper-loop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px; /* Matches the circle wrapper width */
  position: relative;
  top: -56px;
  left: 150px;
}

.chevron,
.chevron-white {
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
}

.chevron {
  border-width: 2px 2px 2px 2px;
  border-color: transparent #16371e43 transparent transparent;
  transform: rotate(180deg);
  z-index: 1;
  top: 0px;
}

.chevron-white {
  border-width: 8px 8px 8px 8px;
  border-color: transparent #fcfcfc transparent transparent;
  transform: rotate(180deg);
  margin-left: -4px; /* To overlay on the darker chevron */
  top: 0px;
}

.card {
  overflow-x: auto;
  border: none;
  border-radius: 0px;
  padding: 0;
}

.gridded-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed; /* Ensure fixed table layout */
}

.gridded-table th,
.gridded-table td {
  font-size: 12px;
  width: 11.1%;
  padding: 2px 5px;
  font-weight: bold;
  text-align: left;
  border: none;
  color: #333;
  overflow-x: auto;
  border-right: 1px solid #ddd; /* Border between columns */
  word-wrap: break-word;
  white-space: normal;
  vertical-align: top;
}

/* .gridded-table td {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  border: none;
  border-right: 1px solid #ddd;
} */

.header-table {
  background-color: #f2f2f2 !important;
}

.gridded-table th {
  font-weight: bold;
}

.gridded-table td {
  font-weight: normal;
}

.gridded-table .no-border-left {
  border-left: none;
}

.gridded-table .no-border-right {
  border-right: none;
}

.gridded-table th:last-child,
.gridded-table td:last-child {
  border-right: none;
}

tr.mat-header-row {
  height: unset;
}

.header-table {
  overflow-x: auto;
  background-color: #f4f6f8;
  margin: 0 -5rem;
  padding: 0 5rem;
}

.header-card {
  margin: 0px;
  position: relative;
  transition: all linear 0.5s;
  width: 100%;
  overflow-x: auto;
}

.card-og {
  position: relative;
  display: block;
  padding: 16px;
  background-color: #fff;
  outline: 2px solid #e1e4e8;
  border-radius: 8px;
  transition: all linear 0.5s;
  width: auto;
}

.clickable-cell {
  /* color: #0f5065;  */
  cursor: pointer;
  /* text-decoration: underline; */
  color: #227bb1 !important;
}

.double-width {
  width: 22.2% !important; /* Adjust as needed */
}

.extra-wide {
  width: 33.3% !important;
}

.o2c-rows {
  display: grid;
  gap: 1.2rem;
  padding-top: 1.2rem;
  margin: 1rem 5rem;
}

.section-title {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}

.expander-margin {
  margin: 0 0 -10px -33px;
  font-weight: 700;
}

.header-margins {
  margin: 0 0 -10px 0;
}

tr.mat-row,
tr.mat-footer-row {
  height: fit-content;
}

/* Ensure table headers use ellipsis instead of wrapping */
th.mat-header-cell {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.mat-row:not(:first-child) {
  /* border: 12px solid #991010 !important; */
}

.green-text {
  color: #43a047 !important; /* Green color for "CLOSED" status */
  font-weight: bold;
}
